[2018-03-26 09:17] diedea commented on #229
didn't see this already closed issue, my bad

https://github.com/space10-community/conversational-form/issues/152

[2018-03-26 09:17] #229 closed

[2018-03-26 13:57] diedea opened #230 "multi-line labels for radio buttons"
I need users to choose between different responses with an average length of 50 words.

However, radio buttons with long labels are displayed on only two lines with the need for scrolling sideways if I want to read the whole text (or see the second option - see picture). Ideally, I'd display the buttons vertically stacked, with each label spanning multiple lines.
Once selected, the input displays

[2018-03-27 13:37] venkateshp1231 opened #231 "How to read checkbox and radio button selected values?"
When I use below code to read checkbox and radio button selection values I am just getting the input text values but not checkbox and radio button selected values.

`var formData = conversationalForm.getFormData(true);`

I am getting values for textboxes, but for checkbox and radio buttons I am getting string array containing "on"
I am having a radio button list in form to select the position of t

[2018-03-28 19:34] jenssogaard commented on #231
@venkateshp1231 see [this example](https://codepen.io/space10/pen/xWYGOq). It seems that you haven't set any values on your fields?

Please post more code or a CodePen if you need further assistance.

[2018-03-28 19:47] jenssogaard commented on #230
Hi @diedea. I suggest solving it with custom CSS as it's not something I think we will address in CF.
Try this:
`cf-radio-button.cf-button.animate-in {
			display: block;
			max-width: 200px; // Adjust this to whatever width fits your form
		}`

[2018-03-28 19:52] jenssogaard commented on #228
Hi @BenRacicot. I agree it's not exactly straightforward for users of all skill levels. I'll see what we can do about it. I would be happy to receive any help on implementation as this would speed up the process.

[2018-03-28 20:19] #200 closed

[2018-03-28 20:20] #227 closed

[2018-03-29 00:42] BenRacicot commented on #228
Hey @jenssogaard, thanks for replying! I would be honored to help only my time is suddenly very tight as my startup is ramping up. I did implement the form though on [recruitler.com](https://recruitler.com). I will do my best to see if I can break away at any times for a PR.

[2018-03-29 01:07] dolanb12 commented on #227
Saw the close, but wanted to give a late thank you for the help!

Formspree decided to block AJAX callbacks last month, but I can still redirect users to a confirmation page.

=)

[2018-03-29 07:55] venkateshp1231 commented on #231
@jenssogaard Thank you

[2018-03-29 09:04] venkateshp1231 opened #232 "How to show different error messages for required, pattern and maxlength validation"
How to show different error messages for required, pattern and maxlength validation for a input text element.

Below is the input field in my form with pattern, required and cf-error attributes.

`<input required cf-questions="Hi there! What's your firstname? 😊" type="text" class="form-control" name="firstname" id="name" required="required" maxlength="10" pattern="^[a-zA-Z ]+$" cf-error="Only alph

[2018-03-30 04:03] dolanb12 opened #233 "Change scrollbar color/width with CSS override?"
Just a quick question. Is this possible without instantiating with js?

Here's the chatbot link (bottom of page).
[http://qz1.d9c.myftpupload.com/](url)

Having a blast customizing!

Thanks,

Brendan

[2018-03-30 06:14] jenssogaard commented on #232
Hi @venkateshp1231. maxlength is not implemented yet so I recommend adding that to your pattern or implement [flowStepCallback validation](https://space10-community.github.io/conversational-form/docs/0.9.80/functionality/validation/). Currently, only one error message is supported.

[2018-03-30 06:15] #231 closed

[2018-03-30 06:16] jenssogaard commented on #227
@dolanb12 you are welcome. Yeah, I think you have to be a premium subscriber of Formspree now to take advantage of AJAX requests. Glad it worked out though.

[2018-03-30 12:05] diedea commented on #230
Hey @jenssogaard,

unfortunately, this doesn't solve the issue for me, the width doesn't change at all - solving it with custom CSS is completely fine for me, I'm just unable to find the right parameters for finetuning.

[2018-04-03 06:08] jenssogaard commented on #233
@dolanb12 Yes, I guess you could just override existing CSS for the scrollbar.

[2018-04-03 06:11] jenssogaard commented on #230
@diedea Ok, I can help you if you provide me a link. Maybe you can do a CodePen?

[2018-04-03 16:40] diedea commented on #230
I posted a minimal example here: https://codepen.io/diedea/pen/pLZywK/
My only worry is really the display of the radio buttons in question 3 since I need some space for other content on the left and right.

Thanks a lot for your help!

[2018-04-03 19:00] jenssogaard commented on #230
@diedea I tweaked things a bit - not perfect but it might get you moving forward:

https://codepen.io/space10/pen/qoymMd

[2018-04-04 08:08] diedea commented on #230
thanks a lot, this is completely sufficient for my purposes

[2018-04-04 08:08] #230 closed

[2018-04-06 11:45] melicerte commented on #178
@Rchanger Did you find a solution to submit the data ?
I build the autocomplete logic myself, but I can't make conversational from to proceed to next question.

[2018-04-06 11:54] Rchanger commented on #178
i didn't get your question do you submit the form ? or it does not proceed to next question

[2018-04-06 12:03] melicerte commented on #178
I have an input for getting zipcode-city. The list is loaded via AJAX and manually appended to cf-input as ul > li.
When user clicks on an item, it fills the input with selected item, put the key in an hidden field of the form and removes ul autocomplete list.
From there, I do not know how to automatically go to next question.
User has to focus in the field and press ENTER to do that. But I want t

[2018-04-06 12:43] melicerte commented on #178
@Rchanger finally I came up with triggering click event on the hidden button.
It works :)

[2018-04-07 06:24] will3 commented on #218
problem is,
export function exports cf.ConversationalForm, not cf

[2018-04-08 06:57] AfaanBilal opened #234 "How do I set a custom message for missing user input?"
Hi,

Whenever a user skips a question the message shown on the user side is "Missing input ...".

Is there any way to customize that message?

I've tried the following without effect:
- `cf-user-response-missing` attribute to the input tag
- `dictionaryData` object passed at init with `"user-response-missing"` key

Thanks!

[2018-04-08 09:06] diedea commented on #210
Is there a possibility to stall the display of response options e.g. radio buttons too? So that the user can first read the question thoroughly?

[2018-04-09 13:13] jenssogaard commented on #234
@AfaanBilal you can set this globally for CF by overriding the dictionary. See this [example from the docs](https://space10-community.github.io/conversational-form/docs/0.9.80/localization/). You want to change "user-reponse-missing" (notice the prop name is misspelled...)

[2018-04-09 13:14] jenssogaard commented on #210
@diedea no, not out of the box. You could solve it using some custom CSS to delay the animation.

[2018-04-09 15:28] melicerte opened #235 "Inconsistent documentation for addTags and multiple option"
The example at [https://space10-community.github.io/conversational-form/docs/0.9.80/functionality/formless/](https://space10-community.github.io/conversational-form/docs/0.9.80/functionality/formless/) does not work as intended concerning the "multiple" attribute on the select tag for choosing between USA and UK.

On the example, user can choose USA **AND** UK.
Replacing _multiple_ with _isMultiCh

[2018-04-09 19:02] AfaanBilal commented on #234
Thank you!

[2018-04-09 19:02] #234 closed

[2018-04-11 15:49] tstkenny opened #236 "form field added by ConversationalForm.addTags not included in form submit"
Hi there.  I setup flowStepCallback to add a question in runtime and submit the form by
$('#form').serialize().  However the question added does not being included in the form submit.  Here's how I added the question and it works in the conversation properly:

window.ConversationalForm.addTags([
                            {
                                tag: "select",

[2018-04-12 08:37] mjhough opened #237 "Uncaught TypeError: CustomEvent is not a constructor"
I'm currently using the latest version (0.9.80) of the ConversationalForm package for React, and have been testing in chrome (v65).

I am running into an issue where I keep getting the below error in my Javascript console, resulting in the ConversationalForm not loading.
![image](https://user-images.githubusercontent.com/31525719/38665524-f1c717f0-3e7f-11e8-844e-b2ed3766a639.png)

My code is just

[2018-04-12 12:56] jenssogaard commented on #237
@mjhough I'm about to look into a possibly related React issue and will try to take a stab at the above issue as well 🙏

[2018-04-12 15:07] jenssogaard commented on #218
@will3 indeed, that is the issue.

@Rchanger @tonyyb  @jorditarrida so the issue is that if I change the export to just cf then existing declarations breaks:
Before:
`var myCF = new cf.startTheConversation({})`
After:
`var myCF = new cf.ConversationalForm.startTheConversation({})`

So for the sake of SemVer I see no other option than to wait for a v1.0 release as it is a breaking change. Any other

[2018-04-12 15:18] jenssogaard commented on #237
@mjhough I just tried the above code and did not get any errors. It's hard for me to pin point what your issue is. If you can provide a git repo I'll be happy to take a look.

[2018-04-12 15:45] jenssogaard commented on #235
@melicerte you are right, it is `isMultiChoice` and the example in the docs must be changed. Thank you for pointing this out 👍

[2018-04-12 15:51] #235 closed

[2018-04-12 16:17] jenssogaard commented on #236
@tstkenny you are right, it's not added to the DOM. You should have a look at [this part of the docs](https://space10-community.github.io/conversational-form/docs/0.9.80/functionality/submit-callback/).

`var formDataSerialized = myConvFormInstance.getFormData(true);`

[2018-04-12 17:25] jenssogaard commented on #226
Hi @mdelantes I'm not quite sure how to help you as of now. Any progress on the CodePen?

[2018-04-12 17:28] jenssogaard commented on #186
@m4n3z40 better late than never (I hope). This issue is being fixed and will be added to the next release.

[2018-04-12 17:33] jenssogaard commented on #179
@shaolinjr I late reply but might still be of value to you. I would recommend achieving this by using [flowStepCallback events](https://space10-community.github.io/conversational-form/docs/0.9.80/events/) and adding your tags using [addTags()](https://space10-community.github.io/conversational-form/docs/0.9.80/public-api/) that would give you the option to control the next tags based on the users

[2018-04-12 17:33] #179 closed

[2018-04-12 22:14] mjhough commented on #237
@jenssogaard Unfortunately I can't provide a repo because it's private. Here is the package.json if that helps. I might try it in a test app as well to see how that goes.

`{
  "scripts": {
    "storybook": "start-storybook -s ./public -p 6006",
    "build-storybook": "build-storybook"
  },
  "dependencies": {
    "@rails/webpacker": "^3.2.2",
    "babel-preset-react": "^6.24.1",
    "conversation

[2018-04-13 12:56] jenssogaard commented on #237
@mjhough Ok, then my best advice would be to try and make a new branch of your project and strip out dependencies and see if something is messing with Conversational Form.

[2018-04-13 14:11] beevelop opened #238 "Uncaught TypeError: Cannot read property 'skipUserInput' of null"
Affected version of Conversation-Form: `v0.9.80`

ConversationalForm instantiates the ChatResponse with `options.tag` set to null explicitly https://github.com/space10-community/conversational-form/blob/589a276944bacdf5fff03a969f94c85ecfcff9df/src/scripts/cf/ConversationalForm.ts#L335

But the ChatResponse later checks for the `skipUserInput` attribute:
https://github.com/space10-community/convers

[2018-04-16 14:38] luisdil opened #239 "Bug when editing previous answer"
Hello there,

I've encountered a bug when editing a previously given answer in combination with the new "cf-robot-message" tag. If you try to edit a input/question which is followed by a "cf-robot-message" tag, the input which follows the "cf-robot-message" tag will be skipped.

Steps to reproduce:
1. Visit my codepen https://codepen.io/luisdl/pen/pLMdPY
2. Select "Yes, ready to begin"
3. Click on

[2018-04-16 16:35] BenRacicot opened #240 "Adding html tags to questions and responses"
Just a simple question about adding html to questions and response text.

I've seen that some of the examples show the use of tags such as `<strong>gr8</strong>`. How would we go about adding a link with `<a href="">link text</a>`?

**Example:**
`<cf-robot-message cf-questions="Thanks! Do you have <a href="/#">more ideas</a>?"></cf-robot-message>`

**Custom buttons done right**
I'm also trying to

[2018-04-18 17:10] m4n3z40 commented on #186
Awesome! Thanks

[2018-04-20 13:07] jenssogaard commented on #238
@beevelop thank you for the bug report. I really appreciate that. Can you provide an example or more detail on when the error occurs?

[2018-04-20 13:27] jenssogaard commented on #239
@luisdil you are absolutely right. Good catch.

[2018-04-20 15:01] jenssogaard commented on #240
Hi @BenRacicot Have a look at #225 where I answer the question about how to add a link. The key is escaping.

The button and the end of the page you are refering to. That is just a single button as the last element i the form and once done it submits the form. You can then add a [custom form callback](https://space10-community.github.io/conversational-form/docs/0.9.80/functionality/submit-callback

[2018-04-20 16:15] luisdil commented on #239
Thank you for making this great stuff in the first place! Can you already estimate when the fix will be in production?

[2018-04-20 23:48] jenssogaard commented on #239
@luisdil I'll try to do a patch in the coming week.

[2018-04-25 00:26] demian1985 opened #241 "Conditional fields"
Hi!

An amazing plugin you guys have build!

I have a question about conditional fields, this [thread](https://github.com/space10-community/conversational-form/issues/18) is not clear for me how to use the attribute cf-conditional for the form (provided links of the thread are broken). Are you able to provide a HTML example how I can add this in CF7?

On a sidenote, CF7 has a [Conditional Fields](

[2018-04-25 01:48] demian1985 commented on #112
Hi, I am looking for a similar solution for cf-prevent-autofocus in a multiple select attribute. However, it's not working. I added this: `<select multiple id="cf-prevent-autofocus"`. Am I doing something wrong?

The first picked answer on a multiple select question opens the keyboard on a mobile phone, which is not ideal.

[2018-04-25 02:01] jenssogaard commented on #241
@demian1985 thank you, we really appreciate your feedback. Have you checked out [this section of the documentation pages](https://space10-community.github.io/conversational-form/docs/0.9.80/functionality/conditionals-and-branching/)?

The conditional plugin for CF7 is specific for CF7 and will not work with Conversational Form. So if you want to do conditionals in Conversational Form you must look

[2018-04-25 02:04] jenssogaard commented on #112
@demian1985 Try doing <select multiple cf-prevent-autofocus /> instead of adding it as the ID value.

[2018-04-25 09:25] demian1985 commented on #112
@jenssogaard Sorry I forgot to mention, without the ID value was my first approach and did not work. It's in CF7; is the cf-prevent-autofocus activated there?

[2018-04-25 11:51] demian1985 commented on #241
@jenssogaard Thank you! That link was broken in the original thread.

[2018-04-25 12:55] jenssogaard commented on #241
@demian1985 you are welcome. I'll close this issue for now. Feel free to reopen if needed.

[2018-04-25 12:55] #241 closed

[2018-04-25 12:56] jenssogaard commented on #112
@demian1985 hmm, not sure what you are asking, but CF7 and our projects has nothing to do with one  another so I don't think I can answer your question.

[2018-04-25 13:17] demian1985 commented on #112
Strange, so you guys did not create this [add on](https://wordpress.org/plugins/cf7-bot-forms-add-on/) for CF7?

Despite this, I have removed it and continued with building a raw form, as there were more responsive issues with add on plugin.

[2018-04-25 14:00] jenssogaard commented on #112
@demian1985 no, that is a community effort. I don't know about the compatibility of that plugin. Best of luck.

[2018-04-27 08:47] demian1985 opened #242 "Other option in multiple select"
Hi,

I went through the existing issues, and more have talked about this, but can't see a final solution. It's the "other" answer and able to type a different answer from the existing answers (in this case in **multiple select** input ). So for example:
Which color do you like?
- blue
- red
- yellow
- green
- other, such as.

And when "other" is selected, user can type a free answer. I tried the c

[2018-04-27 12:58] jenssogaard commented on #242
@demian1985 Good question. I have made a demo showing you how achieve this using conditionals: https://codepen.io/space10/pen/RyogMg

[2018-04-28 11:12] demian1985 commented on #242
@jenssogaard  Thank you for the demo. In this demo the "other" option will be in the next question, but is it possible to answer other in the current input box and disable the "type to filter"?

[2018-04-28 23:42] demian1985 opened #243 "hideUserInputOnNoneTextInput input text field focus is broken"
Hi,

I use the hideUserInputOnNoneTextInput option (see below). It does what it should do; hides the input fields except when `type='text'`. Perfect!

[code]

However, when this is enabled, the text input fields are not working anymore how they should work. After typing each single character the cursor focus disappears and the input field needs to be selected again. I tested it in your [demo pages

[2018-04-29 14:58] demian1985 commented on #108
@willwalker Great work! Can't open the link without a key. Are you able to share it differently?

[2018-04-29 21:29] jenssogaard commented on #242
@demian1985 I don't believe it's possible to disable 'type to filter'.

[2018-04-30 14:51] #242 closed

[2018-05-03 01:17] willwalker commented on #108
https://mega.nz/#!mMwy1a7B!EexfzIXNdSZwlHufZ_uEtuMpXi_mu6zXSDTODpdTVwg

[2018-05-03 09:40] diedea commented on #218
any update on this?
Running into the same problem when using meteor - using [this](https://github.com/space10-community/conversational-form/issues/151) fix removed the EventDispatcher error for me, however while the form is created, I cannot modify it with any of the functions (options in startTheConversation are not applied, no event listener added...)

[2018-05-03 10:17] TakesTheBiscuit opened #244 "[Feature] User behaviour for multiple choice could be better, pop multi choice selections into text input"
When selecting multiple choice checkboxes the behaviour is slightly strange compared to my expectations (and colleagues have ratified this thought too).

A better experience would be:

1. User taps `x` items from a multiple choice select or checkboxes (both have the same visual output in `conversational-form`
2. The answers being tapped (`x` selected items) could be appended to the text input (`te

[2018-05-03 10:39] TakesTheBiscuit commented on #244
Irrelevant, realised need specific markup from https://space10-community.github.io/conversational-form/docs/0.9.80/functionality/labels-on-radio-checkbox/

`RTFM`

[2018-05-03 10:39] #244 closed

[2018-05-03 12:47] hassantauqeer opened #246 "No piping between web and conversational form's field values."
In this [example](https://space10-community.github.io/conversational-form/landingpage/)  when I update a field in the conversational form it successfully updates it in web form but it doesn't update conversational form's field when I update it in web form.

[2018-05-03 13:18] diedea commented on #218
I now loaded from the external script and I get the form version and options printed to the console, as well as seeing/being able to use the dialogue. However, none of my options (e.g. robot picture) are applied, and I still get the `cf.EventDispatcher is not a constructor` error.

[2018-05-03 15:46] jenssogaard commented on #218
@diedea the solution should be clear - fixing the export as described above. However, it must be in a 1.0 beacuse of SemVer. I'll try to get a 1.0 out very soon.

Regarding Meteor - any chance you could put together a very simple example repo for me to look at?

[2018-05-03 16:17] jenssogaard commented on #246
hi @hassantauqeer. That example is not using the latest version of CF and I don't think value piping is enabled on that.

Have a look at the documentation which includes a working example:
https://space10-community.github.io/conversational-form/docs/0.9.80/functionality/value-piping/

[2018-05-03 16:17] #246 closed

[2018-05-03 22:41] TakesTheBiscuit commented on #224
A persistent textarea if option is set perhaps?

options:{
forceKeyboardAlwaysOn: true
}

Could then render *another* textarea over the top of everything else which captures input and feeds it back? I can see why this would be annoying on mobile.

[2018-05-04 03:29] hassantauqeer commented on #246
When I update Web form only values in <textarea/> get updated but I've to press enter every time to show them in <scrollable/>. Isn't there something that when I update Web form (1 or more fields) and then I switch to CF it shows me all the updated fields in <scrollable/> like it shows when I updated them in CF itself. Databinding will be a correct term instead of piping as u said.

[2018-05-04 09:10] TakesTheBiscuit commented on #243
hey @demian1985 what device model & operating system & browser (with version) are you seeing this issue?

[2018-05-04 09:14] TakesTheBiscuit commented on #242
@demian1985 @jenssogaard if you see pull #245 i've added an event for clicking multiple choice, there's already an event for radio buttons; you could simply hook that event and if they click an option with the 'other' label you could programmatically move to the next question?

[2018-05-04 12:09] diedea commented on #218
Thanks for your help @jenssogaard - I published a small exemplatory repo [here](https://github.com/diedea/conv_bot). A real beginner here, so I feel I don't have a lot of insight.

[2018-05-04 12:32] demian1985 commented on #243
On Windows 10 pro version 1703, Chrome browser latest version. And iPhone 6S iOS 11.3. I did some cross checks on friends’ devices. Same issue.

[2018-05-06 04:43] hassantauqeer opened #247 "Can't use cf in React App. EventDispatcher is not a constructor"
Here is my code:

`
import cf from "conversational-form";
console.log(cf, window.cf, "cf moiunted");
`
**cf** (console) =
`ƒ ConversationalForm(options) {
            this.version = "0.9.80";
            this.cdnPath = "https://cdn.jsdelivr.net/gh/space10-community/conversational-form@{version}/dist/";
            this.isD…`

**window.cf** (console) = {Helpers: ƒ, EventDispatcher: ƒ, TagsParser: ƒ

[2018-05-08 01:14] jenssogaard commented on #247
@hassantauqeer have a look at #218

[2018-05-08 08:07] hassantauqeer opened #248 "Doesn't fill up form fields automatically"
If I set values of all some form fields in the form and convert it to Conversational Form. The <scrollable/> doesn't fill up automatically with the prefilled values of input, but it should.

Am I missing something or this can't be done currently?

[2018-05-08 10:33] ofuochi commented on #238
I'm still having getting this error. I'm pointing to this.

https://cdn.jsdelivr.net/gh/space10-community/conversational-form@0.9.80/dist/conversational-form.min.js

It hasn't taken effect yet.

[2018-05-08 12:46] jenssogaard commented on #238
@ofuochi It has not been released yet. You can however find a pre-release in the develop branch.

[2018-05-08 12:47] jenssogaard commented on #248
@hassantauqeer yes, the idea is that if value attribute is set it will be prepopulated. Do you have an example that shows the issue?

[2018-05-08 16:42] diedea opened #249 "conversational form and meteor.js"
Created a separate issue from [#218](https://github.com/space10-community/conversational-form/issues/218) since there seems to be another (meteor specific?) problem:

When using the npm package in meteor, the chat form is displayed and works partly (e.g. robotResponseTime can be set unusually high), however other options such as robotImage/userImage cannot be set, fieldset/radio buttons does not w

[2018-05-08 17:21] ofuochi opened #250 "window.ConversationalForm.addTags() does not displaying in ajax error response"
Hello, thanks for this plugin. I'm using the 0.9.80 version
I found that if I make an ajax call and an error was returned from the server, using the window.CoversationalForm.addTags() method does not add any element to the DOM as expected. However if the server returns successfully, call this same method adds element to the DOM as expected. Find below an example.

[code]

I don't seem to understan

[2018-05-08 17:32] hassantauqeer commented on #248
@jenssogaard Yes, in [demo app here](https://space10-community.github.io/conversational-form/landingpage/) When i Fill values in conversational form and toogle back to Web Form i values of Web forms are filled with respective to Conv form, but unlike this when I filll values in web form and toggle to Conversational Form Value attributes are filled and appear only in <textbox/> for each particular

[2018-05-16 01:13] mj66 opened #251 "Suggested Response?"
So far I loved this project. However, this does lack some functionality...

Is it possible under my current version (0.9.70) to provide "suggested responses" (UI wise it will look like radio buttons) but still allow users to type in their own response?

If yes, where is the documentation provided for that? If not, any suggestions for me to implement this on my end?

Apologize for this not being an

[2018-05-16 01:34] jenssogaard commented on #251
@mj66 thank you - I'm always happy to hear feedback. There is a few ways that could be done:
- Allow own response for [radio group](https://space10-community.github.io/conversational-form/docs/0.9.80/functionality/image-answers/)
- Add actual typeahead support using custom attribute

[2018-05-17 01:13] jenssogaard commented on #250
@ofuochi that's a good question. I can see that you don't call success(); when error() is resolved. You might want to look into that.

[2018-05-17 01:13] jenssogaard commented on #249
Thanks @diedea. I'll try to take a look very soon.

[2018-05-18 14:05] jenssogaard commented on #248
@hassantauqeer I'm sorry. I'm not exactly sure what you are requesting and I have a hard time seeing the big issue. Sorry. Feel free to do more documentation on the issue and we can discuss further. A Pull Request is also always more than welcome.

[2018-05-18 14:05] #247 closed

[2018-05-18 15:58] #205 closed

[2018-05-18 15:58] #239 closed

[2018-05-18 16:19] jenssogaard commented on #238
This has been fixed in the latest [v0.9.81 bugfixes release](https://github.com/space10-community/conversational-form/releases/tag/v0.9.81).

[2018-05-18 16:19] #238 closed

[2018-05-18 16:26] jenssogaard commented on #183
Open call for anyone in the community to cook up an example.

[2018-05-20 15:27] mj66 commented on #251
@jenssogaard Can you provide an example of how I can achieve it with radio groups? I could not figure out how to accept custom responses for that.

Thanks!

[2018-05-21 17:42] sijiahahaha opened #253 "Hide radio and only show after typing in and filterd"
Hi,

I'm using this project and it's awesome!

In my survey, I have some questions with so many choices(like choose which state you live in).

I want to hide the radio at first and be shown after typing in some letters (like show Washington after typing in wa). I'm trying to set up a UserInputEvents.KEY_CHANGE dispatcher on this particular question by id rather than the whole form, but I failed...

[2018-05-22 20:04] sijiahahaha commented on #178
@melicerte Hi, I'm facing some same issue. Could you talk more about how you achieve that?

In my survey, I have some questions with so many choices(like choose which state you live in).

My idea is to hide the radio at first and be shown after typing in some letters (like show Washington after typing in wa). I'm trying to set up a UserInputEvents.KEY_CHANGE dispatcher on this particular question

[2018-05-23 11:59] melicerte commented on #178
Hi @sijiahahaha
What I did is loading a simple input text, let's say
`<input type="text" name="city" />`
On change, get data via AJAX. On success, add custom ul li in cf-input.
On click on li, set data where you want (current field or hidden input for example), then submit to next question.
jQuery version to submit :
`$('cf-input cf-input-button').trigger('click');`

[2018-05-23 12:13] jenssogaard commented on #253
@sijiahahaha I see that you are discussing a possible solution in a different thread. I'll close this issue for now.

[2018-05-23 12:13] #253 closed

[2018-05-24 06:49] sijiahahaha commented on #178
@melicerte Thank you so much!!!

[2018-05-28 13:13] marlisalisa opened #254 "scrolling to the end"
I'm having trouble letting the form scroll to the end of the conversation - when having multiple radio buttons for input, the last part of the question is overlapped by the input area. Where can I change this? (whether within the script or via css)
I wasn't able to find the code to tinker with.

[2018-05-29 12:31] mearleycf opened #255 "Support for Autocomplete?"
Are you considering providing support for autocomplete? I've got a field with thousands of possible selections, and our current implementation allows the user to type to see a shortened list (in a dropdown) of possible values.

[2018-05-30 05:39] #251 closed

[2018-05-30 10:37] MadhuNandi commented on #224
Any update on this?

[2018-05-30 20:49] sijiahahaha commented on #239
@luisdil I'm facing the same issue but I found a way to solve it.

Just add a name and value attribute inside the "cf-robot-message" tag, such as name="info", id="info", value="1".

For the following input or select tag, just add a condition like cf-conditional-info="1".

Then when you editing the tag following "cf-robot-message" tag, it won't skip.

[2018-05-31 00:08] jenssogaard commented on #239
@sijiahahaha are you using the latest version? It's fixed in [v0.9.81](https://github.com/space10-community/conversational-form/releases/tag/v0.9.81)

[2018-05-31 19:03] sijiahahaha commented on #239
@jenssogaard Oh I'm using the v0.9.80 lol. I will update! Thank you for the amazing work!

[2018-05-31 19:34] sijiahahaha commented on #178
@melicerte Hi, I'm sorry to bother you again, but I still don't know how to implement....I'm a starter in AJAX and JQuery.
Could you indicate more about how to do it? And I don't know how to hide the buttons.
Thank you so much and so sorry for any inconvenience!!!!!

[2018-06-01 08:40] melicerte commented on #178
@sijiahahaha You should probably read jQuery documentation :
AJAX : http://api.jquery.com/jquery.ajax/
Attach events : http://api.jquery.com/on/
Trigger events : http://api.jquery.com/trigger/

You'll find documentation of what AJAX and events are is on the Internet, your favorite search engine is your friend ;)
Hide the buttons with CSS (display:none). You'll find plenty of documentation on the I

[2018-06-01 08:42] sijiahahaha commented on #178
Thank you for sharing!

On Fri, Jun 1, 2018 at 1:40 AM melicerte <notifications@github.com> wrote:

[2018-06-01 13:58] diedea commented on #249
got it to work by including the script (not the package) and setting my options directly in there - not ideal, but working at least

[2018-06-01 13:58] #249 closed

[2018-06-03 18:22] AfaanBilal opened #256 "XML Parsing errors in Firefox, IE and Edge."
Hi,

Thank you for your amazing work on this!

The recent versions of CF (after 0.9.6) are showing up errors in XML parsing of some files. I'm not sure what's causing them but I think they're in the blue up arrow files.

Can you please have a look?

Thanks!

[2018-06-04 08:58] v3new commented on #226
Hi @mdelantes! Did you do it?

[2018-06-06 23:54] jenssogaard commented on #256
@AfaanBilal Thank you very much for reporting, I'll investigate tomorrow and if needed apply a hot fix.

[2018-06-06 23:55] jenssogaard commented on #254
@marlisalisa Hmm, sounds weird. Can you show a screenshot, do a CodePen or something so I can see more in detail what your issue is?

[2018-06-06 23:56] jenssogaard commented on #255
@mearleycf you are not the first asking and yes, it might be something that we'll look into very soon.

[2018-06-07 12:37] marlisalisa commented on #254
There you go: https://codepen.io/marlisalisa/pen/bKwjvd

Notice that at the end, the last part of the question (the lorem ipsum part) is covered by the radio button input area, necessitating a scroll action to read it.

This issue is of course less distinct with other combinations of layout/screen size, but I always run into it and I don't have the choice to alter the other characteristics.

[2018-06-20 15:33] meowhunter commented on #164
Any update on this?

[2018-06-25 15:04] #256 closed

[2018-06-25 15:26] #250 closed, assigned to nobody

[2018-06-25 15:28] #232 closed

[2018-06-25 15:28] jenssogaard commented on #226
@mdelantes  I haven't heard more from you so I assume things worked out. Closing this issue.

[2018-06-25 15:28] #226 closed

[2018-06-25 15:39] jenssogaard commented on #254
@marlisalisa hmm, I see the issue is related to your custom styling for the options. I don't have a good suggestion that will solve your problem. Since it's not a bug I will go ahead and close the issue. If you do sort it out I will be happy to hear your solution :)

[2018-06-25 15:39] #254 closed

[2018-06-25 15:39] #178 closed

[2018-06-25 15:48] #163 closed

[2018-06-25 15:52] #237 closed

[2018-06-25 15:53] #248 closed

[2018-06-25 17:05] #240 closed

[2018-06-26 13:35] #8 closed

[2018-06-26 13:38] #150 closed

[2018-06-26 13:43] #39 closed

[2018-06-26 13:52] jenssogaard commented on #132
Closing this due to inactivity.

[2018-06-26 13:52] #132 closed

[2018-07-06 22:55] godinho29 opened #257 "Submission by e-mail"
Hi,
I have already read and applied about customization, but I can't found anything about the submission. Can you give some informations about how can I sent the data from the form by e-mail?

Thank you! This is an  awesome innovation and it's really awesome

[2018-07-09 06:53] ckylee opened #258 "submitCallback function not updating the loading status of submit button"
I am using:

-  conversational form version https://cdn.jsdelivr.net/gh/space10-community/conversational-form@0.9.83/dist/conversational-form.min.js

- Firefox Quantum 61.0

After the end of conversation with submitCallback function, the loading UI is not updated upon successful POST request. Here's one example where there's no POST request is being made, but still having loading button continuous

[2018-07-09 12:58] jenssogaard commented on #257
Hi @godinho29. You can use the [custom submit callback](https://space10-community.github.io/conversational-form/docs/0.9.80/functionality/submit-callback/) and then do an AJAX request to your server which then sends the form data in an email.

[2018-07-09 12:58] #257 closed

[2018-07-09 13:04] jenssogaard commented on #258
- Are you using vanilla js, React or some other framework?
- Have you tried logging `conversationalForm` where you call addRobotChatResponse to see if it's referencing CF?

I fairly certain the issue is with your code and not CF but without looking at the actual code causing the issue it's hard for me to help you. Feel free to post more code.

[2018-07-11 06:03] ckylee commented on #258
No, I am just using plain HTML/CSS/JS. I used exact same code from https://space10-community.github.io/conversational-form/docs/0.9.80/appearance/.

I (kind of) solved the problem by refreshing the page after some time out in JS:
[code]

[2018-07-11 06:04] #258 closed

[2018-07-14 21:01] jenssogaard commented on #258
@0xckylee I still suggest trying to move the addRobot.. into then() and do a console.log('CF?', conversationalForm) to see if the variable is assigned. Just to be sure. But glad you found an alternative solution although error handling is not ideal.

[2018-07-14 21:08] jenssogaard commented on #198
@yarnball better late than never, but I think the answer to your solution would be to call [remapTagsAndStartFrom()](https://space10-community.github.io/conversational-form/docs/0.9.80/public-api/) in componentDidUpdate() so that the form is refreshed after you provide  your form with updated data. Makes sense?

[2018-07-14 21:08] #198 closed

[2018-07-16 16:01] Jeanromain commented on #255
Hi, Do you have any news about this feature ?

[2018-08-08 13:18] Moorst opened #259 "Can't edit on Chrome"
Can't edit user inputs on chrome, though seems to work fine in Edge & Firefox. When clicking the previous response nothing happens.

Noticed this has stopped working on a version of the bot I've had running a while on a site. Tested on your demo https://space10-community.github.io/conversational-form/landingpage/ and broken there too.

[2018-08-08 14:33] jenssogaard commented on #259
Hi @Moorst. They landingpage you are refering to is using an older version 0.9.6 - I just tried [this demo that uses the latest version](https://codepen.io/space10/pen/JMXzGX) and editing works fine here. Can you tell me which version you are using? Also I would recommend that you upgrade to the latest version.

[2018-08-09 13:14] jenssogaard commented on #259
@Moorst I see. I just tried using Browserstack (Win 10, Chrome 68.0.3440.75) and I had no issues editing using the before mentioned Codepen. Hmm, not sure what's going on? 😕

[2018-08-14 07:12] Moorst commented on #259
Yeah really strange, there's no error or anything, not sure what's going on.

[2018-08-15 13:04] erikgyepes opened #260 "How to pass hidden input fields, so getDataForm() can get them?"
Please check the list below to make sure we can provide you the best possible support :star:

- I have provided a code example. (Two examples to get you started https://codepen.io/jenssog/pen/mqXMQW, https://jsfiddle.net/Jenssog/nq4z68hw/)
- If I encountered an issue I have provided:
  - a description of the actual and expected behavior
  - what version of Conversational Forms I am using
  - what

[2018-08-17 00:12] jenssogaard commented on #259
@Moorst yeah, really weird. I'm going to close this issue for now. Feel free to reopen if needed.

[2018-08-17 00:12] #259 closed

[2018-08-28 04:35] AfaanBilal opened #261 "Options spanning more than 2 lines?"
Hi,

Thank you for your amazing work on this!

Sometime, we have a lot of options for a `<select>` input and the options are shown spanning two lines and scrolling horizontally. Could we have a method to make them appear on more than two lines so that we could get rid of the horizontal scrolling?

Thank you.

[2018-09-03 05:39] ricocaldeira opened #262 "Replace submit icon by text"
Hi everyone! Is there a possibility to replace that form "up arrow" by a text, just like "OK" or "Submit"?

<img width="628" alt="captura de tela 2018-09-03 as 02 22 10" src="https://user-images.githubusercontent.com/38027/44968958-29828000-af21-11e8-9342-bd522560efe6.png">

I searched a lot inside documentation, but found no answer.

[2018-09-03 06:33] luispadron commented on #215
Question about this is it possible to ask a question, like in your example, and then ask another question (with radio buttons)?

i.e Radio button question -> Radio button question

[2018-09-04 07:20] anyasorc opened #263 "Upload of document or image using conversarional"
Hi Guys,

Saw your excellent work on converting boring forms into a more customer engaging forms.

Kudos to you guys and am really excited about it.

I am having a challenge which I believe you guys can assist with code same to help out with.

The issue
I have a web form that requires users to upload their cv or an image and am wondering how this could also turn conversational and also how I can u

[2018-09-06 00:37] jenssogaard commented on #263
Hi @anyasorc. We are happy that you like our work. I assume you post to a url when the user is done and you collect the form information. That would be the same place where you would handle the file upload/move it to a directory of your choice.

To where do you submit your form now and what do you do with the data?

[2018-09-06 00:40] jenssogaard commented on #262
You can override the CSS and add your own background-image at `cf-input-button.cf-input-button div.cf-icon-progress`

[2018-09-06 00:49] jenssogaard commented on #261
Hi @AfaanBilal. I suppose we could add a no-scroll option. So if you have lots of options, as you describe, would you then just want vertical scroll instead?

[2018-09-06 06:51] AfaanBilal commented on #261
Hi @jenssogaard Thank you for taking some time with this!

Yes, a vertical scroll would solve the problem!

Thanks again!

[2018-09-10 03:13] ricocaldeira commented on #262
Only images are allowed?

[2018-09-10 11:49] jenssogaard commented on #262
It's a css property, so you can use whatever is allowed per CSS specifications. We have added a `background-image` and you can start by overriding that property.

[2018-09-11 02:38] benneynens opened #264 "edit answer feature not working?"
Please check the list below to make sure we can provide you the best possible support :star:

- I have provided a code example. (Two examples to get you started https://codepen.io/jenssog/pen/mqXMQW, https://jsfiddle.net/Jenssog/nq4z68hw/)
- If I encountered an issue I have provided:
  - a description of the actual and expected behavior
  - what version of Conversational Forms I am using
  - what

[2018-09-11 02:40] benneynens commented on #264
Is the edit previous answer function working?

I have tried clicking on an previous answer here, and there is no response to click on the blue bubble containing that answer: https://space10-community.github.io/conversational-form/landingpage/click-edit-previous-answer.html

Not sure if I'm doing something wrong, or if there is a bug..??

[2018-09-11 13:39] #262 closed

[2018-09-12 10:08] Moorst commented on #264
I've had the same issue (https://github.com/space10-community/conversational-form/issues/259), though I thought it was just in Chrome.

I've just tested in Firefox and having the same problem. Works fine in Edge though.

[2018-09-12 12:40] jenssogaard commented on #264
@benneynens could you do a video of what you see? I would like to clear up any potential misunderstandings (actually @Moorst, if you could do the same?)

[2018-09-12 12:41] #263 closed

[2018-09-12 12:45] Moorst commented on #264
@jenssogaard I included a gif in the issue I raised, https://github.com/space10-community/conversational-form/issues/259. I'm clicking when hovering the previous answers

[2018-09-12 15:59] jenssogaard commented on #243
@demian1985 I am fixing the issue where submit button is missing for `multiple` right now.

_"the text input fields are not working anymore how they should work"_ I can not reproduce this issue.

[2018-09-12 16:32] jenssogaard commented on #264
@Moorst do you see any errors in the console? Again I can not reproduce this :/

[2018-09-12 16:39] #175 closed

[2018-09-12 16:39] #140 closed

[2018-09-12 16:46] #10 closed

[2018-09-12 16:51] #62 closed

[2018-09-12 16:51] #174 closed

[2018-09-12 16:59] #69 closed

[2018-09-12 17:00] #81 closed

[2018-09-12 17:06] #154 closed

[2018-09-12 17:30] #186 closed

[2018-09-13 08:11] demian1985 commented on #243
@jenssogaard Sorry this was too long time ago, I remember that the cursor focus disappeared after each typed character, happened on desktop and mobile devices. This was also the reason for me to stop using the robot chat survey.

I have tried to duplicate this scenario as well, but it's too long time ago for me to remember. Sorry.

[2018-09-13 13:12] jenssogaard commented on #243
@demian1985 alright, I'll close this for now. Fill free to open another issue if needed.

[2018-09-13 13:13] #243 closed

[2018-09-13 14:03] jenssogaard commented on #224
@menteora @MadhuNandi I like the idea of utilizing a persistent input area enabled through an option like `forceKeyboardAlwaysOn` or `persistentInputArea`. My greatest concern is the amount of space it takes up and how this pattern is very different from the standard messaging pattern where keyboard show/hides all the time.

[2018-09-13 14:14] jenssogaard commented on #165
@TimTdev hopefully better late then never. A fix for this will be released in a few days.

[2018-09-14 06:53] menteora commented on #224
Hi @jenssogaard, thank you evaluating this enhancement.

WhatsApp, for example, has fixed input and keyboard always open (after first tap on input field).
To explain better, this is a gif I found around the web.

![whatsapp sample](https://user-images.githubusercontent.com/3657745/45534216-bae3d300-b7fa-11e8-875a-f4e249f365f2.gif)

and yes... the space could be a problem, require a bit css optimiz

[2018-09-14 07:29] TakesTheBiscuit commented on #224
If you think about the context here though: like whatsapp designers have, they've realised their app has only one purpose and that's to collect input from the user and send it to other parties.
The previous responses or new responses from a friend or contact can appear even on a small device like an iPhone 4: but in reality when you're writing multiple responses the only task being carried out is

[2018-09-14 07:46] TakesTheBiscuit commented on #224
Actually
It makes more sense to track the next question - if the next question has persistKeybord as well as the current then create a virtual textarea focus it and capture
When the next question no longer has persistKeyboard or the end of questions remove textarea and focus the page; that should result in a smooth transition between input types - keyboard is only open when it needs to be- for a m

[2018-09-15 18:31] jenssogaard commented on #224
@menteora @TakesTheBiscuit thanks guys. Very good input and observations. Does any of you want to contribute with a PR?

[2018-09-16 09:30] chrismuiruriz opened #265 "How to show that a robot is thinking?"
Please check the list below to make sure we can provide you the best possible support :star:

- I have provided a code example. (Two examples to get you started https://codepen.io/jenssog/pen/mqXMQW, https://jsfiddle.net/Jenssog/nq4z68hw/)
- If I encountered an issue I have provided:
  - a description of the actual and expected behavior
  - what version of Conversational Forms I am using
  - what

[2018-09-17 14:51] jenssogaard commented on #265
Hi @chrismuiruriz. Just pass the `userInterfaceOptions` like the below example:

[code]

[2018-09-18 16:56] #265 closed

[2018-09-19 21:36] b4rracuda opened #266 "flowStepCallBack not working"
Hello, this is a good lib but flowStepCallBack is just not working for me, I have copied it from Docs > Validation, but it just does not work, none of console.logs are showing.

CodePen:
https://codepen.io/anon/pen/zJyepX

What could be the problem?
Thanks

[2018-09-19 22:17] b4rracuda commented on #266
Alright, I fixed it with putting the actual initialization in **window.onload** :
`window.onload = function(){
		$("form#chatbot").conversationalForm(parameters)
}`

Please add this to docs, this is not an obvious thing. Spent like two evenings straight trying to fix this

[2018-09-19 22:17] #266 closed

[2018-09-20 00:37] jenssogaard commented on #266
@b4rracuda thanks for your feedback. I'll consider adding it to the documentation.

[2018-10-17 13:21] gcomme opened #267 "Only show keyboard on mobile when user clicks on input field."
On mobile the the keyboard is always going up and doing with each interaction. Is is possible to only show keyboard on mobile when user taps on the input field, otherwise keep it closed ?

[2018-10-17 18:23] #267 closed, assigned to nobody

[2018-10-22 16:54] rafafotes commented on #218
Any workaround to solve this while 1.0 isn't out.

[2018-10-22 17:14] jenssogaard commented on #218
@rafafotes, unfortunately, you will have to wait until 1.0 is released which will hopefully happen sometime next month.

[2018-10-23 09:56] rtpHarry opened #268 "typo throughout project, `scrollAccerlation`"
There is a property called `scrollAccerlation` but this should be `scrollAcceleration`.

It's in the documentation and the source code throughout the entire repo.

[2018-10-23 19:44] jenssogaard commented on #268
Hi @rtpHarry. Thanks for pointing this rather foolish mistake out.

[2018-10-31 19:11] luc-7 commented on #67
Hey! Any progress on this? Would be cool if you can update (us all)?

[2018-10-31 19:11] luc-7 commented on #132
Any updates on this? Has anyone tried to implement this in react-native?

[2018-11-07 21:58] CallistusWD commented on #205
Sorry to ASk has this been fixed because i am experiencing this isse

[2018-11-08 04:18] findborg commented on #183
I had it working once with a simple import and require.  All depends how deep you are needing vue to go.  I was only using for layout.

[2018-11-12 11:01] elephantux commented on #67
@peimn how to integrate this datepicker with CF?

[2018-11-14 06:29] elephantux opened #269 "Robot message delay based on text length"
Is it possible to delay robot message based on question length?
And one more. How to use showThinking option only for robot?

[2018-11-15 21:23] jenssogaard commented on #67
**An update:** I do not think that date-time support will be part of the CF core at this time. However I have cooked up a crude example of how to implement [Datedropper3](https://felicegattuso.com/projects/datedropper/). Basicly, the approach is to hide the default textarea input and replace it with our custom input with a Datedropper3 instantiated on it.

![Datedropper3 demo](http://cf.jenssogaar

[2018-11-16 14:53] AlbertNessa opened #270 "Force to use the "submit" button instead of enter button on keyboard."
I am running this fantastic script in my Unbounce landing page. Since in Japanese you hit the enter button on the keyboard(on Desktop PCs) to select the Kanji before proceeding to the next word, it always jumps directly to the next question before they are able to enter their full name. For example the user wants to enter the name "Hiro Kato", they type in Hiro on their Keyboard, select the kanji

[2018-11-18 13:07] jenssogaard commented on #270
Hi @AlbertNessa. Thank you for bringing this to my attention. That definitely makes sense for the scenario you describe and I'll put it on the roadmap for v1.0.0

[2018-11-18 13:07] #264 closed

[2018-11-19 01:07] Firetrip commented on #224
Hello everybody,
so I found this thread just now and was wondering what the current status is on such an option?
I believe from an experience point-of-view it seems clunky that the keyboard disappears and appears again within one second.

[2018-11-19 06:08] Firetrip opened #271 "Documentation not complete"
Hi everybody,

so I started out with conversational forms two weeks ago and my starting point was the doc [ here](https://space10-community.github.io/conversational-form/docs/0.9.80/getting-started/).

However, after looking through all the issues and talks on the github page I am sure that a lot of hidden features are not included in the doc.  For example the option to make the answers fixed and

[2018-11-19 16:08] jenssogaard commented on #271
Hi @Firetrip. As with most open project here on Github help is always much appreciated and that is what makes things move forward.

We always try to add to the documentation and to make it as easy as possible to digest without adding too many edge-case examples.

You are welcome to submit a PR with additional documentation or create individual tickets with concrete suggestions to the documentation

[2018-11-19 16:08] #271 closed

[2018-11-20 01:29] jenssogaard commented on #164
@meowhunter I will support for the rows-attribute on `<textarea>` in an upcoming minor release this week. A new option `preventSubmitOnEnter` will also be added which prevents submit on enter-keypress. This will subsequently allow for newlines on enter-click if a textarea-field has rows > 1.

Not exactly what is discussed but might be of relevance.

[2018-11-20 01:29] #164 closed

[2018-11-22 14:44] glebmachine commented on #191
@hossamElfar you should create wrapper component
For good references look at: https://github.com/zefoy/ngx-swiper-wrapper

[2018-11-23 15:31] jenssogaard commented on #191
Closing this issue. I will add an Angular example soon.

[2018-11-23 15:31] #191 closed

[2018-11-23 15:31] jenssogaard commented on #183
I will close this issue for now. I will add proper Vue example soon.

[2018-11-23 15:31] #183 closed

[2018-11-24 01:52] #270 closed

[2018-11-24 01:56] jenssogaard commented on #165
This has been fixed in latest 0.9.90 release.

[2018-11-24 01:56] #165 closed

[2018-11-24 01:59] jenssogaard commented on #270
Hi @AlbertNessa. I have just released [v0.9.90](https://github.com/space10-community/conversational-form/releases/tag/v0.9.90) with a `preventSubmitOnEnter` option. I hope it works for your situation.

[2018-11-24 02:00] jenssogaard commented on #205
@CallistusWD this has been fixed in [the latest v0.9.90 release](preventSubmitOnEnter) that I just published.

[2018-11-26 01:27] yukyolol opened #272 "Question: Why my form disappears?"
Hello, I'm starting to use forms on my app and look's amazing!!

Atm I'm using this from this example: https://space10-community.github.io/conversational-form/docs/0.9.90/functionality/custom-questions/  (Example - {One way value-binding})

https://codepen.io/space10/pen/eyZXBO

Why the HTML fields are visible? And also happens something weird on my website. When I press right-click and use Inspec

[2018-11-26 14:22] jenssogaard commented on #272
Hi @yukyolol. I am glad that you like Conversational Forms. I'll try to answer your questions below:

**Initiate manually**: See [this example](https://codepen.io/space10/pen/mqXMQW).

**Right click** I have no idea. Sounds strange.

**HTML fields are visible** I guess you just need to hide your form with CSS.

I hope that helps you.

[2018-11-26 14:22] jenssogaard commented on #272
I'll close the issue but feel free to ask more questions in this thread :)

[2018-11-26 14:22] #272 closed

[2018-12-02 12:34] Firetrip commented on #270
Hi @jenssogaard
I cannot find any more infos on this feature. Is it just an attribute for a input field or how is it designed to work?

[2018-12-02 13:37] jenssogaard commented on #270
@Firetrip you can find it on the [options page](https://space10-community.github.io/conversational-form/docs/0.9.90/options/). It is a global setting for your Conversational Form. Let me know if you have any more questions.

[2018-12-03 13:01] jw-miaem opened #273 "Web accessibility"
Hello,

Just wanted to ask if this has been optimised for screen readers and assistive devcies. I'm considering using this for a project that is optimsied for web accessbility

Thanks

[2018-12-03 13:45] jenssogaard commented on #273
Hi @jw-miaem. It has not been optimized for screen readers and web accessibility. If you have good experience in the field I would be happy if you could report back on your findings and I would then be happy to take them into serious consideration.

[2018-12-03 14:08] jw-miaem commented on #273
Hi @jenssogaard Thanks for reply. If product owners want to go ahead then I think some work will be made in this area so will definitely report back. Of the top of my ahead I'd imagine aria-live may be useful for this situation...testing will need to be carried out

[2018-12-06 20:07] jenssogaard commented on #273
@jw-miaem sounds good. Keep me posted. In the meantime, I'll take a look myself.

[2018-12-06 20:07] #273 closed

[2018-12-14 03:02] chaozding opened #274 "HI! I am from 24pullrequests.com, how can I do a pull request from start"
I take part in [24pullrequests.com](24pullrequests.com).
It recommends many projects, this project seems interesting, maybe I can use it in the future. But I am just learning JavaScript(front end) a few weeks.
In this case, Can I contribute anything which I can do for this project?
Thank you:)

[2018-12-14 03:08] jenssogaard commented on #274
Hi @chaozding. I know 24pullrequests.com - great initiative. You are always welcome to browse over open issues and see if there is an issue where you feel that you can contribute.

Have fun.

[2018-12-14 03:08] #274 closed

[2018-12-14 19:16] winadv commented on #67
I am not able to insert Datedropper3 whenever error occurs. I would like an input help without using the code below:
`window.onload = function() {
  conversationalForm = window.cf.ConversationalForm.startTheConversation({
    formEl: document.querySelector("form"),
    context: document.querySelector("div.cf"),
    eventDispatcher: dispatcher
  });
};`

Because the same creates a kind of new form

[2018-12-14 21:52] jenssogaard commented on #67
@winadv your problem is most likely that you have the `cf-form` attribute on your form-tag? so it instantiates twice.

I can not help you with your second question. You are better of using my example.

[2018-12-14 22:06] winadv commented on #67
@jenssogaard Would you like to create an example using the script demo files, such as conditional-flow.html? I guarantee that with that I could adapt to my script.
Thanks

[2018-12-19 11:43] mnemosdev opened #275 "is conversational-form usable for older browsers aswell? (ie10)"

[2018-12-28 18:19] jenssogaard commented on #67
@winadv it is kinda repeating what I have already done. Do you have issues implementing the example in your own project?

[2019-01-02 14:36] danielfriis opened #276 "WE NEED YOUR FEEDBACK"
Hi all,

My name is Daniel and I’m working with @jenssogaard on Conversational Form (CF).

We are very curious to learn a few things about what you think of CF.

If you can spare 2 min, we would love to know: 
1) What you are using CF for and where did you implement it?
2) Why did you choose to go with CF?
3) How can we improve CF?

Feel free to reply here, or write me an email (daniel@space10.io)

[2019-01-02 15:21] jenssogaard commented on #275
Hi @mnemosdev. We do not actively support older browsers.

[2019-01-02 15:21] #275 closed

[2019-01-07 08:28] MSBPeace opened #277 "Clearing user input with formless"
When using the formless implementation the user input field retains the last text input value until a new tag is added. Is there a way to prevent this and clear the value immediately upon submit?

[2019-01-07 14:30] jenssogaard commented on #277
Hi @MSBPeace. Could you cook up a quick example that shows the issue? Maybe fork [this formless codepen](https://codepen.io/space10/pen/EoKMLg)?

[2019-01-08 01:44] MSBPeace commented on #277
@jenssogaard Yes I have made a rough illustration of how I use it currently in [this codepen](https://codepen.io/anon/pen/zyaoRj?editors=1111).

I hope it sufficiently illustrates my problem. I'm currently using a similar setup since I use sockets to communicate back and forth and will not know in advance how long this form will be (it's dynamic).

[2019-01-10 16:26] tibewww opened #278 "How to have validation only if one more checkbox is selected ?"
Hi All,

Great script;

one thing I'm trying to achieve is the following using some checkbox:
How can we have the validation only working if one or more checkbox is selected ?
Currently if the user does not choose any checkbox, he can go to the next step . . .

Any help with that will be awesome !

Many thanks !

[2019-01-12 01:19] jenssogaard commented on #278
@tibewww can you provide a Codepen, thanks.

[2019-01-12 23:35] PradhumnaPancholi commented on #237
I have the same kind of issue where it says "Survey is not a constructor".
I still can't fix it but I guess I found the reason that my DB model for survey didn' load by the time.

Can anyone help?
Here is my git repo: https://github.com/PradhumnaPancholi/Mail-it

[2019-01-13 18:52] jenssogaard commented on #237
@PradhumnaPancholi hmm, are you in the wrong repository? I don't see you using CF. If I am wrong then please expand on your problem so that we have a decent chance of helping you.

[2019-01-13 20:05] PradhumnaPancholi commented on #237
Sorry, my bad. I forgot to push my recent changes. It's up to date now.

[2019-01-14 18:12] jenssogaard commented on #237
@PradhumnaPancholi I still don't see it. Also please refer to where exactly in your code you encounter the issue. Please help me help you.

[2019-01-15 01:12] MSBPeace commented on #277
@jenssogaard Hey is there anything else I can help with to speed towards a solution to this problem?
Implementing a manual clear action seems simple enough but I'm still unsure as if that is the desired approach.

[2019-01-16 05:36] it-fm commented on #183
any news?

[2019-01-22 12:50] jenssogaard commented on #277
Hio @MSBPeace sorry for the late reply. How about using the below when needed?
`window.conversationalForm.userInput.resetValue()`

[2019-01-22 12:51] jenssogaard commented on #278
Hi @tibewww. Since you haven't added a codepen I'll go ahead and close this issue. Feel free to reopen or open a new issue at a later point.

[2019-01-22 12:51] #278 closed

[2019-01-23 00:30] MSBPeace commented on #277
@jenssogaard YES! this definitely solves my problem, I'm calling it right now right after calling
`success()` in `onStepCallback` and it resets the input field to the default value while still correctly submitting the inputted ones. Was this function mentioned anywhere in the docs? If not want me to make a PR for people having similar issues in the future?

[2019-01-23 01:06] jenssogaard commented on #277
@MSBPeace happy to hear that it solved your issues. It is not documented - I am about to update the docs later this week so I'll add it then. No need for you to do a PR at this point in time (although I am always happy when people contribute).

[2019-01-23 01:06] #277 closed

[2019-01-24 17:43] it-fm opened #279 "Official support for the VueJs"
Hello, do we have any news related to support for Vue, or even a proof of concept?

[2019-01-24 17:51] jenssogaard commented on #279
Hi @it-fm. Not sure exactly what you expect from official support, but I did make an example last night that might be of relevance to you: https://stackblitz.com/edit/vue-conversational-form?file=myForm.js

[2019-01-24 19:21] #279 closed

[2019-01-27 10:32] dominatelj opened #280 "Bot Breaks the page once embded"
I am embedding the bot inside my web page, but it is appearing at the top of the page overlapping with other sections and containers.

Please let me know how to fix it, the error was inside the css for the bot  i tried to remove the top it disappeared. i want it to inherit the size of the bootstrap div element. Please let me know if you can help with this. Thank you.

[code]

[2019-01-27 12:47] jenssogaard commented on #280
@dominatelj I would suggest looking at the element you use for cfContext, meaning the parent element to the selector you refer to.

How are you instantiating CF? Via Javascript or `cf-form` on the form element?

[2019-01-28 02:04] jenssogaard commented on #280
@dominatelj these examples from Codepen could maybe be of use to you: https://codepen.io/space10/

[2019-01-28 02:05] #280 closed

[2019-01-28 10:30] dominatelj commented on #280
Hi @jenssogaard , Thank you for your reply and for the link you provided. i am using cf-form on the form element instead of the JS. I will check the examples and let you know if the error still persist. Thanks again

[2019-01-28 13:34] jenssogaard commented on #280
@dominatelj cool. If you change to the javascript instantiation it will likely be a bit easier for you.

[2019-02-06 19:50] jacobclyne opened #281 "Input type tel not working"
Hello.

So I was trying to add input with type 'tel', and it's not working. The input type is keep switching to 'input'. Tested on last two versions.

[2019-02-08 02:39] RobertoVJ commented on #222
Hi.. there's a way to show the re captcha in the conversational form?..

[2019-02-08 02:47] aimer2695 commented on #67
Hi.. there's a way to show the re captcha in the conversational form?..

[2019-02-08 02:52] aimer2695 commented on #67
Hi.. there's a way to show the re captcha in the conversational form?..

[2019-02-08 02:52] aimer2695 commented on #67
Hi.. there's a way to show the re captcha in the conversational form?..

[2019-02-08 03:17] aimer2695 opened #282 "re captcha"
Hi.. there's a way to show the re captcha in the conversational form?..

[2019-02-08 04:08] jenssogaard commented on #222
Hi @RobertoVJ. How would you like to use it? Please explain in more detail. Preferably open a new issue.

[2019-02-08 04:11] jenssogaard commented on #282
As mentioned in one of the other two threads you wrote in. Please explain how you see reCaptcha being used and I will be happy to help you cook up a solution.

[2019-02-08 04:12] jenssogaard commented on #281
Hi @jacobclyne. We do not at the moment support type tel. However, I definitely see the use for it and will put it on the roadmap.

[2019-02-08 05:11] aimer2695 commented on #282
I used Gravity Form for the  Conversational Form, I used re captcha field from Gravity Form and the problem is I can't see the re captcha Field in my preview but the the some fields works on me.

[2019-02-08 11:35] jacobclyne commented on #281
Thank you @jenssogaard can we expect that for the next release?

[2019-02-08 13:46] jenssogaard commented on #281
@jacobclyne yes, I think it should be a pretty straight forward implementation. And thank you for bringing it to my attention.

[2019-02-08 13:46] jenssogaard commented on #282
@aimer2695 I am not sure how you can make it work with Gravity Form - you might need to get your hands dirty and do some javascript to accomplish this.

[2019-02-09 12:36] alexsonnay opened #283 "Event on valid input radio not working"
Hello,

I'd like to use a progress bar with the form. I'd like that when a user selects an option between two radio inputs, the data-value of the svg progress bar increases.

However, it doesn't seem to return any information when using `.checked` in JS once a I select an option from two input radios.

I checked issue #152 but I didn't see any fix about the id attributes on the current releases.

[2019-02-11 01:20] aimer2695 commented on #282
@jenssogaard But This is possible in Gravity Form.? There's a steps how can I make it?

[2019-02-11 01:47] jenssogaard commented on #282
@aimer2695 can you post a link to your site so I ca see how it works and then guide you from there? I'll be happy to help.

[2019-02-11 02:07] aimer2695 commented on #282
@jenssogaard Here's the Link: http://peupeup.eu/test/test-form/

I already set up only the re captcha Field. and there's no display. Thanks

[2019-02-11 05:05] aimer2695 commented on #282
@jenssogaard This is possible in Gravity Form? I hope this is possible I will apply it to my site after testing it in my testing site.. Thanks a lot..

[2019-02-11 09:32] aimer2695 commented on #282
Here's the Link: http://peupeup.eu/test/test-form/
I hope this is possible, I will apply it to my site after testing in my testing site. Thanks a lot.

[2019-02-12 06:54] aimer2695 commented on #282
@jenssogaard Here's the Link: http://peupeup.eu/test/test-form/
I hope this is possible, I will apply it to my site after testing in my testing site. Thanks a lot.

[2019-02-13 06:25] aimer2695 commented on #282
@jenssogaard This is possible in Gravity Form.? I can't still find any solution on this.  I'll need help here.

[2019-02-14 14:30] stanfaire commented on #283
I have the same issue.

[2019-02-16 13:55] anderson7play opened #284 "Support to use link in RobotChatResponse"
Guys,

Congratulations for your work!

I need to use a link inside de text RobotChatResponse, there are someone method to do this?

Thanks :)

[2019-02-16 17:53] jenssogaard commented on #284
@anderson7play sure thing, you just need to encode the HTML inside your attribute value. See [this example](https://codepen.io/jens-s-gaard/pen/Zwmowb) where I encoded my a-tag using [this tool](https://mothereff.in/html-entities) and added it to my first cf-questions value.

[2019-02-16 22:23] anderson7play commented on #284
It Works!

[2019-02-17 08:40] CoderBees245 commented on #191
Hello, Is an example for Angular done already? Please let me know how I can use this beautiful library in Angular?

[2019-02-18 05:10] #282 closed

[2019-02-18 11:05] alexsonnay commented on #152
Didn't understand how to trigger an event on radio inputs. Does someone have a more precise example  ?

[2019-02-19 13:21] #284 closed

[2019-02-19 13:22] jenssogaard commented on #191
@CoderBees245 yes, here you go: https://stackblitz.com/edit/angular-conversational-form

[2019-02-19 21:20] Vbboi24 commented on #191
Wow this is awesome, But i try to wrap it around a div but it ends up occupying my whole page. I tried adding context while initializing using startTheConversation method, still i endup covering the whole page. I referred to this same stackblitz demo. No luck trying to wrap it within a div :( @jenssogaard

[2019-02-20 14:35] CallistusWD commented on #276
Hi @danielfriis

I am using this in a application that makes the engagement of Facebook ads better for a client.

Had a few issues when trying to compile this with GULP but got around it now.

It's great where there is a decision tree to get an answer. Especially for support tools.

I am mainly using it in survey questionnaires as well.

Really looking forward to a proper release version.

I think

[2019-02-22 21:06] jenssogaard commented on #276
@CallistusWD thank you for taking the time to provide us with your experience and use cases. That is really valuable to your. As for the datepicker, I do not think we will add it as a core feature since datepicker ui depends a lot on the specific scenario at hand. However I have created [a crude example of how you can implement a third party datepicker](https://codepen.io/space10/pen/dQRPpB), have

[2019-02-25 08:26] Vbboi24 opened #285 "Enclose conversational form within a DIV : Angular 6"
**Is your feature request related to a problem? Please describe.**
Yes, I would like to use this Awesome library in my Angular 6 Project but i could'nt find a documentation on that. Though [Angular Example](https://github.com/space10-community/conversational-form/issues/191#issuecomment-465125899) here shows how to use it in Angular. It covers how this library can be used with Angular. But the pro

[2019-02-26 01:05] jenssogaard commented on #285
@Vbboi24 I see the issue. I'll try and sort this out.

[2019-02-27 11:44] stormsson commented on #276
hi, on a backend environment we are using cf.
We use it to gather data from the user, and often the user needs to change page in its profile area in order to check informations that are need for the answer,tehrefore...

As a further feature i would suggest persistence between page changes: a way to save / inject the current state of the conversation in order to allow the user to check different pa

[2019-02-27 13:56] jenssogaard commented on #276
@stormsson I am very happy to hear that you are using CF. And I absolutely understand the need for persistence in the use case you describe. I can think of a few solutions on how to go about this but also some challenges with state management (eg. should state always supersede form field value...).

If you want to do this outside of CF and you use a form tag as the basis for you CF instance, you c

[2019-02-28 14:53] alexsonnay commented on #283
🥺

[2019-02-28 17:16] matt3224 opened #286 "Remove and replace all instances of eval()"
Although this isn't a bug per-se it felt like this was still the right area.

https://github.com/space10-community/conversational-form/search?l=JavaScript&q=eval%28

There are a couple instances where the eval() function is used and this is usually discouraged for security reasons. Perhaps a different solution should be used?

[2019-02-28 19:30] jenssogaard commented on #283
@alexsonnay how about using flowstep callback and look at the forms step and maxStep values?
https://codepen.io/jens-s-gaard/pen/QojXvb?editors=0011
Outputs progress in console.

[2019-02-28 19:47] jenssogaard commented on #286
@matt3224 thank you for pointing this out. We are indeed using this for executing custom validation functions for input elements and we do note this in our [documentation](https://space10-community.github.io/conversational-form/docs/0.9.90/functionality/validation/). That said we should always strive to do better so I'll take a look and see if I should possibly change it to something like `window[

[2019-02-28 19:48] matt3224 commented on #286
That's great to hear! Keep me posted

[2019-02-28 20:55] jenssogaard commented on #285
@Vbboi24 I have updated the Stackblitz example - I was appending the form and not the CF instance in the example. Have a look at line 35, before I appended `.formEl` it should just be `.el`. And then just make sure your container is `position: relative`, as in the example, as we append an `absolute` container.

[Link to the updated example](https://stackblitz.com/edit/angular-conversational-form-e

[2019-02-28 20:55] #285 closed

[2019-02-28 23:28] CallistusWD commented on #276
Wow i never thought of doing that, would it not be better to compile it into a 30 day cookie of some sort instead? I have used this with cookies before, may just depend on how much data you would need to save and retrieve.

@jenssogaard  Defniitely would love the example if you have time :)

[2019-03-01 10:38] matt3224 opened #287 "Circular dependency warning"
Hey,

I am seeing a circular dependency warning, and although it is just a warning i couldnt see that anyone else had pointed it out, so thought i would!

[code]

[2019-03-02 22:52] null-saad opened #288 "problem with Appearance Behavior"
**What I am trying to do ?**
I am trying to use the formless option and change the appearance at the same time.

**Expected Behavior**
if loadExternalStyleSheet : false then <div id="cf-context" class="dark-theme" role="cf-context" cf-context></div>should use the provided css

**Actual Behavior**
Couple of issues here
1. Even without setting loadExternalStyleSheet : false its picking the provided

[2019-03-03 11:54] stormsson commented on #276
@jenssogaard thank you it would be very appreciated if you have the time!

[2019-03-04 14:02] alexsonnay commented on #283
Thanks I'll try that !

[2019-03-04 14:12] alexsonnay commented on #283
It works, yay ! But only if you never edit previous answers. If you do, it resets everything and all the steps are out of order unfortunately.

[2019-03-07 20:59] fladouceur opened #289 "Links not clickable after form submitted"
When introducing links in messages like this for example:
`      <cf-robot-message cf-questions="<a href='http://www.google.com'>Google</a>" />
`
... they work fine until the form is submitted, but then they become unclickable.

[2019-03-08 00:37] jenssogaard commented on #289
Hi @fladouceur. Once submitted we disable the form using the below CSS, you can override it yourself if needed:
`.conversational-form.done cf-chat-response {
    pointer-events: none;
}`

add:

`.conversational-form.done cf-chat-response {
    pointer-events: auto !important;
}`

[2019-03-08 00:37] #289 closed

[2019-03-08 06:13] fladouceur commented on #289
Yes I found that afterwards, thanks for the reply though. I actually ended up using a custom class and some jQuery:
`          $(".cf-link").closest("cf-chat-response").css("pointer-events", "unset !important");
`

[2019-03-17 18:36] voordev opened #290 "Serverside rendering of questions and logic?"
Amazing concept.
What I could not find if its possible to render questions and then" conversational logic / flow " serverside?

That is the webform/site would load all questions and logic from the server. Thus not the full form is in the webpage.

Is this possible and are there some examples on how one would implement this? Kind regards

[2019-03-19 07:27] pankajbadatia opened #291 "upload files , documents, images"
Hi

Thanks for your Convesational form.. its awesome work..

I am working in flask .
I have managed to make simple form and save it to database. But the problem comes only when i try to upload a file , image , documents...
I get a fake path at the backend..
I believe we are sending in json form from frontend.
 `{
'name': 'pankaj',
'dplace': 'mumbai',
'dtime': 'morning',
'dage': '20',
'dduration':

[2019-03-19 12:19] jenssogaard commented on #290
Hi @voordev. Excellent question. You could use flowstepcallback like in [this example](https://codepen.io/space10/pen/BJKbYq) to do an AJAX request and get the next question based on previous question. Does that make sense?

[2019-03-22 02:01] jenssogaard commented on #291
Hi @pankajbadatia. I assume you do an AJAX request using [submit callback](https://space10-community.github.io/conversational-form/docs/0.9.90/functionality/submit-callback/), correct? If so you need to implement logic for loading the content of the file the user selected or do a traditional form submit.

[2019-03-22 02:02] jenssogaard commented on #287
@matt3224 Thanks for bringing this to my attention.

[2019-03-22 02:17] jenssogaard commented on #288
@null-saad have a look at [this example](https://codepen.io/jens-s-gaard/pen/GewzXr) where I do formless and pass the option to disable the default stylesheet. I hope this helps.

[2019-03-28 06:14] MSBPeace opened #292 "double registration of conversational-form div with formless"
For a code reference you can check the [official codepen](https://codepen.io/space10/pen/EoKMLg/) on how to use the formless feature.

When using the formless feature 2(!) instances of conversational-form are added to cf-context. (this can be seen in the codepen)

MOST of the time this is not an issue since the actual active instance is usually registered last causing it to be rendered on top and

[2019-03-28 14:33] jenssogaard commented on #292
Hi @MSBPeace. The issue in that example is likely that the attribute `cf-context` is added to the div which would auto instantiate. Could you try removing it and see if that helps you?

[2019-04-01 01:04] MSBPeace commented on #292
@jenssogaard Thanks, I tried it and indeed the form now becomes visible but this is only due to the fact that the inner form is rendered in some other random location:

[code]

This can also be tested and seen inside the earlier linked codepen.

[2019-04-03 16:34] stormsson opened #293 "timed addRobotChatResponse"
It would seem that addRobotChatResponse is not  considering  `robot.robotResponseTime ` option.
Is there a way to make it consider it or, generically, having addRobotChatResponse with a delay that actually interrupts the flow ?

Alternatively, is there an html form element that outputs a message but doesn't require input from the user, so it can be processed in the form flow?

The following code i

[2019-04-03 16:44] jenssogaard commented on #293
@stormsson we have the `<cf-robot-message />` tag. Take a look [here](https://space10-community.github.io/conversational-form/docs/0.9.90/functionality/cf-robot-message/).

[2019-04-04 08:02] stormsson commented on #293
Thank you @jenssogaard  once more your tool is very helpful!

[2019-04-04 10:17] #291 closed

[2019-04-04 16:37] jenssogaard commented on #293
@stormsson thank you. I appreciate the questions and positive feedback. Let me know if you have other questions.

[2019-04-04 16:37] #293 closed

[2019-04-05 10:07] stormsson opened #294 "remapTagsAndStartFrom and flowCallback"
I am probably using this in the wrong way,
I have configured the cf in order to have an html form with questions.
i configured the flowCallback, and i would like to restart the flow from a previous question if a specific answer is met.

inside the flowCallback i have this:

[code]

but it would seem that somethign is wrong with this approach (see codepen) .
https://codepen.io/anon/pen/JVXzPL

am I

[2019-04-05 12:52] jenssogaard commented on #294
Hi @stormsson. Your approach was not far off. I tweaked your conditional a bit. However, it seems to cause issues when you try to jump to a different question before the current one has been answered. I don't have an answer for you right here and now.
Could you use conditionals instead to achieve the desired outcome?

[2019-04-05 13:57] stormsson commented on #294
Hi @jenssogaard  thank you again for your help, I really need to send you a coffee somehow 😄
I don't know actually how to achieve the same result with conditionals:

My current flow is:

1. initial steps
2. the user reaches a question where he may choose among 5 answers ("categories")
3. in the callback a calculation is being done based on all previous steps
4. I use addRobotChatResponse to send a

[2019-04-07 17:48] stormsson commented on #294
i have not clear what remapTagsAndStartFrom is for ,then :(
i am trying to manually re-create the tags with addTags, but after the original number of form steps the submit/end is met.

Is there some way i can artificially avoid ending the conversation while adding tags ?
thank you again

[2019-04-08 00:39] jenssogaard commented on #294
@stormsson I'll try to investigate and give you a decent answer later in the week.

[2019-04-09 13:30] stormsson opened #295 "cf-robot-message shows textarea to user"
Adding `<cf-robot-message>`  to the html form has some odd behaviour when `hideUserInputOnNoneTextInput` is true:

i forked the pen linked in the documentation here: https://space10-community.github.io/conversational-form/docs/0.9.90/functionality/cf-robot-message

adding only `hideUserInputOnNoneTextInput: true` to the original configuration
modified pen:  https://codepen.io/anon/pen/VNPKXN

**Be

[2019-04-15 00:16] jenssogaard commented on #295
Hi @stormsson. Thank you for bringing this to my attention. Let me take a look.

[2019-04-16 17:54] RJCAM opened #296 "How can I change the thinking bots style or class before robot and user response?"

[2019-04-16 18:26] RJCAM commented on #276
I'm using CF to implement a dynamic registration page for my company's app

It was their choice to use it but personally I think it's an awesome API and I think it's better for user communication

Perhaps adding more tutorials about how we can make a few changes. Like in my case when I start using it I didn't know how to use the userInterfaceOptions and other things.

[2019-04-16 19:14] jenssogaard commented on #296
@RJCAM changing the class would be a lot of work for you. Why not just override the existing style with CSS?

[2019-04-16 19:16] jenssogaard commented on #276
@RJCAM thank you for sharing your feedback, greatly appreciated. I understand what you are saying. Being able to customize the look and feel to match your needs is very important and there is still work we can do in that area to make that more transparent. I will put it on the roadmap.

[2019-04-16 20:13] RJCAM commented on #296
Thanks for the reply. Overriding the style seems good too. What I want exactly is to change the bots style to this example (eg: 7):
https://tobiasahlin.com/spinkit/?fbclid=IwAR1F-6qw9I60nridgDayztD7B4-a5FxNOJnLlJlnxoiW6kRVPdml7TngBzg

So if I change or override the style it doesn't matter, I just need it to work. Sorry for my english.

[2019-04-22 02:04] YElyousfi opened #297 "Next JS (SSR) React support"
How can this be made to not rely on window being defined? Trying to integrate this with Next.JS / server-side-rendering but this means that on the server window is not defined.

[2019-04-22 03:15] jenssogaard commented on #297
hi @YElyousfi. That is a good question. Could you skip SSR for the CF integration and integrate when `typeof window !== undefined` ?

[2019-04-25 12:25] thavamm opened #298 "How to add image for questions"
We have requirement to add images along with questions. Please guide us.

[2019-04-25 18:13] jenssogaard commented on #298
Hi @thavamm. You can use [image answers](https://space10-community.github.io/conversational-form/docs/0.9.90/functionality/image-answers/), or you can just add img tag in your `cf-questions`. Just don't forget to escape your HTML if you add HTML in the questions. You can find other issues . where I show how to add links in `cf-questions`.

[2019-04-26 05:26] thavamm commented on #298
Thank you @jenssogaard . It is working after I add img tag in cf-questions.

[2019-04-26 05:26] #298 closed

[2019-04-29 10:24] thavaamm opened #299 "how to add event listner to tag in angular 6"
Hi,

I added event listener to my tag (click)="onMyTest()" in my angular form, but event not firing.

<input type="radio" (click)="onMyTest()">

Please guide me.

version of Angular: 6

[2019-04-30 16:35] jenssogaard commented on #299
Hi @thavaamm. We do not transfer events attached to your form to the CF instance. You could check to see if `cf.OptionButtonEvents.CLICK` does the trick. See event documentation [here](https://space10-community.github.io/conversational-form/docs/0.9.90/events/).

[2019-05-01 13:06] thavaamm commented on #299
Thank you @jenssogaard

[2019-05-01 13:06] #299 closed

[2019-05-16 15:15] amandaIaria opened #300 "A Couple of questions - textbox text formating, creating a loading effect"
Hello there,

Just a couple of questions. This form uses the formless version with about 40 or so questions. This includes any questions that are dynamically inserted via addTags(). With the last question if you want me to take it out of this post and put it in a post label bug I will. I just thought that one post might be a good idea.

**First question**
What do you think is the best way to add f

[2019-05-17 20:46] amandaIaria opened #301 "Editting Bug"
Please check the list below to make sure we can provide you with the best possible support :star:

- I have provided a code example.
https://codepen.io/amandaIaria/pen/arwwqJ

- If I encountered an issue I have provided:
  - a description of the actual and expected behavior
see below
  - what version of Conversational Forms I am using
latest/cdn
  - what browser and version I am using
Chrome
  - t

[2019-05-20 01:01] amandaIaria commented on #301
I may have found the culprit, but I'm not sure how to go about with it. This particular bug seems to go away when I not doing any validation in the flowback method.

When I comment out my switch statement that looks at the tags, for example this is the switch statement.

[code]
It won't do that weird behavior as shown in the video. It'll remove the other answers and start as if you started at that

[2019-05-21 03:47] amandaIaria commented on #301
Another thing I found is that this behavior only happens when I'm looking for a specific tag. AKA

[code]
Even doing something as simple as that breaks it.

Which is how your documentation is saying it should be done in https://space10-community.github.io/conversational-form/docs/0.9.90/functionality/validation/

However, I *might* (I need to do some more testing) found a solution. Instead of usin

[2019-05-21 13:10] jenssogaard commented on #301
Hi @amandaIaria. I'll make sure to take a look later today and try to help you out.

[2019-05-22 14:40] amandaIaria commented on #301
For the moment I've had to switch to the regular form version instead of the formless. I still haven't been able to pinpoint an exact cause other than guessing what it might be.

[2019-05-24 18:08] Ilja-developer opened #302 "Screen flickering"
On the submit of the form, the HTML form with no styling appears for a sec flickering before submitting. So I enter all values, and on ENTER on the last question the chat disappears and I see my HTML form for a sec, then it redirects as I setup in the FORM action.

Anything I configured wrong?

![flick2](https://user-images.githubusercontent.com/29120151/58348125-0a859e80-7e60-11e9-9b5e-952b456052

[2019-05-30 13:48] jenssogaard commented on #302
Hi @Ilja-developer. If the path you are submitting to would be faster your would hardly notice it? :) But I understand. Ideally, the form would not change appearance on submit. I'll put it on the list of tasks but I can not assign it a high priority as of now.

I would suggest that you instead use the custom submit callback and do an AJAX request. That would in most cases always make for better us

[2019-05-30 13:55] jenssogaard commented on #301
@amandaIaria with your custom validation. Have you made sure that you always call either `success()` or `error()`?

Any chance you can post a Codepen that would replicate the error? Then I can take a look and work with it on my end.

[2019-05-30 14:05] jenssogaard commented on #300
@amandaIaria

1. Change input type - yes, use flowStepCallback. You could also hook an onKeyPress listener to the input field and check what question is being answered and the manipulate the input based on keyboard input. Does that make sense?

2. Have you checked the `userInterfaceOptions` option in the [docs](https://space10-community.github.io/conversational-form/docs/0.9.90/options/)?

3. Wher

[2019-05-30 14:05] jenssogaard commented on #300
And @amandaIaria, I am sorry for the late reply.

[2019-05-30 14:07] jenssogaard commented on #297
@YElyousfi I haven't heard from you so I will assume that my answer solved your issue. Feel free to open a new issue if needed.

[2019-05-30 14:07] #297 closed

[2019-05-30 14:08] jenssogaard commented on #294
@stormsson circling back to this. Did you manage to solve your issue?

[2019-05-30 14:11] jenssogaard commented on #295
@stormsson I'll sort out this issue in the upcoming v1.0.0 release.

[2019-05-30 14:12] jenssogaard commented on #296
@jenssogaard Did you manage to resolve your issue. I assume you know how to use your browsers webinspector to find the class names you need to override?

[2019-05-30 14:14] jenssogaard commented on #290
@voordev Since I have not heard from you I assume you resolved your issue. I'll close this for now.

[2019-05-30 14:14] #290 closed

[2019-05-30 14:19] jenssogaard commented on #292
@MSBPeace I notice in the above that you use `role="cf-context"` and not just the attribute `cf-context` - the latter is the correct one, and should solve your issue.

[2019-05-30 14:19] #292 closed

[2019-05-30 14:27] #268 closed

[2019-05-30 14:28] #288 closed

[2019-05-30 14:35] jenssogaard commented on #261
@AfaanBilal this request has not been implemented and it will not get any focus in the upcoming release. I'll close this issue for now but will keep it on the list of potential features we will work on at some point.

[2019-05-30 14:35] #261 closed

[2019-05-30 14:37] jenssogaard commented on #283
@alexsonnay do you have an example? Eg. a CodePen. Are you making sure to always call either error() or success() on the callback?

[2019-05-30 14:39] #177 closed

[2019-05-30 15:52] edlgg opened #303 "ReferenceError window is not defined in Nuxt.js component"
Hello,
I tried to adapt the code from this [link](https://stackblitz.com/edit/vue-conversational-form?file=myForm.js) to create a vue component using nuxt but I'm getting the error 'Window is not defined'. I think it has something to do with the import trying to use the window while it's being server side rendered but I don't know how to fix it. Any thoughts? Thanks.

I saw that there was a simila

[2019-05-31 07:27] Ilja-developer commented on #302
Haha, very true.

I think I fixed it a little. I've hidden the form with opacity and height (display gave errors in chrome). Now it's cool.

Thanks so much, amazing stuff.

[2019-05-31 08:10] RJCAM commented on #296
Yes. Thanks for the help. I resolve my issue overriding the css styles.
Sorry if I didn't tell you.
You can consider the problem resolved and the issue solved. Thanks

Em qui, 30 de mai de 2019 às 13:12, Jens Soegaard <notifications@github.com>
escreveu:

[2019-05-31 08:42] Doss12 opened #304 "looping through an object to create options of a multiple select"
Hello ,
I have an object and i want to put some data of this object into a multiple select , i tried to use
   option *ngFor="let user of users">{{user.firstname}}</option> but it doesn't work.
Is this possible ?

Many thanks !

[2019-05-31 19:20] amandaIaria commented on #300
1. I think so. I'll have to dig into it and see if that will do it.

2. Yes, but that's for a general. I was looking to create a fake loading after a certain amount of questions were answered. There was a question that had mentioned something of the same.

3. `data.options.eventDispatcher = dispatcher.bind(window);` As I said I was doing something like what was documented for flowStepCallback/subm

[2019-05-31 19:25] amandaIaria commented on #301
Outside of my `switch`, I have a `return success()` since there's no need to have it in. Otherwise, there is always a `return error()`. I'll have to recreate it with more questions.

[2019-06-03 13:47] jenssogaard commented on #304
Hi @Doss12. I think your issue is that you are rendering your virtual DOM and using that as the basis for CF. I would recommend using the [formless option (JSON)](https://space10-community.github.io/conversational-form/docs/0.9.90/functionality/formless/). Rather than rendering a HTML form. I have created a [StackBlitz example](https://stackblitz.com/edit/angular-conversational-form) you can have

[2019-06-03 13:47] #304 closed

[2019-06-03 13:52] jenssogaard commented on #303
Hi @edlgg. You are right, CF do rely on `window` and this is an issue with frameworks like Nuxt.js and Next.js - I will try to address this in the coming weeks. You might want to look into loading CF on mounting to avoid this issue. [This](https://stackoverflow.com/questions/45890018/how-to-load-a-resource-on-the-client-side-only-in-nuxt-js) might be of help to you.

[2019-06-03 13:52] #303 closed

[2019-06-03 13:58] jenssogaard commented on #302
You are more than welcome, @Ilja-developer. Happy you resolved it.

[2019-06-03 13:58] #302 closed

[2019-06-03 15:10] jenssogaard commented on #300
@amandaIaria
2. We do not currently have an option that would allow that. But what you could do is use the event dispatcher and control the flow using `flowManager.stop()` and `flowManager.nextStep()`
I have created a crude example for you here: [CodePen](https://codepen.io/jens-s-gaard/pen/wbNOBa?editors=1010)

3. I made a few changes. See lines 237-240 and 244. At least you now have an eventDisp

[2019-06-03 15:50] jenssogaard commented on #295
@stormsson this is already fixed in the upcoming v1.0.0 release.

[2019-06-03 15:50] #295 closed

[2019-06-04 03:42] edlgg commented on #303
Thanks! That helped.

[2019-06-04 14:14] #286 closed

[2019-06-05 15:06] jenssogaard commented on #228
@BenRacicot just an update. The next version will include:
1. email validation using emailregex.com pattern (if no custom pattern is provided)
2. validate value against `min` `max` attributes (if provided)

[2019-06-05 16:50] amandaIaria commented on #300
Thanks for that. I'll check it out and see if that helps.

[2019-06-22 07:27] farindra opened #305 "How to add custom HEADERS when submit form data, like X-CSRF-TOKEN and so on"
Hai I'm use laravel framework and  require X-CSRF-TOKEN to all request for API,
How to add custom HEADERS when submit form data, like X-CSRF-TOKEN and so on

[2019-06-24 01:29] jenssogaard commented on #305
Hi @farindra. Your question is likely more pertaining to Laravel rather than CF, but let me try to help you out.

1. Expose the token to the client eg. by writing it to a variable on window. [Here is an example of how to  do that](https://laracasts.com/discuss/channels/requests/is-laravel-automatically-verifying-the-csrf-token-when-sending-a-post-request-using-axios?page=0).
2. I assume you are do

[2019-06-24 01:29] #305 closed

[2019-06-26 12:01] Doss12 opened #306 "addtags inside a subscribe not working"
Hello,
 I have an issue with addTags inside a subscribe , it displays the question after the addRobotResponse randomly and most of the time it's not displaying it , here is my code  :

    function onFlowBack (dto, success, error) {
            switch (dto.tag.id) {
                  case "account_number":
                       this.account_num = dto.tag.value[0];
                       this.acco

[2019-06-26 12:29] jenssogaard commented on #306
@Doss12 do you call success(); at the end of your callback?

[2019-06-26 12:34] Doss12 commented on #306
yes , i think is an issue of async , is addTags function asynchronous ?

[2019-06-26 13:42] Doss12 commented on #306
thanks for your replay ,
I just call a return success at the end of the function but not in the case , so the problem is resolved thanks a lot :D

[2019-06-26 13:49] jenssogaard commented on #306
@Doss12 awesome, happy to help.

[2019-06-26 13:49] #306 closed

[2019-06-28 08:34] Doss12 opened #307 "Answers tag id are similar to question tag id"
Hello ,
I want to create a scenario switch the response of a user , i use conversationnal form fomless to add tags according to the choice of the user.I have this json :

[code]

I noticed that the two answers have the id "first" of the question so i cannot identify the reponse clicked by the user.Is there a solution for this ?

Thank you in advance

[2019-06-28 09:32] MaximeLagresle opened #308 "<input> tags not displayed on bootstrap modals"
Hello,

I want my user to click on a cta that will trigger a bootstrap modal with a conversational form embedded inside.

I've been doing it and it seems to work except that only the `fieldset` (inside my `form` tag) with a `select` tags are displayed but not the `input` ones.

I couldn't figure out why? Any idea on what I'm doing wrong?

Here is a codepen showing my issue:
https://codepen.io/maxi

[2019-06-28 12:45] jenssogaard commented on #308
Hi @MaximeLagresle. Just move your form out of the modal body. When the form is `display:none;` CF has a hard time parsing the form fields.

[2019-06-28 12:45] #308 closed

[2019-06-28 12:48] jenssogaard commented on #307
@Doss12 where do you want the scenario switch? on submit?  You know you can use a custom callback and get serialized data:
[code]

[Link to example in the docs](https://space10-community.github.io/conversational-form/docs/0.9.90/functionality/submit-callback/).

[2019-06-28 14:07] Doss12 commented on #307
yes i'am using the scenario switch inside a callback  function but the different anwers of the question have the same id, so as a result i have the same process for the two answers.

[code]

[2019-06-28 14:32] jenssogaard commented on #307
You should be able to get that value from `dto.tag.value` - have you tried that?

[2019-06-28 15:08] Doss12 commented on #307
yes i tried to change the switch (dto.tag.id)  by switch (dto.tag.value[0]) , it works ! but when i submit the form i have the value of the tag instead of the id (which is unique ) in serialized data

[2019-06-28 15:13] jenssogaard commented on #307
Can you try and paste a screenshot of the output so I can see? Maybe JSON?

[2019-06-28 15:47] MaximeLagresle commented on #308
Hi Jens,

Thanks for your reply!

Just to make sure I got your point, you're saying that I shouldn't embed a CF in a modal at all, right?
What would you recommend then if I want my CF to pop up once the user clicks on a CTA?

Thanks for your help!

[2019-06-28 15:48] Doss12 commented on #307
[code]
when a user choose see accounts

[2019-06-28 16:00] Doss12 commented on #307
Okey , I cannot show you the json because i'am using addtags but i'am going to explain the idea :
so i have this

[code]

To Add A tag i do the same process like below for every addtags :

[code]
the output :
![ques](https://user-images.githubusercontent.com/24626503/60355121-0bb16a80-99ce-11e9-8fea-87be65dd5811.PNG)

As you can see for the account number i have a name i put in value but not the i

[2019-06-28 17:24] jenssogaard commented on #307
Can you also paste the lines where you console.log the "Formdata, obj" part?

[2019-06-28 17:27] jenssogaard commented on #308
@MaximeLagresle you just need to move the `<form>...</form>` part out of the modal - like this: https://codepen.io/jens-s-gaard/pen/vqpdxN?editors=1100

See how the form is moved to line 9 - not nested in the modal anymore. Remember, the <form> tag is basicly just your dataset that you are using for your Conversational Form.

[2019-06-28 17:37] MaximeLagresle commented on #308
Awesome @jenssogaard that works! Thanks a lot for your precious help :)

[2019-06-28 17:45] jenssogaard commented on #308
You are more than welcome, @MaximeLagresle.

[2019-06-29 14:13] Doss12 commented on #307
It's inside this function :

[code]

[2019-06-30 02:08] farindra commented on #305
yes @jenssogaard i know that all method, but in chat mode those not working. where is submit code in chat mode?

[2019-07-01 12:59] jenssogaard commented on #305
@farindra can you please share more code? Maybe screenshots of your code or the form with X-CSRF token. Without more detail, it is too hard to figure out what is wrong.

[2019-07-02 18:27] #300 closed

[2019-07-02 18:28] jenssogaard commented on #301
@amandaIaria I'll close this one for now. Feel free to post again when you have more and we can re-open.

[2019-07-02 18:28] #301 closed

[2019-07-02 18:28] #296 closed

[2019-07-05 07:45] edlgg commented on #218
Has this been solved? Im still getting the same error 'cf.EventDispatcher is not a constructor' im using nuxt.js in case it has any relevance.

[2019-07-05 14:04] jenssogaard commented on #218
Hi @edlgg. We have had a bit of a delay on rolling out v1.0.0 where this issue is fixed. I hope it will be released in the next 4 weeks. I'm sorry for the delay.

[2019-07-05 17:26] edlgg commented on #218
No worries I! I managed to do what I was trying to do anyways. Thank you for developing this project. It is very useful.

[2019-07-11 07:05] rahulrawat1210 commented on #218
When will v1.0.0 be released? Still getting the error EventDispatcher is not a constructor

[2019-07-11 12:57] jenssogaard commented on #218
@rahulrawat1210 I hope it will be released within 2-3 weeks.

[2019-07-12 08:44] #307 closed

[2019-07-12 12:10] mploux opened #309 "image cf-robot-message"
Hi !
First of all thanks a lot for your work, it is amazing !
I am having issues with rendering a full image inside the cf-robot-message. I managed to render one by simply placing an <img /> inside the cf-questions but I have a huge padding around and it's not at all what I want. So I was wondering if there was a way to simply render a cf-robot-message as an image, without text.

Thanks again !

[2019-07-12 15:00] jenssogaard commented on #309
Hi @mploux. Thank you for your kind words. We do not support any other way presenting an image inside of `cf-questions` than using HTML. But you could easily just apply a bit of CSS to take care of the styling, right?

[2019-07-12 16:13] mploux commented on #309
Hi @jenssogaard, thanks for the response ! I did took care of it with css but I don't feel like it's a nice way to do it. If there was a proper way I guess it would make me feel better but as of now it's maybe not important.
Anyway, thanks again and good luck on the project !

[2019-07-12 16:13] #309 closed

[2019-07-13 18:43] Lyzon opened #310 "Formless conditionals issue"
Hi, team! this is a wonderful project, thank you for the hard work!
I got a issue when I use Formless & conditional questions.

- I have provided a code example.
https://stackblitz.com/edit/vue-conversational-form-q6dxcf?file=myForm.js

- If I encountered an issue I have provided:
  - a description of the actual and expected behavior
The gif how the error shows: https://i.bmp.ovh/imgs/2019/07/dfbd

[2019-07-15 17:11] jenssogaard commented on #310
@Lyzon thank you for the kind words. I am sorry that you ran into this bug. It will be fixed in the upcoming v1.0.0 which will hopefully be released within a couple of weeks.

[2019-07-15 17:30] Lyzon commented on #310
@jenssogaard Thank you so much!

[2019-07-16 12:44] jenssogaard commented on #310
@Lyzon you reopened this issue. Do you have anything to add?

[2019-07-16 16:34] MaximeLagresle opened #311 "Blank modal after submission"
Hi @jenssogaard,

I've integrated cf into a bootstrap modal. The whole flow works properly however from time to time (on average 2 out of 10) my forms aren't submitted and I get this blank modal.

I'm using a 3rd party email service and thought that could come from it. But I tried another one (FormSubmit) and still get that issue...

Unfortunately, I haven't been able to see a recurring pattern th

[2019-07-16 21:07] jenssogaard commented on #311
Hi @MaximeLagresle. Can you share some of your code? How does the submit logic look like? AJAX or traditional form request?

[2019-07-16 22:09] MaximeLagresle commented on #311
My submit logic is a traditional form request. I use formsubmit.co and redirect my users to my own thank-you page (but I had the same issue before when I redirected my users to formsubmit own thank you page.

Here's part of my code:

HTML Code
`
<form id="form" action="https://formsubmit.co/admin@random.co" method="POST">

    <fieldset>
        <label for="name">What's your name?</label>

[2019-07-18 01:16] texxs commented on #276
#3
I think it would be awesome if you added a couple of sentences so that people who AREN'T JavaScript experts could use the basic version of the conversational form.

[2019-07-18 01:26] texxs commented on #276
The "Getting Started" section of the documentation implies that all you have to do is include the js from the cdn and then name your form properly and then:

Clearly, it takes more than that,

[2019-07-18 01:30] texxs commented on #276
The Conditional flow example has this comment in the source code:
``
Yet a ctrl-F search of the entire source code shows that comment is the only time that the text  "cf-form" is used.

Things like this and the above comment are making this really hard to get started.  At least for me.  It's a shame because this project sounds REALLY promising.

[2019-07-18 08:30] Doss12 commented on #294
Hello , have you recently found a solution to this problem?

[2019-07-18 14:05] jenssogaard commented on #276
@texxs thank you for the feedback. Documentation and the ability to quickly get started is key. With that being said `cf-form` is mentioned in the source:
`// auto start the conversation
			let formElements: NodeListOf<Element> = document.querySelectorAll("form[cf-form]");`

Basically. If you load Conversational Form and add `cf-form` as an attribute to your HTML form tag then an instance of Conve

[2019-07-18 22:37] MaximeLagresle commented on #311
Hey @jenssogaard,

Can that issue be related to that error?

![66912343_617876115384847_179360862232903680_n](https://user-images.githubusercontent.com/16308588/61496704-62063d80-a9bd-11e9-90de-dc31c96b3f87.png)

[2019-07-18 22:55] MaximeLagresle commented on #311
@jenssogaard do you think that issue can be related to the fact that my `<form>...</form>` part is outside of the modal code?

cf. https://github.com/space10-community/conversational-form/issues/308

[2019-07-20 07:01] stormsson commented on #294
sorry didn't read the notification, sadly i did not find a solution

[2019-07-22 12:33] chug2k commented on #43
Just leaving a note here in case anyone else has this issue ... it took me longer than I'd like to admit to realize that when you are creating formlessly, you need to escape the backslashes in the string, so: `pattern: '(\\w+)\@(\\w+)\\.[a-zA-Z]'`.

[2019-07-22 23:39] jenssogaard commented on #311
@MaximeLagresle if still guessing since I can't try it out myself. It looks like you are redirected back, so it must be on your end. What is supposed to be in the white frame that the user comes back to?

[2019-07-24 15:13] Doss12 opened #312 "Delete a message in Formless"
Hello
I want to fix the responseTime of robotThinking according to the duration of a HTTP Request, without fixing the time in userInterfaceOptions .The idea i have is to use the addRobotReponse while processing the HTTP request and delete it when we get a response.
1- how can i delete a RobotResponse  ?
2- have you another solution to this ?

[2019-07-29 13:36] #218 closed

[2019-07-29 23:42] WiFuchs opened #313 "Robot Message Callbacks"
**Is your feature request related to a problem? Please describe.**
I often add more information to the robot responses (eg an image carousel) based on the previous user response. However, right now I have no way of knowing when the robot message has been added, so I do not know when I can append the image carousel to it (without using MutationObserver, that is).

**Describe the solution you'd like

[2019-07-30 21:04] lysterjason opened #314 "Conversational-form@1.0.0 CDN Failing"
Hello,

I am attempting to upgrade from v0.9.90 to v1.0.0 based on the newest documentation page (https://space10-community.github.io/conversational-form/docs/1.0.0/getting-started) and when using the CDN with

<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/space10-community/conversational-form@1.0.0/dist/conversational-form.min.js" crossorigin></script>

the console in chrome (Ve

[2019-07-30 23:59] jenssogaard commented on #314
Hi @lysterjason. We released 1.0.0 yesterday but had to pull it back due to internal issues around communication. It will be available on Thursday. Apologies for the inconvenience. The docs link has been updated to avoid confusion.

[2019-07-30 23:59] #314 closed

[2019-07-31 00:06] jenssogaard commented on #313
Hi @WiFuchs. You can use the eventDispatcher and the event `FlowEvents.FLOW_UPDATE` that will tell you when eg. a robotMessage is added. Look for `event.detail.tag` which contains all the details about the tag added.

One detail: if you load CF using imports you will run into an issue because `EventDispatcher` is not exported. This is fixed in the upcoming v1.0.0 which will be released this Thursd

[2019-07-31 00:08] jenssogaard commented on #312
Hi @Doss12. I like your creative thinking as a way to solve this challenge. Let me try to see what I can come up with over the coming days.

[2019-08-01 12:47] AnirudhaGohokar commented on #276
Did we just removed the voice input in latest 1.0 release?

[2019-08-01 13:22] jenssogaard commented on #276
Hi @AnirudhaGohokar. No, should still work. I'll follow up later today.

[2019-08-01 17:04] chug2k commented on #224
yeah i'm not sure there's an easy way to make this work

[2019-08-01 21:50] lysterjason opened #315 "robotImage Not Working in Version 1.0.1"
I have upgraded to the new conversational form (Version 1.0.1) which I am super excited about! One issue is that the robotImage option does not appear to be working. I have set the image to a hosted image that I have used in Version 0.9.90 which worked very well, but now in Version 1.0.1 it appears not to work because the dark theme background-image is overriding it. I am using Chrome, Version 76.

[2019-08-02 00:56] jenssogaard commented on #315
Hi @lysterjason. Thank you for reporting this - you are correct. This is an issue only relating to the `dark` theme. As a workaround, I suggest you set them using CSS:
[code]

[2019-08-02 06:31] menteora commented on #224
Hi, I think version 1.0 solve this issue, see demo on home page of project.

[2019-08-02 10:46] buesing commented on #276
Would be great if you could make this work with SSR - when using next.js for example, I'm getting a "window is not defined" error. I can work around it but a more seamless experience would be cool.

[2019-08-02 12:41] ivanakruljac opened #316 "Form not rendered in Mozilla Firefox for Ubuntu canonical -1.0 | Windows 10 Chrome 75"
Console Warning in Mozila Firefox for Ubuntu:
`Will-change memory consumption is too high. Budget limit is the document surface area multiplied by 3 (816696 px). Occurrences of will-change over the budget will be ignored.`

Also, not rendered in:
Windows 10 - Chrome 7503 version
Windows 10 - Firefox (do not know the version)

[2019-08-02 15:26] lysterjason commented on #315
Awesome, thank you very much!

[2019-08-02 20:47] WiFuchs commented on #313
Hi @jenssogaard. Thanks for your quick reply!

I ended up using the `FlowEvents.FLOW_UPDATE` to call a callback passed as a custom attribute to the `cf-robot-message`. Is there any way to pause the flow of the conversational form? I am displaying a long list of images, and I would like to delay the next question until the user scrolls through them. My current idea is to change it from a `cf-robot-

[2019-08-05 12:45] #311 closed

[2019-08-05 12:48] jenssogaard commented on #313
@WiFuchs glad it worked out. We do not have a pause functionality. How about use the same `FlowEvents.FLOW_UPDATE` event and disable the input field when a certain question is rendered and enable once the user scrolls to the end of your options?

[2019-08-08 10:42] Leleking commented on #183
i got it working by doing this with jquery or vanilla js
first install the package: npm install conversational-form
then in your script, do this
<script>
 mounted() {
            $(document).ready(() => {
              $("form").conversationalForm({
                formEl: document.getElementById("form"),
                context: document.getElementById("cf-context"),
                userImage: "h

[2019-08-08 13:02] jenssogaard commented on #183
@it-fm the updated v1.0 documentation has an example on how to implement in Vue: https://space10-community.github.io/conversational-form/docs/1.0.0/getting-started/

Just scroll down the page a bit and you'll see a StackBlitz example.

[2019-08-08 13:06] jenssogaard commented on #316
@ivanakruljac is it a specific example or all instances not rendering? In order to recreate it is valuable to know more details.

[2019-08-08 16:12] lysterjason opened #317 "Input Mask within Conversational Form?"
Hi,

I am wondering if it is possible to put an input mask within specific questions in the conversational form. For example, if a question is "Please type 1 million?" instead of the user seeing 1000000, they would see a mask, so as they type they would see commas in between in proper currency format ($1,000,000). I know this is possible in regular HTML input boxes but I am having difficulty figur

[2019-08-08 17:30] jenssogaard commented on #317
Hi @lysterjason. We do not currently support input masks - could be something I would bake into CF. You could use the EventFlow and trigger/apply your own input masks when a specific question is rendered. Does that make sense?

[2019-08-08 17:32] lysterjason commented on #317
I'll give it a try! Thanks so much

[2019-08-08 19:46] lysterjason commented on #317
In case anyone stumbles across this problem [here](https://codepen.io/jasonly/pen/eqrebd) is a CodePen with an example of a currency mask in the Conversational Form using @jenssogaard Event suggestion. Implemented using [this](https://igorescobar.github.io/jQuery-Mask-Plugin/) jQuery plugin.

[2019-08-09 13:03] ivanakruljac opened #318 "Use <input type="hidden">"
My again :)
I would like to use <input type="hidden"> to send some additional values.
Is there a way how can I use this?
So far I didn't have success with it.  :(

[2019-08-09 15:22] jenssogaard commented on #318
Hi @ivanakruljac. I just tested it, and it works fine using traditional form submit. See this codepen I just cooked up - you will see the hidden name and value `xxx=xxx` in the url when submitting.

https://codepen.io/jens-s-gaard/pen/RXYyJJ

Feel free to share some code that will allow me to help you debug.

[2019-08-09 15:24] jenssogaard commented on #281
@jacobclyne this has been implemented now. Feel free to give it a try 😄

[2019-08-09 15:24] #281 closed

[2019-08-09 15:26] jenssogaard commented on #255
Native autocomplete support has been implemented in the latest release. Closing this issue for now.

[2019-08-09 15:26] #255 closed

[2019-08-09 15:26] #313 closed

[2019-08-09 15:44] #283 closed

[2019-08-09 16:38] lysterjason commented on #317
Also a very hacky solution, you can easily assign an input mask to just a simple field

[2019-08-09 16:49] jenssogaard commented on #317
@lysterjason thanks for sharing your solution. I greatly appreciate your updating the issue with your findings 🥇

[2019-08-09 16:49] #317 closed

[2019-08-12 13:24] ivanakruljac commented on #318
Hi @jenssogaard! Thank you for quick response and solution :)
This works!
But, I tried to use with Callback function and then use ajax for sending the data, something like:

`    submitCallback: function() {
      $.ajax({
          type: "POST",
          url: $(this).attr('action'),
          data: conversationalForm.getFormData(true)
      });
     conversationalForm.addRobotChatResponse("Thank

[2019-08-12 16:13] lysterjason opened #319 "Greeting Message using addRobotChatResponse"
Hi, I am wondering if there is a way to use addRobotChatResponse at the very beginning of the form for the purpose of a greeting message? I have an AJAX call before the beginning of the form and I would like to pipe some of the values from it into a greeting message but I am struggling to figure out how. Thanks in advance!

[2019-08-16 14:24] jjuspe opened #320 "Disable the control elements for keyboard?"
I have an almost identical form with this [example](https://codepen.io/space10/full/JMXzGX), but when I use my form with keyboard, some kind of 'next' and 'previous' buttons are added. They don't really do anything in this case and aren't needed since you select the options with tab.

Here's the source code:

[code]
The elements in question are `cf-input-control-elements` and `cf-list-button direc

[2019-08-16 16:41] lysterjason commented on #319
I am sure there is a better way to do it, but I did find a little hacky solution which you can view [here.](https://codepen.io/jasonly/pen/eYOzpbm) You can see how this can easily be adapted to use values from something like an AJAX call.

[2019-08-16 17:10] lysterjason opened #321 "Google Maps API on specific input"
Hi, I am wondering if it is possible to integrate the Google Places API for addresses into the form. For example, if on one question the user is asked for their address, when they type, the Google Places API shows the relevant addresses to what they are typing. Any help is appreciated!

[2019-08-18 12:33] Gigiart opened #322 "It is possible to get the user answer from another form/container"
To begin with, I want to thank you for the fabulous work here. I studied this plugin, but to use it I need the following functionality:

The user clicks on an option and then an overlay opens where the user can upload photos and certain fields. On the "Submit" button, the resulting data I want to be displayed back as the answer of the user.
Is it possible to do this? If Yes, how can I do it? Thank

[2019-08-19 02:15] jenssogaard commented on #322
Hi @Gigiart. Thank you for the kind words - much appreciated. What you describe is absolutely possible. Your description is open for interpretation, but I would look into [Events](https://space10-community.github.io/conversational-form/docs/1.0.0/events/) and [FlowStepCallback](https://space10-community.github.io/conversational-form/docs/1.0.0/functionality/flowStepCallback/) which would allow you

[2019-08-19 02:17] jenssogaard commented on #321
Hi @lysterjason. That's a good idea. I would suggest using [FlowStepCallback](https://space10-community.github.io/conversational-form/docs/1.0.0/functionality/flowStepCallback/) and [Events](https://space10-community.github.io/conversational-form/docs/1.0.0/events/) to trigger/bind that functionality to the input field. Does that make sense?

[2019-08-19 02:26] jenssogaard commented on #320
@jjuspe I believe the buttons are always added for the control elements but not activated since you only have 2 options. Can you share an example that highlights the problem as that would make it much easier for me to debug for you.

[2019-08-19 15:15] Gigiart opened #323 "Resume chat from till last question answered."
I have a super long structure of the form. All data is saved into the database on each step.
If a user, form some reason quit the chat and then come back, I'd like to resume the chat till the unanswered question.
So on next call of the form, for example, inputs will be filled with user-submitted data in answers.

[2019-08-19 15:16] Gigiart commented on #323
Thanks for the quick answer!

[2019-08-19 15:36] lysterjason commented on #321
Yea it does! I'll give it a shot!

[2019-08-19 17:30] lysterjason commented on #321
I am having trouble with this actually, I am using the FLOW_UPDATE event and inside of it

`if (event.detail.tag.name === 'address') {
      $("#address").geocomplete({
        formId: "#form"
      });
}`

and [this](https://github.com/tmentink/jquery.geocomplete) library. There are no errors when it is run and I know that that event is being triggered but nothing shows up in the CF input. Are th

[2019-08-21 04:51] MSBPeace commented on #323
If you do not care about rendering the chat history it is already quite doable by starting the conversation at the specified step you got from the stored data.

[2019-08-21 06:24] talusannni commented on #276
Hi,
I recently found this repo and it looks awesome.

We are trying to build an AI Chatbot platform for our customers
We have a product in Pipeline

I am trying to use for the customers who need button-based conversation chatbot

I am planning to do following in future
1. embed AI modules like duckling , TF or chatbot_ner and recognize wherever visitor enter free text
2. use it alternative to AI-b

[2019-08-21 14:40] Gigiart commented on #323
Thanks! I think is no point and bad user experience to wait for reiterate Q/A again. A robot message is enough to inform the user that the experience is not finished.

[2019-08-21 15:23] sergeyfilimonov opened #324 "Documentation link in landing page menu leads to an older version of docs"
The documentation link in landing page menu leads to an older version of the docs https://space10-community.github.io/conversational-form/docs/0.9.90/getting-started/, it should be https://space10-community.github.io/conversational-form/docs/1.0.0/getting-started/

[2019-08-21 18:08] kittcarson opened #325 "Google Analytics Integration Chat not Working"
https://codepen.io/space10/pen/YYqBWP

It does not display the name inputted

[2019-08-21 19:02] lysterjason commented on #325
I could be wrong but I don't see any Google Analytics metadata in the CodePen example, so it has no idea what to do inside of the flowStepCallback? That is where it is getting stuck.

[2019-08-21 19:54] lysterjason commented on #325
https://codepen.io/jasonly/pen/ExYNpqq

Here is the fix. I added the 2 script tags required for Google Analytics to work (Got this from docs/1.0.0/integrations/index.html). It was simply missing from the CodePen example you provided.

[2019-08-26 11:22] Gigiart opened #326 "Custom edit button"
Hi,
I need your help to overwrite the default edit/repeat answer functionality. Instead of default functionality (click on the answer tag), I'd like to append a custom icon button (only the last answer) and bind that default functionality of edit answer back again.
Thanks.

[2019-08-27 10:01] jenssogaard commented on #326
Hi @Gigiart. You can use EventDispatcher and FlowStepManager to bind/unbind on last answer and trigger click using:
`var userResponses = document.querySelectorAll('cf-chat-response.user');
userResponses[userResponses.length - 1].click()`

Does this help?

[2019-08-27 10:03] jenssogaard commented on #325
@kittcarson the purpose of the example is not to show how you install GA on your site but rather how you can access CF data and call your own GA event tracking or a different 3rd party tracking service in your application :)

[2019-08-27 10:03] #325 closed

[2019-08-27 10:15] jenssogaard commented on #323
@Gigiart on idea would be to feed CF the pre-filled form and call `ConversationalForm.flowManager.showStep(QUESTION_NUMBER)` after initiating the form.

[2019-08-27 10:50] jenssogaard commented on #324
Hi @sergeyfilimonov. Thank you for noticing and reporting. I updated the link now.

[2019-08-27 10:50] #324 closed

[2019-08-27 12:13] Gigiart commented on #323
Please help me to integrate this. Where should I add your code example? This becomes a must-do for me so I'll be grateful if you can help me. Many thanks!

[2019-08-27 12:35] Gigiart commented on #326
Thanks a lot! But How can I bind <span class="btn-edit"></span> into the user answer and then where can I add binding function for this new element? I'm sorry I'm kinda new using this plugin.

[2019-08-29 11:14] buesing opened #327 "Conditionals: If an answer is a prefix of another answer, both branches will be activated"
I created a simplified example with the following tags (formless, but I assume that makes no difference):
[code]
If you select "Medium Rare", you get both the response for "Medium Rare" and "Medium". It seems there is some kind of regexing going on but I couldn't find the exact reason in the code. Is it possible this block https://github.com/space10-community/conversational-form/blob/336257955d663

[2019-08-29 13:57] buesing opened #328 "Consider hiding checkboxes and radios that are excluded by a conditional"
I'm programmatically generating a pretty complex tree where condional branches are able to merge again after diverting. A simplified example of a part of the condition tree looks like this:
[code]
Where all the Q's are single choice questions, and the R's are robot responses to different answers. You can see that after R1 and R2, in both cases Q2 will be asked, but not if the answer for R3 is give

[2019-08-29 16:35] buesing opened #329 "Response bubbles are displaying next to each other instead of under"
I keep running into this issue where text bubbles are display like this: http://files.wild.as/tptwwl
Using 1.0.1, happens in Chrome, FF and Safari on OSX. Adding these styles to the  wrapping `<text>` component fixed the issue for me:
[code]

[2019-09-01 18:33] jenssogaard commented on #323
@Gigiart do you implement via JSON or a traditional HTML form?

[2019-09-01 18:50] Gigiart commented on #323
traditional HTML form, yes

[2019-09-02 10:10] Pefren opened #330 "Var userInterfaceOptions . robot . robotResponseTime due to message length"
I love your cf module but can't find how to make var response time length so it would be so cool to have option in userInterfaceOptions . robot . varRobotResponseTime. Parameter will be ms which takes every sign of message. It would make a chat convo more "real".

[2019-09-03 10:15] buesing commented on #328
In the meantime I'm hiding disabled responses with
[code]
It's not ideal but works as long as you don't need disabled answers.

[2019-09-03 12:46] egyptik opened #331 "Allow HTML answer-blocks"
Currently, you can have either text or image-based answers. This is usually more than enough. Sometimes, however, I'd like to have some more control over the answer blocks using HTML and CSS.

Having an option to show the answer blocks, similar to the image blocks, but containing DIVs with custom styling instead of images would be perfect:

![Schermafbeelding 2019-09-03 om 14 40 30](https://user-i

[2019-09-04 14:20] egyptik opened #332 "preventAutoFocus: 'true' does not work when hideUserInputOnNoneTextInput is also 'true'"
I noticed the following issue:

When both of `preventAutoFocus` and `hideUserInputOnNoneTextInput` are set to `true`, cf will still autofocus on the first option if the input is a none text input. For now, I'm using the follow code as a workaround:

[code]

[2019-09-04 14:40] jenssogaard commented on #332
@egyptik, thank you bringing this to my attention. I'll take a look and possibly include in a minor patch release.

[2019-09-04 14:47] jenssogaard commented on #331
@egyptik, I understand. I'll think of some options that we could include to make this easier.

[2019-09-04 14:50] jenssogaard commented on #329
@buesing thank you for reporting. I'll take a look and a fix can be added in an upcoming patch.

[2019-09-04 14:59] jenssogaard commented on #330
Hi @Pefren. Have a look at this example from Codepen: https://codepen.io/space10/pen/REgyRV

[2019-09-04 18:35] jenssogaard commented on #276
@talusannni sounds cool. I might throw an AI chatbot example together soon as it could be cool.

[2019-09-05 07:17] egyptik opened #333 "Support branching on fieldsets for more flexibility"
Status quo:

`Conditionals must be set on tag-level, adding them on eg. fieldset-tag does nothing.`

Problem:

This is great for simple paths, but for paths which branch off into completely different directions multiple times, it makes it unnecessarily hard. You'd have to set a number of conditional tags on every single input field.

For example, I'm currently working on a form which is a mostly b

[2019-09-05 10:32] neel2468 opened #334 "How to hide submit button also along with textbox on form initialization"

[2019-09-05 10:32] #334 closed

[2019-09-05 16:09] buesing opened #335 "Conditional is being ignored"
I set up a codepen here:
https://codepen.io/moriz/pen/ydooBp
Could you have a look and select "I don't have breakfast" in the first question? When giving this answer, CF seems to go directly to the next question, although it has a conditional so that this question should only be asked if the answer "Toast" is given to the first question. I replaced all name and value tags with generated IDs so I d

[2019-09-05 16:50] buesing commented on #335
I have reduced the test case a little and made all ids alphabetic and lowercase to rule out these errors, still the same issue: https://codepen.io/moriz/pen/oNvpLpx
When I remove everything after the first 2 sets of inputs, the second question doesn't show up anymore.. Any ideas?

[2019-09-05 22:54] reid-markel commented on #137
I'm still having a conditional problem, I read the docs and followed the instructions for multiple conditionals and no dice. Is this a bug that's going to be fixed in the near future?

[2019-09-06 13:31] jenssogaard commented on #335
Hi @buesing. Try wrapping each of the groups in a `tag group`:
[code]

[2019-09-09 09:42] neel2468 opened #336 "Keyboard Issue on a device"
When restarting the conversational form using button click , in the textbox after typing one letter keyboard disappears. This is the issue when opening on a real mobile device

[2019-09-09 11:59] buesing commented on #335
Hi, I worked around this issue now by generating unique ids for repeated questions.

[2019-09-09 11:59] #335 closed

[2019-09-09 12:00] buesing commented on #328
I think this is related to https://github.com/space10-community/conversational-form/issues/335 and can be fixed by using unique ids (=name attributes).

[2019-09-09 12:00] #328 closed

[2019-09-10 09:15] egyptik opened #337 ""button" Input type is ignored"
**Problem**
Although valid HTML, `<input type="button">` currently seems to be ignored by cf. It just skips over it to the next input.

**Use case**
I'm trying to create a fieldset to use both `file` and `button` type inputs at the same time, in order to offer the user the option to click the button element to skip/cancel the file upload. This is useful in case they don't have the required file at

[2019-09-13 14:40] jenssogaard commented on #337
Hi @egyptik. I think originally we did not include `<input type="button">` because it didn't make much sense from a conversational point of view. Your best option would be to either create a field group with 2 buttons which allow the user to branch of or just leave the `<input type="file">` optional so the user can skip it.

[2019-09-13 14:41] jenssogaard commented on #336
Hey @neel2468. How do you restart the form? what device are you referring to

[2019-09-13 14:43] jenssogaard commented on #333
@egyptik this would be a very nice extension to the current branching logic. If it is important to you then maybe you want to consider contributing with a PR? 😎

[2019-09-13 14:44] jenssogaard commented on #327
@buesing thank you for pointing this out. I'll take a look.

[2019-09-13 14:54] neel2468 commented on #336
Actually I was restarting the form in a wrong way in my code. I changed the
way of restarting it.Intially I was just restarting the form in ngOnInit
method im my angular code and I changed my code put it on whole refresh of
the page and its working fine as expected.
Thanks for attention.I will close the issue.
I am building a cross platform mobile app using ionic and I needed a
chatbot.
I was test

[2019-09-16 10:01] hajar-alpha opened #338 "W3C Validation"
I found this project promising and can get more recognition, I just hope that the structure of code (tags and attributes etc) to follow the W3C standards and have more cross browser compatibility, I just integrated a small conversational form into a page and after passing it in W3C Online Validator, I got a lot of errors.

I searched in the documentation and here, but this wasn't mentioned anywher

[2019-09-16 15:25] Lyzon commented on #310
Hi,  @jenssogaard I need your help again.
After upgrade conversational-form v1.0.1, I got a different issue when I do the same opration. The gif(https://i.bmp.ovh/imgs/2019/07/dfbd8f12a7533f4e.gif) shows my opration and I got this error:

`conversational-form.js?3aed:5024 Uncaught TypeError: Cannot read property 'robot' of null
    at ChatResponse.processResponseAndSetText (conversational-form.js?

[2019-09-17 09:34] egyptik commented on #333
@jenssogaard I'd be happy to, but can't get it to work. Do you have any instructions?

I tried the following:

1. Cloned the `Develop` branch.
2. Ran `npm install` in root dir.
3. Ran `npm install` in `gulp-tasks` dir.
4. Ran `gulp build` in root dir.

Besides a few TypeScript errors, this seemed to work. However, when I open one of the development HTML pages in `/src` it's having a lot of 404 err

[2019-09-18 15:20] Lyzon commented on #310
And also, I notice that I add event listener `UserInputEvents.FOCUS`, but it didn't work. I check  `FlowEvents.USER_INPUT_UPDATE` event works fine.
see it on the codepen:
https://stackblitz.com/edit/vue-conversational-form-q6dxcf?file=myForm.js

[2019-09-19 07:00] MSBPeace opened #339 "preventSubmitOnEnter doesn't work without rows property"
Some of my users rely on Japanese text input and as such use the enter key to autocomplete Chinese characters in words, because of this I would like to disable the Enter key from triggering submit actions altogether.

I initially though the preventSubmitOnEnter option would do the trick as the documentation suggests:

[code]

Unfortunately hitting the enter key still triggers the submit action eve

[2019-09-20 13:13] nitin365 opened #340 "save form data into google sheets"
i am trying to save the form input into google sheet but having multiple issues.
- how to send the data into get request after submitCallback
- there is not way to run javascript function on button click event or option change event
-i am using the sample code from the post https://medium.com/@dmccoy/how-to-submit-an-html-form-to-google-sheets-without-google-forms-b833952cc175

but it does not sup

[2019-09-24 02:39] haoyangnz opened #342 "Change React examples to use React Hooks"

[2019-09-24 04:58] haoyangnz opened #343 "How easy would it be for us to enhance or plugin a date picker?"
We need to build something like this but with a date picker and maybe other things. Currently juggling between enhancing this vs build our own.

[2019-09-28 18:19] jenssogaard commented on #343
Hi @haoyangnz. That is fairly easy. I made a crude example of how that could be done right here:
https://github.com/space10-community/conversational-form/issues/67#issuecomment-439195155

[2019-09-28 18:23] jenssogaard commented on #342
@haoyangnz. Do you want to do a rewrite?

[2019-09-28 18:29] jenssogaard commented on #340
@nitin365. Instead of posting directly to Google Sheets I would suggest using https://zapier.com

You can use the submit callback logic described and with an example [here](https://space10-community.github.io/conversational-form/docs/1.0.0/functionality/submit-callback/).

[2019-09-28 18:29] jenssogaard commented on #339
Hi @MSBPeace. Good feedback. I'll try and patch it.

[2019-09-28 18:31] jenssogaard commented on #338
Hi @hajar-alpha. Thank you for your input. Maybe you could help improve CF? How about publishing your list of findings and then we can discuss how to fix them?

[2019-10-04 11:45] RekhaMadhavan1211 opened #344 "is that possible to get the value selected among radio button or check box in the response form ."
For example we are having a radio button for gender, the response is like gender:[0:"on"]. This is actually difficult to find which value is selected. It will be better if we could get the id of the selected value

[2019-10-04 12:22] jenssogaard commented on #344
Hi @RekhaMadhavan1211. Have a look at [this CodePen](https://codepen.io/space10/pen/mqXMQW?editors=1111) and check the console on submit. Why can't you just add a non-numeric value for each option?

[2019-10-10 11:18] poojaNaidu81 opened #345 "question is not shown instead Radio button's option is displayed as question"
In conversational form, radio button label should be displayed as question but here the radio button's option is displayed as a question.

- I have provided a code example. : (https://codepen.io/poojaNaidu81/pen/KKKdVeL)
- If I encountered an issue I have provided:
  - a description of the expected behavior : (Radio button label should be displayed as question)
  - what version of Conversational F

[2019-10-10 22:29] TheGuyInApt42 opened #346 "Use with Svelte/Sapper"
How would i use this with Svelte/Sapper? When i import it with npm install, I get an error
ReferenceError: window is not defined

[2019-10-15 23:14] joebentaylor1995 opened #347 "Gatsby / React Window is Not defined or ConversationalForm is not a constructor"
CF obviously replies on window, which cant be used until componentDidMount... or else you get the error in build of ``window is undefined`` etc etc.

I've tried requiring the file after this, and I then get the error of
``ConversationalForm is not a constructor``

Surely theres got to be an easier way to get around this?

My codes pretty simple at the moment:

[code]

[2019-10-15 23:23] jenssogaard commented on #345
Hi @poojaNaidu81. Good catch. I'll put it on the list for a patch release coming this month.

[2019-10-15 23:37] jenssogaard commented on #347
Hi @joebentaylor1995. Just remove the import on line 2 and replace the require with this line:
`const { ConversationalForm } = require("conversational-form");`

And I would like to remove the use of window from this project. It's somewhat of a legacy-issue...

[2019-10-15 23:38] jenssogaard commented on #346
@TheGuyInApt42 - have you tried doing like this guy in #347 ?

[2019-10-16 15:49] TheGuyInApt42 commented on #346
Thanks, I think I got it. I used the example from the Sapper docs
[code]

@jenssogaard Thanks for the help

[2019-10-16 16:50] jenssogaard commented on #346
@TheGuyInApt42 awesome. Happy to hear.

[2019-10-16 20:39] TheGuyInApt42 commented on #346
I got it to work but I also get the circular dependency warning #287

[2019-10-16 21:01] TheGuyInApt42 commented on #346
Question, is there an example of how to use Events? I want to hit an API on 'keyup' in input box, is that FlowEvents.USER_INPUT_UPDATE? I can't find an example of how to implement Events. Thanks for your help.

[2019-10-17 01:52] jenssogaard commented on #346
@TheGuyInApt42 thank you for noting the circular dependency. The event. Have a look at the `cf.UserInputEvents.KEY_CHANGE` event described in the [docs](https://space10-community.github.io/conversational-form/docs/1.0.0/events/).

[2019-10-17 04:15] poojaNaidu81 commented on #345
@jenssogaard Thanks for the quick response

[2019-10-17 08:24] joebentaylor1995 commented on #347
@jenssogaard Awesome, cheers!

[2019-10-17 08:24] #347 closed

[2019-10-17 08:29] lujain-abaki opened #348 "The Scroll is not showing inside the conversational form"
Please if you can help out with the below:
- The scroll to show all messages is Hidden- when i click on the option it shows then disappears.
Another question:
How to prevent auto focus because once the page is loaded it auto scroll to the conversational form section.
Appreciate your help - i am using Mozilla Firefox newest version.

[2019-10-17 10:32] RekhaMadhavan1211 opened #349 "Is that possible to edit a particular question again"
Is that possible to edit a question which has been answered previously. or revisiting a particular question

[2019-10-17 10:51] devmansurov commented on #303
Hi @edlgg ! How you fixed error, can you share solution code here if it impossible? Thanks!

[2019-10-17 11:01] devmansurov opened #350 "How I can use Conversational Form with Nuxt.js?"
I seen demonstration of this repository with Vue.js [here](https://stackblitz.com/edit/vue-conversational-form-example) but when I install it in nuxt js and use get error message:

Then I solved it by requiring Conversational Form inside `mounted()` hook:

[code]
But when `cf` called inside of any **methods** return error message:

Example method:

[code]

How I can fully integrate this repository

[2019-10-17 12:46] RekhaMadhavan1211 opened #351 "Is that possible to stop the conversation in react?"
Is that possible to stop the chat in react after a particular response in react. not in callback.. in formjson itself..

[2019-10-17 12:58] jenssogaard commented on #351
@RekhaMadhavan1211 if you made all questions after it conditional, then yes. Read more about [conditionals in the docs](https://space10-community.github.io/conversational-form/docs/1.0.0/functionality/conditionals-and-branching/).

[2019-10-17 13:00] jenssogaard commented on #350
Try const { ConversationalForm } = require('conversational-form');

Also you assign `var cf` inside mounted, but you are trying to access it in another function. I believe you have a scope issue. Maybe this is your answer:
`this.cf = require('conversational-form');`

I hope it helps.

[2019-10-17 13:08] jenssogaard commented on #349
@RekhaMadhavan1211 you should be able to click the question and edit it. It should also be possible using `window.ConversationalForm.flowManager.showStep(1)` which would show question 2

[2019-10-17 13:09] jenssogaard commented on #348
Hi @lujain-abaki. Please see the [docs](https://space10-community.github.io/conversational-form/docs/1.0.0/options/) and find `preventAutoFocus` :)

[2019-10-17 15:47] devmansurov commented on #350
Now I created new [codesandbox](https://codesandbox.io/embed/codesandbox-nuxt-conversational-form-ssxnf) with conversational form and now I don't have any errors on console but conversation view is not display. Please see where I have errors in my code.

[2019-10-17 16:55] edlgg commented on #303
Im not too sure what I ended up doing. I didnt work on that too much. The answer might be in this code. Let me know if it leads you somewhere.

[code]

[2019-10-18 03:55] RekhaMadhavan1211 commented on #351
I have made that conditional but it is not at the end it will be between the array.. so what key:value pair to be assigned to make it stop
'tag': 'input',
                                'type': 'text',
                                'name': id,
                                'id': id,
                                'cf-questions':content,
                                'cf-conditional-{someva

[2019-10-18 15:10] cdappleton opened #352 "Looping back to the start"
My aim is, for when the form reaches the 'end' to have a 'would you like to start again' option. With 'no' it would essentially display a goodbye message but with 'yes' it would start from scratch (or a chosen point).

My code kinda does this but it makes the page refresh and chucks all the options into the address bar. I'd rather it just loop back within the same chat session so the user could po

[2019-10-18 17:51] devmansurov opened #353 "How I can make conversational form responsive for mobile devices?"
I use conversational form in my project with JQuery. I seen what current version of the repository is not responsive for mobile devices. On mobile devices messages is smaller then PC.

You can see here result on mobile device [here](https://imgur.com/a/2VATBmT)

[Here ](https://imgur.com/a/SGdiA7q)you can see PC version result

How I can solve problem with design & style on mobile devices?

[2019-10-19 03:47] mattmaker opened #354 "How to submit data and send to email?"
I am trying to use this on a Bulma site.

I have this in my <head> tag:
`<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/space10-community/conversational-form@1.0.1/dist/conversational-form.min.js" crossorigin></script>`

And my HTML looks like this:
[code]

How can I get the form to submit and send the data to an email address?

[2019-10-21 11:48] TheGuyInApt42 commented on #346
I have gotten the Events to work with an API but im having trouble displaying the results. I can see the API response in the console.log and I have gotten it work with showing one input with response data. However I need a checkbox and/or radio button and it will not work with those, ie using the response as a set of checkbox values. Im not sure if the problem has to do with Svelte data-binding.
E

[2019-10-23 06:23] devmansurov opened #355 "CF custom localization doesn't work in Nuxt.JS"
- I use CF (version 1.0.0)  with nuxt.js and I have provided a code example.
https://codesandbox.io/embed/codesandbox-nuxt-conversational-form-ssxnf?fontsize=14

When I tried localize CF with my custom **dictionaryData**:

[code]

The when I type to filter undefined options then return default message:

instead of:

Here is full code:

[code]

[2019-10-23 14:01] jenssogaard commented on #354
Hi @mattmaker. This one of the more common questions. We cover the "submitting data"-part, sending the email happens serverside and is your own responsibility. You either do a traditional form submit or you do an AJAX request.

You can use [formspree](https://formspree.io) as your endpoint and data collector/send email service.

Once you have setup your formspree account you just need to add `acti

[2019-10-29 02:30] MSBPeace commented on #339
Hey @jenssogaard any update on this? If you feel like there are particular reasons for limiting the scope for preventSubmitOnEnter then I'd be happy to discuss.

If you think it would help for me to prepare a PR I'd be happy to do that too.

[2019-10-30 01:07] jenssogaard commented on #315
A patch has been pushed to develop branch and will be released Thursday. Closing this issue for now.

[2019-10-30 01:07] #315 closed

[2019-10-30 01:08] #354 closed

[2019-10-30 01:08] #348 closed

[2019-10-30 01:14] jenssogaard commented on #339
Hi @MSBPeace. I was just about to do a patch for this issue but I can't recreate the issue you describe. I indeed can use enter without submitting a question. Can you create a Codepen (or similar) that shows your issue?

[2019-10-30 01:21] jenssogaard commented on #353
Hi @devmansurov. It is indeed response. Have you tested on an actual device? Try the [landingpage](https://space10-community.github.io/conversational-form/landingpage/) for instance and you see it renders nice and pretty.

[2019-10-30 01:21] #353 closed

[2019-10-30 01:26] jenssogaard commented on #350
@devmansurov it seems you got it sorted on your own? https://www.dropbox.com/s/xdqrwv2gw3wtunh/Screenshot%202019-10-29%2021.26.30.png?dl=0

[2019-10-30 01:26] #350 closed

[2019-10-30 01:34] jenssogaard commented on #329
A patch has been pushed to develop branch and will be released Thursday.

[2019-10-30 01:34] #329 closed

[2019-10-30 01:36] jenssogaard commented on #319
@lysterjason you could [define your form as a JSON object](https://space10-community.github.io/conversational-form/docs/1.0.0/functionality/formless/) and wait with instantiating the form until your have your data from your backend.

[2019-10-30 01:36] #319 closed

[2019-10-30 01:40] #322 closed

[2019-10-30 01:40] #338 closed

[2019-10-30 01:40] #337 closed

[2019-10-31 00:01] jenssogaard commented on #355
@devmansurov just move `dictionaryData` inside the `options` object and you'll be good.

[2019-10-31 00:01] #355 closed

[2019-10-31 00:01] #340 closed

[2019-10-31 00:02] #344 closed

[2019-10-31 00:02] #343 closed

[2019-10-31 01:00] jenssogaard commented on #327
@buesing I see the problem. Basically we are creating a `new Regexp(_conditional)` which comes out as `/Medium/` which causes the match. This is not ideal and patching it seems likely to wreak some havoc on the experience for some. The quickfix would be to use regex like `^Medium$` to avoid a half match.

[This is where we push the new Regexp](https://github.com/space10-community/conversational-fo

[2019-10-31 01:01] #336 closed

[2019-10-31 01:01] #342 closed

[2019-10-31 01:02] #310 closed

[2019-10-31 01:05] jenssogaard commented on #352
You could use the FlowStepManager to check the tag and response of the last question and then call something like ` ConversationalForm.flowManager.showStep(0)` to start at question 0 again.

[2019-10-31 01:05] #352 closed

[2019-10-31 03:18] RekhaMadhavan1211 commented on #351
Kindly let me know asap how to stop a conversation without reaching end of array in react

[2019-11-01 03:40] #332 closed

[2019-11-04 15:39] SamuelGHill commented on #276
Hi @jenssogaard, I am interested in using this cdn for my site, but I know my team would not get far without a feature that can cookie/cache of visitors that have filled it out previous.  Is this an option in the conversational form?  I am having trouble finding this feature.

[2019-11-04 20:40] jenssogaard commented on #276
Hi @SamuelGHill. That feature is not part of CF core. You could sponsor the feature and I could help bake it into CF. Also, do you see happening with or without user consent?

[2019-11-05 17:07] keyboardbreaker opened #362 "using the select and options tags in formless"
I've been following the [Angular](https://space10-community.github.io/conversational-form/docs/1.0.0/getting-started/#angular) guide to making a formless conversational form.

It's unclear how to add select tags then child options with the select tags.

how would you make this excerpt formless?

[code]

[2019-11-05 17:24] keyboardbreaker commented on #362
ok I found it, admittedly I should have tested the [formless example](https://space10-community.github.io/conversational-form/docs/0.9.80/functionality/formless/) more.

[code]

[2019-11-05 17:37] keyboardbreaker opened #363 "Is it possible for form data value save as string and not array for radio and select options"
Currently, with select tag and radio type store user's chosen value in an array. Is there an option to store this chosen value as a string opposed to an array?

[2019-11-05 17:44] #362 closed

[2019-11-06 17:43] keyboardbreaker opened #364 "select tags and default selected value"
<img width="388" alt="Screenshot 2019-11-06 at 17 37 26" src="https://user-images.githubusercontent.com/6376635/68322880-2bfbdf00-00bc-11ea-971f-0e46e7aafc10.png">

I've noticed on using the select tag that the input field takes the first "selected" value, in my screenshot it's displayed as the color red.

Is there a way to control the placeholder value using cf-input-placeholder?

In normal selec

[2019-11-07 06:03] richardhj opened #365 "Form not rendering in Firefox"
The form is not rendered nor generated in current Firefox.
I cannot see the demo on your website. I disabled "enhanced protection" in Firefox, as it may be subject to change the block contents on the website. No errors in the console.

![Screen Shot 2019-11-07 at 14 58 00](https://user-images.githubusercontent.com/1284725/68363709-23b0ac00-016f-11ea-98fd-4e62951c4522.png)

IMHO not related to #316

[2019-11-07 19:28] danileao commented on #362
Did you get to use 'cf-input-placeholder' with tag select?

[2019-11-07 23:15] viniciustesoni opened #366 "Is that possible to Autocomplete using Formless version?"
Is that possible to use autocomplete when using formless version?
I'm trying something like this:

{
            "tag": "datalist",
            "id": "browsers",
            "children": [
                {
                    "tag": "option",
                    "value": "Chrome"
                },
                {
                    "tag": "option",
                    "value": "Firefox"

[2019-11-07 23:46] keyboardbreaker commented on #362
I opened another issue:
https://github.com/space10-community/conversational-form/issues/364

[2019-11-11 07:19] suryacaprice commented on #345
@jenssogaard will this be fixed in the v1.0.3 ?

[2019-11-12 14:46] ambrose-leung commented on #276
@danielfriis  and @jenssogaard  thanks so much for making this available as an open source project.

1 I'm using it to conduct a survey about career development
2 I was looking for alternatives to typeform and this was much better - I could host it myself and have more control over the conditionals
3 It would be nice if there was also html/css example on how to display the form nicely like how you

[2019-11-13 14:27] #346 closed

[2019-11-14 07:35] ZoonKiller29 opened #367 "window.ConversationalForm.addTags() not working correctly"
Hi, im currently using conversationalform to create a tool to compare healtcare costs for different insurances in my country. Ive first created a for in html and used the default appending method to start the CF. Im using a flowStepCallback method to check after every question, on which question i am and after that im making a ajax call to another file, to get options to display on the conversatio

[2019-11-14 11:49] Pefren opened #368 "I need return step back feature"
I don't need "return back to some step if step clicked" feature.
People say that they accidentally return back many times when clicking somewhere on mobile phone while they are scrolling the chat page.
How to disable it? (I glad any even tricky solutions)

[2019-11-15 08:52] sidgitind opened #369 "Inner scroll not working on Chrome"
Thanks for your this wonderful repo. Its makes the boring forms so much more interesting. I am experimenting to use conversational form and found an issue. The inner chat scroll bar appears in firefox but not in chrome.
Looks like chrome is not able to find the "scroll" class. Hope it helps in fixing the issue. Thanks

[2019-11-16 00:45] SamuelGHill commented on #276
Hi Jens, This sounds like a great project! I have never contributed to such a large open-source platform. I assume I would fork the project, add the cookie feature, and push it for review. Let me know if I am missing any steps or need to do anything specific to contribute.Bests,Sam
-------- Original message --------From: Jens Soegaard <notifications@github.com> Date: 11/4/19  3:40 PM  (GMT-05:00)

[2019-11-18 08:21] RekhaMadhavan1211 opened #370 "hideUserInputOnNoneTextInput:true"
when i give hideUserInputOnNoneTextInput:true and preventAutoFocus:false, still checkboxes are getting selected by default.. only for first time it is working. There after it is getting selected automatically which is not expected

[2019-11-20 15:06] jenssogaard commented on #365
@richardhj thanks for reporting. This has been fixed. Purely an implementation issue on the landingpage - it had nothing to do with CF.

[2019-11-20 15:06] #365 closed

[2019-11-22 11:58] keyboardbreaker commented on #366
I just got this to work, firstly, datalist doesn't exist within the form. It's outside the form definition.

like:
[code]

so it lives outside of

[code]

and where my formFields are

[code]

also note it's 'cf-questions' not 'cf-question'

[2019-11-22 13:22] keyboardbreaker opened #372 "datalist options hidden value, show only label"
So I've followed the [docs](https://space10-community.github.io/conversational-form/docs/1.0.0/functionality/autocomplete/) on using autocomplete.

Is there a way to hide the forms inputed value and only display the label.

basically my problem is that both show, when desirably label is all that is needed.

<img width="369" alt="Screenshot 2019-11-22 at 13 19 01" src="https://user-images.githubuse

[2019-11-27 18:07] keyboardbreaker opened #373 "having multiple fieldset of radios, children overlapping"
I have 2 fieldset in a formless setup: **mortgage_reason** and **credit_status**
Within my formFields I have this:

[code]

Children of credit_status are overflowing into the question for mortgage_reason.
I don't understand why.

<img width="384" alt="Screenshot 2019-11-27 at 17 53 38" src="https://user-images.githubusercontent.com/6376635/69747986-423b0f00-113f-11ea-8852-952d33c44032.png">

[2019-11-30 07:20] m-luqman opened #374 "Required select elements not properly handled"
Please check the list below to make sure we can provide you the best possible support :star:

- I have provided a code example: https://jsfiddle.net/L9crqzt0/

- **actual behavior**: when the first empty valued ("unselected") option is clicked, it happily accepts it as a valid input of select element which has the required attribute

- **expected behavior**: when the first empty valued ("unselecte

[2019-12-05 15:41] amulyaparmar commented on #353
Hi @jenssogaard @devmansurov, I actually had the same problem.

One thing I am not sure about is whether we need put our own container around the form?

I have noticed the landing page instance has a container around the form.

How would we add a container around this form?? Nothing I do seems to be containerize the form

[2019-12-05 15:45] amulyaparmar commented on #353
Also I am using cf-form script (one line embed), not using NPM

[2019-12-10 13:20] keyboardbreaker opened #376 "Angular example with form tags keypress error"
**- I have provided a code example.**
Using the angular example from the [documentation](https://space10-community.github.io/conversational-form/docs/1.0.0/getting-started/#angular) I changed the

form.component template from
`<div class="myCF" #myCF></div>`

to

- If I encountered an issue I have provided:
  - a description of the actual and expected behavior
  - what version of Conversational Fo

[2019-12-18 12:47] jafferabbas opened #377 "ng build --prod error 'Module parse failed: Identifier '__extends' has already been declared (2:9)'"
Error when building for Prod

Angular version: 7.2.0
conversational-form version: 1.0.2
ts: 3.1.1

ng build works
ng build --prod fails

[2019-12-18 12:57] jafferabbas opened #378 "ng build --prod error 'Module parse failed: Identifier '__extends' has already been declared (2:9)'"
Error when building for Prod

    ERROR in ./node_modules/conversational-form/dist/conversational-form.js 2:9
    Module parse failed: Identifier '__extends' has already been declared (2:9)
    You may need an appropriate loader to handle this file type.
    | import { __extends } from "tslib";

        import { __extends } from "tslib";
        | import { __extends } from "tslib";
        | impor

[2019-12-18 12:58] #377 closed

[2020-01-10 17:59] kwolfenb commented on #364
I came across this as well, where it seems "cf-input-placeholder" is overriden by the value of the first select option. Were you able to find a solution to this?

[2020-01-10 19:29] sirisha-meka opened #379 "Is there a way to define multiple text fields within a question? Like "What is your address?" question with text fields for Street Number, Name, City, Zip"
Like fieldset tag in formless; Can we define multiple fields within a question

[2020-01-12 21:36] keyboardbreaker commented on #364
not exactly the best solution but I removed the textfield on radio options to hide this side effect.

[2020-01-13 07:26] ZoonKiller29 commented on #367
Hello? Did anyone read this?

[2020-02-10 15:36] diana-pavel opened #382 "I would like to change the style but I don't know how"
First of all, amazing product! I love how easy it is to use.
My issue is that I'm not sure how to create my own theme or how to edit the existing one, and I'm also getting that at the top of the page:
![Screen Shot 2020-02-10 at 15 27 19](https://user-images.githubusercontent.com/53436080/74163369-33320c00-4c1a-11ea-943f-9fc5dd4bd44e.png)

Ideally, I'd like to put the form in a centred div when a

[2020-02-13 12:08] ShaneFelthamGitHub opened #383 "Going back to a previous question"
Hello,

I was looking for some help if possible please. I have got a basic start on my form that I'd like to create and one of the questions is multiple choice.

When a user chooses one of the radio options it offers a short explanation of the product and asks if they are happy with their choice. If not then I'd like to provide a way to go back and choose a different answer.

I know I could build

[2020-02-14 06:11] MSBPeace commented on #339
this seems to have been fixed with the never version. Thank you for the support!

[2020-02-14 06:11] #339 closed

[2020-02-16 02:19] blargism opened #384 "Is Conversational Form Section 508 (screen reader) compliant?"
We would love to use this project, but need to be section 508 compliant. Have you done anything to make this compliant with screen readers etc.?

[2020-02-16 22:49] amulyaparmar opened #385 "Can I add an image upload button within a conversational form?"
Hi, I want a user to be able to submit an image from the form, is there anyway I can do that in the current version of the conversational form?

[2020-02-17 16:57] ShaneFelthamGitHub commented on #383
Any ideas? Anyone?

[2020-02-19 22:29] claytongulick commented on #323
Him thanks for the impressive work on such a neat library! I'm in the same boat, I have long surveys which the user will need to be able to resume at a later point, but still see the whole conversation history when they do.

I'm doing formless, so I'll give the showStep solution a shot and see how it turns out. If I can make it work, I'll post an example here.

Thanks again!

[2020-03-13 21:28] OfirSiboni opened #386 "Site is refresh after submit"
Hey, I noticed that after I submit the form, The site is just refreshing itself. I don`t want it to happen - I Just want to do nothing after submit. How can I do that?If possible.
Thank you!

[2020-03-17 04:54] jemikanegara commented on #323
Is there any update about this? I want to implement this via JSON but I can't see any parameter inside showStep function here : https://github.com/space10-community/conversational-form/issues/323

[2020-03-20 18:10] denisvlr opened #388 "Custom react component to render inputs"
Is it possible to customize the way inputs are rendered, for example by specifying a custom React component?
I would like to create rich input widgets, for example a [range slider](https://www.w3schools.com/howto/howto_js_rangeslider.asp) (afaik it's not supported?)

[2020-03-20 21:08] denisvlr commented on #373
I ran into the same bug. @keyboardbreaker did you find a fix?

[2020-03-23 01:23] MSBPeace commented on #323
@jemikanegara What I ended up doing is pretty similar to the formless example in the documentation. I have a separate app/service that deals with the logic of my form so I send messages back and forth from there. (the example shows how to load a custom question/response set)

In the separated logic you can store the data however you see fit, all you would need to do is store some kind of variable

[2020-03-23 01:29] MSBPeace commented on #367
@ZoonKiller29 I see that you call Success() immediately while not waiting for your Ajax calls to finish. The best way would be to wait for the response from the Ajax calls and then calling success().

Alternatively a simple workaround that should work most of the time would be adding a short delay like in the example:

[code]

[2020-03-23 01:39] MSBPeace commented on #331
I second this request, right now I am hacking my own question options into the formless version but having an official supported way to include some custom styling would be welcome.

[2020-03-24 14:40] keyboardbreaker commented on #373
@denisvlr unfortunately I had to resort to using the radio options without the fieldset

[2020-03-28 06:27] Zeaphon commented on #386
Same issue here. The form resets itself when finished, which I don't want to happen. A sort of thank you message or concluding message should remain. Any info on how to control what happens after a submit?

I would guess its handled through events, as  described in the docs:
https://space10-community.github.io/conversational-form/docs/1.0.0/events/

But I'll be honest, I am not that knowledgeable

[2020-03-28 08:38] Zeaphon opened #389 "Triggering the default form action in combination with submitCallback function"
I want to prevent the conversational form from resetting after the user submits the last data/answers the last prompt. How I thought I could do this, was using the submitCallback function with a robot response:

This is what my form looks like:
[code]

This is the submitCallback Iam using:
[code]
I'm using Google Script to feed the form data directly into a google sheet after submitting. I would a

[2020-03-28 10:54] Zeaphon commented on #389
Sorry for the inconvenience and for closing this right away, but I found my workaround in another issue thread. My callback now looks like this:

[code]
And works with what I had in mind!

[2020-03-28 10:54] #389 closed

[2020-03-28 11:33] firststepaustralia opened #390 "Firebase ajax request to database?"
I saw on the documentation that there is functionality to send the form data to a database, but I'm wondering how I can implement this with firebase. I'm currently developing my site on WordPress so I imagine I would need some PHP.

Can anyone tell me what this would look like?

Thanks!

[2020-03-28 12:47] OfirSiboni commented on #386
Same situation here but I did not figured out how to prevent it from
happening. hope that someone with more knowledge will help.
I also assume its can be solved by events, but I dont know how.

stay home and lets figure it out, Ofir.

On Sat, Mar 28, 2020 at 9:27 AM Tim W <notifications@github.com> wrote:

[2020-03-28 14:46] Zeaphon commented on #386
Hey @OfirSiboni

I think I figured it out. As I wrote in another thread, I managed to stop the refresh using the submitCallback function.

I'm using the function with a Robot Response (basically a Thank you for filling out the form message) and adding any action and POST code into the script. The following code works for me:

  <script type="text/javascript">
  window.onload = function() {
    var

[2020-03-28 14:50] OfirSiboni commented on #386
wow that`s a great solution, thank you so much!

On Sat, Mar 28, 2020 at 5:47 PM Tim W <notifications@github.com> wrote:

[2020-03-31 03:05] thanhrossi opened #391 "flowStepCallback can't handle multiple if else condition."
Hi.
When i use flowStepCallback  for validation :

With 1 if-else, it's perfect:
![single-condit](https://user-images.githubusercontent.com/1908955/77982505-b4fb0780-7336-11ea-8f26-8e0a4ab0fcbb.png)

with multiple if else, It's not working good. In this case i expect if response.data.code === 3 then return error and user must reenter mobile phone.
![valid](https://user-images.githubusercontent.com

[2020-03-31 06:57] #391 closed

[2020-03-31 06:59] thanhrossi commented on #391
I got it,  it's asynchronous . close

[2020-04-01 09:22] Zeaphon opened #392 "duplicate #conversational-form div"
Hey there,

I I noticed that my `#conversational-form` div has a duplicate inside the cf-context wrapper I cannot get rid of. It basically gets created two times, while one sits on top of the other. The functionality of my form is still 100%, I would like to just get rid of the second conversational-form div.

My code inside my index file looks like this:

[code]

Once I open my site and the form

[2020-04-01 15:10] thanhrossi opened #393 "Bug when editing previous answer (double click)"
Hi There
Steps to reproduce:

1. Visit my codesandbox https://codesandbox.io/s/codesandbox-nuxt-conversational-form-2nq35
2. Enter firstname
3. Enter lastname
4. Enter How old are you
5. Double clicks (or click multiple times) to lastname
All previous and next conversations are hidden

Before click:
![bef](https://user-images.githubusercontent.com/1908955/78153584-69934700-7465-11ea-8b71-9d0f4dcd3

[2020-04-13 19:04] alexsonnay opened #394 "Multiselect autocomplete with AJAX call"
**Describe the solution you'd like**
Making an AJAX call to get autocomplete options and multiselect
Example : select multiple cities of a country

[2020-04-16 15:18] aminbenab commented on #378
Hi guys,
Any news regarding this bug ? Is there a solution to this error ? We are using this library on ionic.
Thanks !

[2020-04-20 06:01] paras-deshbhratar commented on #378
I am also facing the same issue, would request maintainer of conversational-form to please fix this bug.
I am using it in my Angular application v7

[2020-04-20 06:33] ninoserveone opened #395 "Call a function on radio select"
I'd like to know how to call a function when a radio is selected. This works with plain form (without cf) but doesn't seem to work with cf:

`<input type="radio" value="writelist" name="option2" cf-label="Write List" onclick="grabName();"/>`

What the function does is grab the value of the first question and display it inside a span with id `generated` when the radio is clicked.

[code]

[2020-04-20 10:41] baptisteArnaud opened #396 "Not working when using React Hooks ?"
I can't figure out how to make this library work with React Hooks. It doesn't seem to append children to my div element.

To reproduce my "bug":
1 - Create a new React project using Create React App using the TypeScript template
2 - Paste my App component :
[code]

Any idea why it doesn't work?

[2020-04-27 12:41] feryandi commented on #363
Is this possible?

[2020-04-27 12:44] feryandi commented on #364
So, currently there is no way to not have any default selected value?

[2020-04-28 07:57] ImaCrea opened #397 "Is this project still maintained?"
Hi there,
thank you for such work. It's stunning and I'm very interested in playing with it. Still, before starting I checked a bit the activity around and it looks like the projet is not really moving forward at the moment. Was it a one-shot project or is there any community around maintaining it?

cheers

[2020-05-07 14:00] beholdr opened #398 "Robot message get stuck on step back"
Hi, when I use conditional workflow robot message got stuck after I use step back.

Here is [code example](https://codepen.io/beholdr/pen/mdeXZyq?editors=1001).

On first pass robot message «This message will get stuck on step back» shows and then automatically goes next question «What is your lastname?». But if I click on «Yes, let's begin» to step back, form resets, but on second pass robot mess

[2020-06-17 13:23] serhiibabaiev opened #400 "Window is not defined in Next.js"

[2020-06-17 13:34] #400 closed

[2020-06-18 10:10] serhiibabaiev opened #401 "Multiple cf-labels, radio input with multiple options to choose."
Hi, I am using your library with React(Next.js + TypeScript).
As you showed [here](https://codepen.io/space10/pen/ZrzNeM), but I need the same for React Component.

Here I need a few countries for example 'Ukraine, Spain, Italy'.
I tried a lot, arrays, objects, strings all of them are not working.
So how can I see here my options?
![image](https://user-images.githubusercontent.com/62242343/8500799

[2020-06-24 12:25] peterelliston opened #402 "Is it possible to show one question on screen at a time?"
Hi, I'd like to edit the styling of the form to make each question and its answer appear one at a once on the screen rather than show it as a conversation. Is there an option for this? I couldn't see it in the documentation so I presume it could be done in the CSS.

Any help would be appreciated.

Cheers,

Peter

[2020-06-25 22:40] larissaborges commented on #378
any news about this issue?

[2020-07-09 21:26] sashareds commented on #397
Wondering as well.
I am looking for a tool/framework to create a small but fun and engaging questionaire this popped in google. Looks very promising

[2020-07-10 13:41] dgm-admin opened #403 "Re-loop at the end of the tree"
Hi Team,

I want to loop the user from the beginning of the question-tree once the user reaches the end of the tree. Currently, I am doing this by putting a radio question in end 'Have more questions?' and then populating an iframe through submitcallback js. This basically refreshes it.

The issue I am facing with this is that it stops working after 3 times. Not sure why this is happening. Please

[2020-07-18 12:30] mbhassan opened #405 "Conditional not working"
Confused AF as to how to work this

[code]

[2020-07-30 15:23] m-luqman commented on #34
The problem still persists. With the conversation form initialized, if we try to type into any other text box, we get dragged into the conversational form.

[2020-07-31 21:20] mbhassan commented on #405
found solution by removing from set

[2020-07-31 21:20] #405 closed

[2020-08-11 13:40] RachelGanonNew commented on #67
Hi ,
I'm using Angular Material and whould love to include their 'datepicker' in my cf form,
as for now it doent work for me though i have no errors
Any help will be very much appriacted!!

[2020-08-16 00:53] RachelGanonNew opened #408 "Conversational form show nothing"
l created a project with a conversational form and it worked prefectly.
Then l created addtional one in exiting project and the browser and the console show
no errors but the page was blank - with no conversation.

[2020-08-17 12:52] jonodjlee opened #409 "Conditional branch not being recognised as a distinct flow"
@jenssogaard this is a fantastic plugin! I am just unsure why it doesn't recognise the cf-conditional-remote="no", instead going back into the "yes" flow 🤔.

<img width="1760" alt="Screen Shot 2020-08-17 at 10 47 48 pm" src="https://user-images.githubusercontent.com/41406384/90397870-ddb04d80-e0db-11ea-961e-c2a5ed32f86d.png">

`<form id="form">

        <cf-robot-message cf-questions="Hello my fri

[2020-08-17 13:16] jonodjlee commented on #409
I found something that works! I removed all the regex and added an extra boolean condition to every input and it works like a charm 😎. @jenssogaard is this the recommended solution?

` cf-conditional-yesremotepastnocomfortexp="" cf-conditional-remote="yes"`

[2020-08-20 15:30] jonodjlee commented on #383
@ShaneFelthamGitHub clicking on any answer takes you back to its related question. Is that what you're after?

[2020-08-26 10:15] dexios1 commented on #132
I'd also like to know.

[2020-09-04 12:34] sbalajime opened #412 "How to inject value to the form from a custom view?"
I'm displaying a overlay for question and user has to select value from my custom container. I understand that flowStepCallback can be used to open the custom view. but how do i inject the value back to the form?

[2020-09-05 14:51] jonodjlee opened #413 "Bump Docs to v1.0.2 or latest version"
Hey @felixknox & @jenssogaard! 👋

I was wondering if the docs could be updated to the latest version (v1.0.2 as of 6 Sep 2020), even if nothing has substantially changed?

Thanks! 😎

[2020-09-18 14:47] keerot commented on #400
Is there any changes coming? Problem is still going on

[2020-09-21 06:42] pfortes commented on #396
Hello,

I have a working example with react hooks, from my tests the conversational-form library has any bugs related to hooks.

https://react-conversational-form-example-oaijb2.stackblitz.io

@jenssogaard maybe it would be nice to add it to the examples in the docs?

[code]

[2020-09-21 06:45] pfortes commented on #342
You can find a example using react hooks in https://github.com/space10-community/conversational-form/issues/396#issuecomment-695931607

[2020-10-03 06:32] jonodjlee commented on #224
@menteora no, unfortunately...

[2020-10-03 06:43] jonodjlee commented on #382
Hey @diana-pave 👋l, I haven't tried sticking the form in a centred div yet, but I plan to soon. If I were you, I'd just copy the code from the page (https://github.com/space10-community/conversational-form/tree/master/landingpage) and strip everything until you find the bit that makes it work.

As for changing the style and/or making your own theme, it's pretty simple. Just edit the CSS files that

[2020-10-11 15:56] cniklas opened #415 "preventSubmitOnEnter only for textarea"
I already bent my head around this problem but found no satisfying solution.

I would like my users to be able to submit an input element by hitting enter. But I also want them to be able to create new lines in textareas. Seems that this is not possbile at the same time.
Yes, it is possible to create a new line in a  textarea by hitting `shift + enter`. But this is not a known feature amongst the

[2020-10-16 11:44] MackoHacko opened #416 "Suppress default cf-questions in fieldset tags"
Is there a way to suppress the default _"I need you to select one of these"_  behaviour of `cf-questions` in `fieldset` tags? See screenshot:

![image](https://user-images.githubusercontent.com/32510775/96254347-6e5cba00-0fb5-11eb-841d-46b4b12be90e.png)

All I want is the OK radio button.

[2020-10-19 12:17] cniklas commented on #415
Here is my solution, in case anyone is interested. I updated `conversational-form.js`.

line **4527**, from:
[code]
to:
[code]

line **4579**, from:
[code]
to:
[code]

[2020-10-24 04:27] Nishoake commented on #382
Hey @jonodjlee any updates on the centred div?

[2020-10-24 13:19] jonodjlee commented on #382
Hey @Nishoake! Not yet... I'll only have timeto fiddle around with it from next week... stay tuned though :))

[2020-11-05 18:55] cgarrovillo commented on #397
Looks to be one shot at this point.

[2020-11-05 19:01] cgarrovillo opened #417 "<!DOCTYPE html> in React breaks the whole form"
This is actually a hilarious problem to have.

Having the <!DOCTYPE html> tag in any index.html holding the Form in ReactJS breaks the whole form, and nothing will ever show up.

[2020-11-05 19:01] cgarrovillo commented on #408
Remove <!DOCTYPE html>

[2020-11-10 19:13] jonrrivera opened #418 "Next.JS Compatibly"
Installing this dependency via NPM on a Next.JS v10 project gives this error. It usually has to do with SSR.

<img width="1004" alt="Screen Shot 2020-11-10 at 11 11 21 AM" src="https://user-images.githubusercontent.com/18686388/98721441-a9000b00-2345-11eb-895f-5618cb639b34.png">

[2020-11-10 19:15] jonrrivera commented on #297
how can we go about doing this?

[2020-11-10 19:55] pfortes commented on #297
Use dynamic imports or check if `typeof window !== undefined`

[2020-11-10 19:58] jonrrivera commented on #297
I imported the module using

[code]

now I'm getting this when copying the get started [code](https://stackblitz.com/edit/react-conversational-form-example?file=myForm.js):

<img width="1001" alt="Screen Shot 2020-11-10 at 11 57 12 AM" src="https://user-images.githubusercontent.com/18686388/98726860-e9628780-234b-11eb-8344-e1439cb8dac2.png">

[2020-11-10 20:34] jonrrivera commented on #297
dynamically importing like this made ConversationalForm = undefined

`
const ConversationalForm = dynamic(import('conversational-form'), { ssr: false });
`

[2020-11-10 21:12] pfortes commented on #297
@jonrrivera maybe try adding conversational form inside a component and then importing that component dynamically .

i use suspense

[code]

in the ContactChat component i import conversationalform normaly:
`import { ConversationalForm } from 'conversational-form';`

[2020-11-10 21:28] pfortes commented on #397
I just implemented it and it works great for what i needed.

[2020-11-10 21:31] pfortes commented on #418
Duplicate of  #297

[2020-11-10 21:31] pfortes commented on #400
Duplicate of  #297

[2020-11-10 21:33] jonrrivera commented on #297
you legend, this actually worked!

[2020-11-10 21:56] pfortes commented on #297
@jonrrivera Glad to hear that!

[2020-11-10 22:55] ImaCrea commented on #397
I guess we all have the answer now. I close the ticket.

[2020-11-10 22:55] #397 closed

[2020-11-11 00:17] jonrrivera commented on #297
another question... how would I add an attribute to the <form /> that if I'm using the React implementation that uses Formless.

it needs to look something like this

[code]

Would we do this using the [tags optionhttps://space10-community.github.io/conversational-form/docs/1.0.0/options/url) ?

[2020-11-11 01:02] jonrrivera commented on #418
see #297 for solution

[2020-11-11 01:02] #418 closed

[2020-11-11 09:58] #416 closed

[2020-11-12 02:29] jonrrivera commented on #336
Hi @jenssogaard

Really enjoying implementing conversational form into my next js project.

I am getting this issue on mobile every time I answer a question. Each time a question in answered the mobile keyboard hides and I have to tap on the input every time to toggle the keyboard back up and write an answer for each new question.

Ideally, I would want the mobile keyboard to stay opened consisten

[2020-11-12 04:43] pfortes commented on #336
Duplicate of #224
Not sure if there is a solution yet, i haven't tested this.

[2020-11-12 05:27] jonrrivera commented on #336
gotcha, I am happy to help you with it.

[2020-11-12 14:26] jonodjlee commented on #382
@Nishoake sorry for the extended radio silence... I have just whipped up something that makes the form 50% of the screen width, 50% of the viewport height, and horizontally centred. The current code does not make it vertically centred.

You can view the code in [this repository](https://github.com/jonodjlee/convo-form-centered)

Hope this finally helps you, and please reach out if you have further

[2020-11-12 17:20] jonrrivera commented on #224
it would be so nice to get this functionality, I'm down to work on it with someone

[2020-11-19 13:57] viniciustesoni opened #419 "Formless | Robot Message Callbacks & Prefilled"
I have some questions about the formless method.

- It is possible to use prefilled value at select and checkboxes?
- Receive callback from Robot Messages?
- There is an tag for addUserChatResponse like the cf-robot-message?

[2020-12-03 05:06] heri16 opened #420 "Documentation: Multiple conditions not clear AND or OR"
The documentation for MULTIPLE conditions is not clear if each expression is evaluated with LOGICAL-OR or LOGICAL-AND

[2020-12-03 09:15] heri16 opened #421 "Edit Response casues empty array (that leads to cf-conditional to fail)"
On the first flow, the cf-conditon for skipped/hidden tags work because `tagValue` is `['']` (array with emtpy string).

However, if the user edit a response, the cf-condition fails to work and always return false because `tagValue` is now `[]` (emtpy array).

https://github.com/space10-community/conversational-form/blob/23016adb93d3082cfe17b0f55ba13fcfd980083a/src/scripts/cf/logic/FlowManager.ts#

[2020-12-04 15:47] Nishoake commented on #382
Hey @jonodjlee thank you for taking the time to provide an example of a CF-Form in a centred div!!👍

I'm just starting to take a look at your repo, but is it possible you could provide a summary of the changes you made eg. CSS classes and properties.

I am sure it would be a great resource not only for me, but also others who have / will face similar roadblocks.

@diana-pavel I found that by creat

[2020-12-13 13:31] jonodjlee commented on #382
Hey @Nishoake! Great to see you trying new things! I'll endeavour to put together a list of changes to my code as soon as possible. I agree that it would be a valuable resource, and will help others know what changed, rather than just accepting that it works.

I don't use React, so I'm not too sure what may be wrong, but I will give it a test drive myself soon. I'll report my findings here.

Hopef

[2020-12-13 13:34] jonodjlee commented on #224
@jonrrivera I agree, but I wouldn't say my skills are to that level yet...

[2020-12-14 19:32] cgarrovillo opened #424 "Library Alternatives"
Since this project is no longer maintained (as established in #397 ), what are some **good** alternative libraries similar to this that you guys can recommend.

[2020-12-22 04:22] jemikanegara commented on #235
Hi, I just want to ask why there's no difference between setting isMultiChoice to true and false? checkbox only works if I add "multiple" https://codepen.io/space10/pen/EoKMLg

[2020-12-22 04:36] jemikanegara commented on #401
@serhiibabaiev try this
[code]

[2021-01-06 11:17] diana-pavel commented on #382
Hey Jonathan, thank you for making these changes. I'm planning on
implementing the conversational form in the onboarding flow for workals.com,
my mentoring website. I'm not sure if I'll be able to save the data from
the form so I might make/suggest further changes, but thanks a lot for your
help so far!

On Sun, 13 Dec 2020 at 13:32, Jonathan Lee <notifications@github.com> wrote:

[2021-01-08 01:13] jonodjlee commented on #382
Hey @diana-pavel! No worries, I hope you are now able to change the style of the form :))

As for saving the data, you can either use [AJAX](https://space10-community.github.io/conversational-form/docs/1.0.0/functionality/submit-callback/) or the normal form submit method (I've used AJAX for my personal projects). If using AJAX, you can link it up to a form endpoint and integrate that with Integro

[2021-02-06 09:55] cbruiners opened #427 "Parent floated div ignored due to absolute positioning of the form"
I have a form thats rendered by a JSON source, all works great, except I can't seem to put the form inside a floated DIV for responsive purposes.

There seems to be some absolute position on the form thats needed. What I'm trying to do is float the chart_pane and the question_pane so that they appear in 2 columns (which works fine) but then when the browser is a mobile device, etc... the chart_pan

[2021-02-13 07:00] dubem-design commented on #224
This is actually very important, any solutions yet?

[2021-04-26 12:59] carlmagumpara opened #432 "Custom input attribute to pass on EventDispatcher"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I want to pass a custum attribute to event listerner

Sample formless data
{
    'tag': 'input',
    'type': 'text',
    'name': 'sample',
    'cf-questions': 'Sample question',
    'required': true
    **'cf-data': JSON.stringify(question

[2021-05-19 10:21] sbalajime opened #437 "Edit question either leads to 'robot of undefined' bug or the updated answer is not reflected in the UI."
Code sample - https://stackblitz.com/edit/react-conversational-form-example-jheej2?file=myForm.js
Bug Description:
The above code sample has conditional branching. After entering height and weight, if i click on the height answer to edit it, It is not updated in the UI .

Version - 1.0.2

Browser - Chrome 90.0.4430.212

[2021-05-25 07:48] aidacarbajo commented on #372
hii, do you find a solution? I have the same problem

[2021-05-25 07:55] keyboardbreaker commented on #372
im sorry i didnt find a solution

[2021-05-28 07:03] sidverma24 commented on #372
Hello, I also faced the same problem but there is no native way. For achieving that.

[2021-05-28 08:16] aidacarbajo commented on #372
Yes, I finally did a dirty 'solution' that I really don't like hahaha. I write the emails of the users on the value like this value="{{usuario.email}}" and their id like id="{{usuario.uid}}". So before sending the form I modified the value of the selected option by its id.

[code]

[2021-05-30 15:21] yzalvov commented on #416
@MackoHacko I'm happy you found the answer. Would you be so kind to share though?

[2021-07-16 19:56] diegoaguilar commented on #424
@cgarrovillo  Did you find any good alternatives?

[2021-07-26 14:34] cgarrovillo commented on #424
Nope. It's either paid or too complex to iterate quickly.

[2021-07-26 14:40] diegoaguilar commented on #424
What paid solutions do you know around?

On Mon, Jul 26, 2021, 9:34 AM Christian Garrovillo ***@***.***>
wrote:

[2021-07-26 19:38] cobrexus commented on #424
@diegoaguilar the best paid solution is [typeform](https://typeform.com)

[2021-07-26 19:42] AryanBeezadhur commented on #424
I am keen on forking this library and then we can create an actively maintained open-source version of it

[2021-08-05 13:57] alexhansonsmith commented on #224
I'd love to chat with anyone who wants to work on a solution for this with me. It is really impeding this otherwise excellent library.

[2021-08-20 19:43] jstillwa commented on #225
I think you are still debating putting this feature in or not, but just checked the codepen on a few different browsers and the workaround example doesn't seem to work anymore. More of just an FYI as it doesn't seem like this topic has been chatted about for some time.

[2021-08-25 11:48] anVeNiQ opened #446 "Is it possible to insert a tag without a question above it?"
I have created a custom element that I have put in an overlay. When a user reaches that specific question I add a tag 'placeholder' tag (that is simply a input tag) so that the form does not submit. The only problem with this is, the 'placeholder' tag also places it's question in the Conversational, even when I set it to empty. Then the question will be set to 'Please write some text.'.

Is there

[2021-09-06 14:13] sashareds commented on #276
It's sad this product is dead now

[2021-09-08 08:21] Pragu9988 opened #447 "I want to add a video after a question"
I want to add a video after the question before the user select an answer. How can I achieve that?

[2021-09-29 21:05] mrivasa commented on #138
I'm struggling with a very similar issue.  I'm trying to use bootstrap and vuejs.  The following stackblitz shows what I'm doing and the issues described bellow.

https://stackblitz.com/edit/web-platform-xrffsp?file=index.html

These are the issues I have:

1. When adding bootstrap to the page, conversational form just stops working.
2. When not using bootstrap conversational form works but it tak

[2021-10-02 00:05] juan-ordonez opened #449 "Submit an input value programmatically (without button / enter)"
Hello,

I am trying to implement a customer date picker in my conversational flow. I am able to hide the default cf-input, show my date picker, and transfer the inputted date back into the hidden cf-input. At this point I would like the flow to continue automatically before hiding the date picker and showing cf-input again - and this is where I'm stuck.

Is there a function I can call to proceed t

[2021-10-20 13:45] jhadraoui commented on #437
Did you find a solution to this problem ?
I have similar issues, when trying to go back and edit a previous answer, the whole flow is affected and the questions and answers get all mixed up

[2021-10-20 13:55] sbalajime commented on #437
@jihanehk95 No. I have faced so many issues with this package. So i am using tripetto for conversational forms.

[2021-11-22 18:51] patrickgouy commented on #337
Hi @jenssogaard , thanks for the amazing work. How do we set the input type file optional? Didn't find any info on the docs.

[2021-12-28 03:44] aman244221 commented on #305
Can you tell me that....how can i make a request in html csrf poc with X-csrf-token http header ?

[2022-01-13 21:40] kpak130 opened #451 "Checkbox not unchecked on click"
I added the checkbox options where a user can multiselect options. Unchecking the checkbox still has the 'check' mark shown unless I draft my mouse out of the entire selection. I think this is a bug as the unchecking should be immediately reflected on the checkbox (not until/after you get your mouse pointer out of the selection)

I'm using version 1 and the issue is happening to Chrome, Safari.

P

[2022-01-21 13:18] mtness commented on #405
and how does your soution look like?
I'm struggling with the same setup - any idea would be greatly appreciated!

[2022-02-14 15:54] typehorror commented on #376
@keyboardbreaker this bug comes from your lastpass extension

[2022-03-01 21:07] itsbrex commented on #150
Was this feature added? @jenssogaard

[2022-04-01 14:50] alexhansonsmith commented on #373
Hey @denisvlr @keyboardbreaker.

I am a bit late to this one but I resolved this issue by adding a name field to every child object (see below).

 `[
  {
    id: "mortgage_reason",
    tag: "fieldset",
    name: "mortgage_reason",
    "cf-questions": "Why do you require the fund?",
    required: "required",
    children: [
      {
        name: "mortgage_reason",
        tag: "input",
        "cf-

[2022-05-14 23:30] K2adir opened #458 "is it possible to combine this with formsubmit?"
I have been trying to combine this UI with https://formsubmit.co/ backend, but I'm failing to do so.
Is it possible, has it been done?

[2022-05-14 23:45] K2adir commented on #458
added this  "cf-form" to <form>  and now it works.

[2022-05-14 23:45] #458 closed, assigned to jenssogaard

[2022-05-17 17:43] Sylar-codex opened #459 "No need reloading after clicking on No thanks"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-05-17 17:47] #459 closed, assigned to jenssogaard

[2022-06-01 02:32] diego-v opened #460 "Is it possible to pass an argument to submitCallback?"
In have this code

[code]
I would like to pass an argument to submitCallback in order to use it in the function:

[code]

Is that possible?

Thanks!

Great library by the way...!

[2022-09-09 01:56] imsgx commented on #225
@jenssogaard, it is possible to use cf-robot-message with a link tag < a href> ?

I tried here without success

[2022-11-04 12:01] Shubhanshu082 opened #464 "Link not clickable when adding robot message after form submission (addRobotChatResponse in submitCallback)"
I am trying to add a link in a message using anchor tag in addRobotChatResponse(). The text in the message gets underlines but is not clickable. Is there any way to make it clickable?

`submitCallback: function(){ conversationalForm.addRobotChatResponse('<a href="https://www.xyzbank.com/aaabbc">Click here</a>');
}`