[2016-10-26 15:43] felixnielsen opened #1 "Update AI default dictionary"
@danielfriis can you update this Dictionary item when possible, no rush:

https://github.com/space10-community/conversational-form/blob/develop/src/scripts/io/space10/data/Dictionary.ts#L53

[2016-11-24 22:17] felixnielsen opened #7 "Control the UserInput and ControlElements using the Web Speech API"
[Web Speech API](https://developer.mozilla.org/en-US/docs/Web/API/Web_Speech_API)

[2016-11-24 22:19] felixnielsen opened #8 "Bookmark tool"
Activate the Conversational Form via a bookmark tool.

- Add UI to pick out/list form tags
- Create the Bookmark plugin

Could also be a Chrome extension

[2016-11-28 10:19] danielfriis opened #9 "Edit previous answers"
Would be nice to be able to go back and change an answer you already provided.

[2016-11-28 10:49] danielfriis opened #10 "Wordpress plugin"
Easy implementation for non-techies for Wordpress

[2016-11-28 11:46] DeanWard commented on #9
When typing on skype they detect if you send the same message again with small changes and mark it as an edit. Something like that might work well here, too?

[2016-11-28 11:52] steveraffner commented on #10
Non techie volunteer to test it and feedback :)

[2016-11-28 12:23] onzemark commented on #9
Editing it conversationally would be awesome, but require quite some AI I recon. Fixing a typo with "Oops I meant to say Mark" after typing _Makr_ for instance.

[2016-11-28 12:39] nearkingdom opened #11 "Logic and Piping"
It would be great to build in some kind of logic response and piping.

**Question 1: How do you like your eggs in the morning?**
A - Fried Sunny Side Up
B - Poached
C - Scrambled

**Question 2: Are you**
A: Male
B: Female?

[code]

[2016-11-28 17:00] poondq commented on #10
will be the first to test out.

[2016-11-28 17:30] steveraffner commented on #10
awesome ! :)

[2016-11-29 05:37] oktayacikalin opened #12 "Translations"
How would translating it into e.g. German work? Just update the strings in the dictionary?

Thanks,
Oktay.

[2016-11-29 06:14] wendyfromdc opened #13 "How do I save data to a Google Sheet?"
Do I put anything here, perhaps?

<form id="co-billing-form" action="" cf-form-element>

[2016-11-29 07:14] laxmin commented on #10
Another volunteer non-tech here ready to test drive.

[2016-11-29 07:17] felixnielsen commented on #12
Hi @oktayacikalin you can find an example of how to overwrite the default Dictionary [here](https://github.com/space10-community/conversational-form/blob/master/test/overwrite-dictionary.html#L558)

[2016-11-29 07:17] #12 closed

[2016-11-29 07:22] hessius commented on #9
(As mentioned on ph) I've done something similar to this but non dynamic, I solved this issue by grouping questions together and asking if they were correct, e.g. "so before we move on Daniel, is it correct that your telephone number is xxx and your home address is yyy" yes/no. If user selects "no": "okay, let's fix that! What part of the info was incorrect? Name/number/address"

It's a bit of a r

[2016-11-29 07:24] felixnielsen commented on #13
@wendyfromdc if you mean the user-submitted data upon conversation end?
Then you could add this yourself to your [forms end-point (action tag)](http://www.w3schools.com/TAGs/att_form_action.asp)

You can also manually instantiate ConversationalForm and set submitCallback, which takes a method.
Please see `submitCallback` in the readme file [here](https://github.com/space10-community/conversational

[2016-11-29 07:32] hessius opened #14 "Internationalization"
Would be great to add support for internationalization, haven't had time to look at all of the code but answers seem canned, and would therefore be easily translatable?

[2016-11-29 11:00] danielfriis opened #15 "Browser autofill"
Would be clever to utilize the autofill of browsers.

[2016-11-29 12:03] felixnielsen commented on #14
hi @hessius please see this [ticket](https://github.com/space10-community/conversational-form/issues/12) should answer your question.

[2016-11-29 12:03] #14 closed

[2016-11-29 14:43] janfsauer commented on #10
ready to test drive it here. non-tecchie

[2016-11-29 14:45] artneo8 commented on #10
Ready to test it too! ;)

[2016-11-29 14:57] danielfriis opened #16 "Allow empty value for type="email""
Unless required, type="email" should allow empty values.

[2016-11-29 15:50] webmagnets opened #17 "hybrid bot/human"
It would be nice if the person types something that the bot doesn't understand then it would notify me and allow me to respond manually.

[2016-11-29 16:08] m1guelpf commented on #8
+1 for this

[2016-11-29 17:17] cauesanches opened #18 "Question based on previous response"
Hi,

Firstly, congratulations for iniciative. Conversational form is the future of web communication.

Well, I'm building a form that I need set a specific question according with the previous answer. For example:

**Question**: The client is a person or a company?

**Question (if person)**: Inform the number of personal document.
**Question (if company)**: Inform the number of employees.

Has a s

[2016-11-29 17:29] epleplepl opened #19 "Would it work with TypeForm?"
Is there a way to turn TypeForm form into Conversational Form?

[2016-11-29 17:42] laudeco opened #20 "give a context at the instantiation doesn't work"
I can't specify a context and so my cf is always in the body :(

[2016-11-29 17:59] felixnielsen commented on #20
@laudeco how are you trying to specify the context? cf-context attribute or manually through the ConversationForm constructor?

[2016-11-29 18:04] #16 closed

[2016-11-29 18:17] laudeco commented on #20
Through the constructor :/

Le mar. 29 nov. 2016 18:59, Felix Nielsen <notifications@github.com> a
écrit :

--

De Coninck Laurent

0498/05.32.59
lau.deconinck@gmail.com
laurent.de.coninck@guides.be

[2016-11-29 18:26] felixnielsen commented on #20
@laudeco please see 6a5c247 (which is working when I test it) is that how you do it?
If yes, then please paste some code or link and i'll have a look.

[2016-11-29 18:29] m1guelpf commented on #19
Youshould contact the @typeform team

[2016-11-29 18:38] felixnielsen commented on #19
@epleplepl from my limited experience with Typeform and from what I can scan from their documentation.
Then I see a few issue with adding ConversationalForm on top.

1. Typeform is rendered in an iframe tag, which proposes contextual communication issues as iframes are considered "blackbox".
2. Typeform does not seem to have an API that allows for input field snitching or submitting data to an end

[2016-11-30 00:25] mattbasta opened #22 "Modularize and publish via NPM"
It would be useful to be able to `import` this from NPM. Using something like webpack to build the project would generate smaller file sizes and produce cleaner output. It would also enable integration with React, and more:

[code]

[2016-11-30 01:25] findborg commented on #22
I looked for an number distribution as well

[2016-11-30 01:25] findborg commented on #22
Npm

[2016-11-30 05:58] felixnielsen commented on #22
hi @mattbasta good to hear that you see a use-case like this. Will add the feature asap and ping you when ready.

[2016-11-30 06:09] felixnielsen commented on #18
hi @cauesanches great feature. I see it implemented in a couple of ways:

1. "100% control": We expose the internal event system, this way you would be able to listen for when a user submits an answer and inject a new [cf.ITag](https://github.com/space10-community/conversational-form/blob/master/src/scripts/cf/form-tags/Tag.ts#L24) depending on the answer.

2. "Pure markup": We could setup a way t

[2016-11-30 06:22] felixnielsen commented on #11
hi @nearkingdom please see my answer here; [1. "100% control"](https://github.com/space10-community/conversational-form/issues/18#issuecomment-263791800), would that work?
A 3rd solution could also be more in the lines of what you have written as the example code. Where defining a if, else mapping to the existing tags and passing that as an argument when creating the ConversationalForm instance. A

[2016-11-30 06:31] findborg commented on #22
Nice

[2016-11-30 09:31] laudeco commented on #20
That's working but impossible to put it on my page without a full width, is it possible

[2016-11-30 09:31] laudeco opened #23 "data-cf-form-element"
Why don't you allow the cf-form-element to be prefixed by the standard  data- ?

[2016-11-30 10:07] felixnielsen commented on #20
@laudeco ok, two solutions.
1. define a alternative context (an alternative element) where you have control over the dimensions of that context, then refer to that when you create the instance or set `cf-context` on the element.
2. overwrite styles, from your code-base you can add this to overwrite the css of the Conversational Form. You maybe need to add !important after each property.
[code]

[2016-11-30 10:12] felixnielsen commented on #23
@laudeco from a code perspective, data- would refer to your application so appending data-* to all Conversational Form related attributes would make it seem like those parameters are related to your application. So decision was made to separate concerns clearly.
But to allow for the data-* attribute as a "fallback" would be very easy to implement.

[2016-11-30 10:40] felixnielsen opened #24 "Cycle title between question and original title when tab is inactive"
When user navigates away from tab, toggle between the active question and the original title.

[2016-11-30 11:55] demircancelebi commented on #18
Hi @felixnielsen,
I think there may be times when some of the questions are not asked at all depending on the previous answers, and the actual shape of the all questions available might resemble a tree (or object), rather than an array. So it would be better to have 100% control with an easy to use API, rather than appending lots of input fields

[2016-11-30 16:47] nearkingdom commented on #11
I like the idea of mapping the logic visually.

[2016-11-30 17:34] xclntdesign opened #26 "Skipping questions"
It seems that all fields are required. I think it would be nice to be able to skip a question by hitting enter and get a response like "OK, we don't need that information to proceed." or even better, a programmed response, similar to the question field.

[2016-11-30 18:46] MuyBien opened #27 "Question: Can we make condition based on previous response?"
Amazing work guys!!!
I was just wondering if it was possible to propose form inputs based on a previous response?

For example, if for the possible answers for question 3 depends on answer for question 2?

Thanks!

[2016-11-30 20:39] xclntdesign opened #28 "Validation adjustment"
I needed to pass the field name as a second parameter for validation.

Changed this:
`Tag.prototype.setTagValueAndIsValid=function(t){var e=!0,A=t.text;return this.pattern&&(e=this.pattern.test(A)),e&&this.validationCallback&&(e=this.validationCallback(A)),""==A&&(e=!1),e&&"file"!=this.type&&(this.domElement.value=A),e}`

To this:
`Tag.prototype.setTagValueAndIsValid=function(t){var e=!0,A=t.text,

[2016-12-01 02:47] jhonnymoreira opened #29 "XSS Vulnerability"
## Description

The image below shows the result when trying to execute some code through the input. The message was: `<img src="x" onerror="alert('XSS Vulnerability')">`. Since there isn't an image with name 'x', it causes to trigger the `onerror` function, which means the input value isn't getting sanitized and it is opening a security breach.

![XSS on Demo](https://cloud.githubusercontent.com/

[2016-12-01 02:52] jhonnymoreira commented on #29
I would be glad to help on the issue and send a patch to solve this problem. While reviewing the code I saw a piece of code that I'm almost sure is causing the security breach:

https://github.com/space10-community/conversational-form/blob/master/src/scripts/cf/ui/UserInput.ts#L102-L104

[code]

[2016-12-01 05:24] felixnielsen commented on #29
@jhonnymoreira nice! You are more than welcome to make a PR with a fix.

[2016-12-01 05:27] felixnielsen commented on #28
@xclntdesign makes sense, should I make it so the second paramter is the tag? Just to broaden the options.

[2016-12-01 05:32] #28 closed

[2016-12-01 05:52] felixnielsen commented on #18
@demircancelebi great, sounds like it would be a good overall idea to expose the internal event system.

For the enhancement at hand:
The flow of Conversational Form is controlled from a centralised in the [code](https://github.com/space10-community/conversational-form/blob/master/src/scripts/cf/logic/FlowManager.ts#L114) here, we could expose a method that could allow for:
1. pick an already regi

[2016-12-01 05:53] felixnielsen commented on #27
@MuyBien already working on a proposal, please see this [thread](https://github.com/space10-community/conversational-form/issues/18) let me know if you have any thoughts.

[2016-12-01 05:53] #27 closed

[2016-12-01 07:19] felixnielsen commented on #26
@xclntdesign we could make it so if the [standard attr](http://www.w3schools.com/TAgs/att_input_required.asp) `required` is not present then the field can be blank. Also I like the idea of having a standard blank-input answer for the Dictionary. Could be an extra attr to a tag:
[code]

[2016-12-01 07:41] laudeco commented on #23
I think this fallback will be useful ;-)

[2016-12-01 07:42] #20 closed

[2016-12-01 08:29] danielfriis commented on #26
+1

And let's use the standard `required` attribute.

[2016-12-01 08:32] danielfriis commented on #11
#18

[2016-12-01 08:41] danielfriis commented on #18
I think there might be some value in allowing people to specify conditional questions directly in the markup, instead of having to define it in the script. That way, it's easier to have a clear overview of what's going on. Otherwise, you'd have some questions in the markup, and others in the script.

[2016-12-01 09:41] RafaelDavisH commented on #9
Since the idea is to have a form completed as a conversation - more like messaging I would say -, then some of the functionalities that messaging has like auto-capitalization, auto-correction, check spelling and predictability that could minimize the errors submitted. Although, if applicant wants to change any answers and go back, maybe the applicant can have an option to flag or mark the question

[2016-12-01 11:06] aireeria opened #30 "Conversational Form error, the formEl needs to be defined"
Hi,

First of all congratulations!!
Is a very good idea.

But, I'm trying to test it and I get this error:
Uncaught Error: Conversational Form error, the formEl needs to be defined.

I instantiate converstaional form this way (but I had test it with jQuery too):

[code]

Any idea?

[2016-12-01 11:10] felixnielsen commented on #30
hi @aireeria thanks :)
When creating the instance you need to make sure that the formEl isnt null/undefined.
So from your code it would seem that
[code]
is null.

One would normal include the Conversational Form script and custom code below the rest of your code-base.

Can you confirm?

[2016-12-01 11:38] aireeria commented on #30
hi @felixnielsen
thanks for your work!

It's loaded.
document.getElementById("contact-form-1234") in console throws the form element but it keeps throwing
the Uncaught Error: Conversational Form error, the formEl needs to be defined.

[2016-12-01 11:54] aireeria commented on #30
I'm dumb!
Sorry!

You can delete all the thread!
My big stupid mistake.

It works like a charm!!!

[2016-12-01 12:50] #30 closed

[2016-12-01 17:57] xclntdesign opened #31 "Submit with AJAX"
First off, amazing job on this.

Second, perhaps submitting with AJAX by default should be considered. After the final field is entered, the form is submitted with AJAX, and a message is returned in the chat window.

I think we, as developers, understand what's going on, but the average user filling out a contact form might be a little confused by being redirected to a thank you page. Sort of "I w

[2016-12-01 21:26] AdrenalineX commented on #10
Oh oh, me to!

[2016-12-02 02:18] jhonnymoreira commented on #29
Hey, @felixnielsen, today I wasnt able to work on the patch, tomorrow I'll have a free time to fix this, ok?

[2016-12-02 06:27] Richardxlin opened #32 "submitCallback does not trigger"
I may be missing something, but I can't get the callback function to work in the constructor.
Here is a jsbin: https://jsbin.com/kipejexaju/edit?html,js,output

[2016-12-02 08:02] felixnielsen commented on #29
Thanks @jhonnymoreira just ping me if any questions.

[2016-12-02 08:10] #32 closed

[2016-12-02 08:11] felixnielsen commented on #32
@Richardxlin thanks for discovering this. See related commit for fix. Your jsbin is also working for me know.

[2016-12-02 08:15] felixnielsen commented on #31
thanks @xclntdesign ! There was a bug related to submitCallback ... Which you would use in this case.
Please see [this closed issue.](https://github.com/space10-community/conversational-form/issues/32) where there is also a [JSbin link.](https://jsbin.com/kipejexaju/edit?html,js,output)

Regarding a final (and welcome) message, then this is something we will roll out with a official release very s

[2016-12-02 09:49] felixnielsen commented on #17
hi @webmagnets when do you see this scenario happening?

[2016-12-02 14:52] m-abisaad opened #33 "Question: any chance this will work on native-mobile (cordova) ?"
Hi,
any idea if this will work with cordova? anyone tried it?
if no, is there any plan to do so?

Thanks.

[2016-12-02 15:23] felixnielsen commented on #33
@m-abisaad I have not tried to have it compiled to another code-base, in theory it should work.
Please let me know if you start testing this.

[2016-12-02 15:24] #31 closed

[2016-12-02 15:54] Richardxlin commented on #32
@felixnielsen Works great. Thanks!

[2016-12-02 15:56] Artkoch opened #34 "How to stop jumping page to the conversational-form after page loaded."
HI!

After my page is loaded it scrolls down to footer to the conv-form. Is it the default behaviour of the conv-form?

I'm implementing conv-form in my React project vie componentDidMount with .setAttribute command.

[2016-12-02 16:00] anragab commented on #18
I guess this feature will drift the product from being a UI for a web form.

I would rather suggest that the standard visibility and enabled tags are a more compatible solution and the developers can also listen on the input fields to trigger visibility or enable/disable fields.

This will clearly decouple the plugin from the form design and will maintain the feature of toggling between conversati

[2016-12-02 16:24] gytdau commented on #9
What if they could click on the message they sent and edit it? That'd be the most intuitive and simple.

[2016-12-02 17:20] felixnielsen commented on #34
Hi @Artkoch it is scrolling down because it sets auto-focus on the Conversational Form's input field, browser native behaviours scrolls the active input field into view.
Either you want to instantiate the Conversational Form manually when user has the form in view. Or I could add an option to the constructor that disallows for auto-focus upon instantiation.

Let me know.

[2016-12-02 17:36] felixnielsen commented on #9
@hessius I like that idea, this could be implemented quite easily through attributes ex.: `<input cf-validate-previous-answers="are you happy with your previous answers?"...`, together with @gytdau suggestion — which we are implementation as we speak — it would be an simple implementation.

@RafaelDavisH regarding errors submitted then we rely on the [pattern](http://www.w3schools.com/tags/att_inp

[2016-12-02 17:40] felixnielsen commented on #23
@laudeco you are welcome to make a pr ;) It's added to the pipeline from our side, but not a high priority.

[2016-12-02 17:52] Artkoch commented on #34
It would be great to have auto-focus option set to false by default. Often times forms on landing pages or not the main element. But how long would it take to create that option?

[2016-12-02 18:15] #34 closed

[2016-12-02 18:16] felixnielsen commented on #34
@Artkoch did it the other way around, please see the commit which closed this issue. We will think about adding it pr. default. You are also very welcome to fork it and switch the implementation around.

[2016-12-03 08:48] ssteynfaardt opened #35 "Skip "disabled" fields"
**Issue:**
The form currently expects input from the user for all fields, including disabled fields.

**Expected behavior:**
The disabled attribute is a boolean attribute.
When present, it specifies that the `<input>` element should be disabled.
A disabled input element is unusable and un-clickable.
The disabled attribute can be set to keep a user from using the `<input>` element until some other

[2016-12-03 14:20] felixnielsen commented on #35
@ssteynfaardt good observation. It makes sense to check at runtime if the ITag is disabled or has has changed to disabled.

[2016-12-05 00:37] SampsonCrowley commented on #26
@felixnielsen the pull request I submitted utilizes this behavior with the standard `required` attr

[2016-12-05 01:41] SampsonCrowley commented on #15
@danielfriis that is exactly the thing that caused me to stumble across this project.  I would be happy to start implementing it for a PR, if you can think of a way to get started.  The thing that came to mind would be have an autofill button, that shows the underlying webform, asks for which autofill to use, then returns to a conversation style form

[2016-12-05 01:42] SampsonCrowley commented on #15
@danielfriis but for that to work, conversational-form would have to accept prepopulated values.  is that the case with the current implementation?

[2016-12-05 16:32] johndubya opened #38 "Can tab through items but can't select with keyboard"
I accessed the [demo](https://space10-community.github.io/conversational-form/) on my Windows 10 desktop using Chrome, and when I got to the "What do you do" question where you can select from a list of items, I did the following:

1. Press tab once to highlight the first option "Developer."
2. Press Enter to select the option.

The first time I pressed Enter, it moved focus to the input box below

[2016-12-06 08:45] #13 closed

[2016-12-06 08:50] felixnielsen commented on #17
@webmagnets let me know your thoughts here.

[2016-12-06 14:51] webmagnets commented on #17
Well, I imagined the form coming up when someone visits one of my sites. The bot starts signing them up for my offer, but then the visitor goes off script so we need human intervention.

Does that make sense?

[2016-12-06 16:18] felixnielsen opened #39 "Could Orbit.ai be integrated?"
https://orbit.ai/

[2016-12-06 17:00] LeGfrey commented on #18
Hi,

I'm encountering the same _issue_ and I'm wondering if something like an attribute `cf-if-previous` could be a good solution.

So if I should resolve the owner's issue. I would do something like that :
[code]

What do you think of this kind of solutions ? :smile:

[2016-12-06 17:46] iamtheream opened #40 "Form Primer Responses"
For an added level of conversation, I was wondering if there is a way to tag an element that, on page load or whenever in the form, would trigger a timed response. For example, if I wanted to welcome guests when they first arrive on the form, wait 2-3 seconds then prompt them with the first input field.

[2016-12-06 17:57] felixnielsen commented on #40
@iamtheream we are working on a welcome (could be used in your case) and bye messages, will be pushed out next week.

You can also instantiate the form yourself, like, psuedo code:
[code]

Here you should avoid the `cf-form-element` attribute

[2016-12-06 19:13] airjoshb opened #41 "How to fit in a structured page?"
How do you have it fit into columns, such as in your demo? When I add it to the page, it takes over the whole thing.

[2016-12-06 19:23] felixnielsen commented on #41
hi @airjoshb please use the `cf-context` attribute to append the Conversational Form into a different context than the body, as described [here](https://github.com/space10-community/conversational-form#optional-attributes)

If you are doing it manually you can use `context` parameter as described [here](https://github.com/space10-community/conversational-form#parameters-to-pass-the-constructor-of-

[2016-12-06 19:23] #41 closed

[2016-12-07 06:23] #40 closed

[2016-12-07 11:30] felixnielsen commented on #38
@johndubya I just tested this, and it seems to work fine for me.
Can you do a jsbin/jsfiddle where you experience this?

[2016-12-07 14:30] johndubya commented on #38
@felixnielsen, interesting. I'm experiencing it on the demo page linked above, so feel free to use that. I am using Chrome 54.0.2840.99 m (64-bit) on Windows 10. I ran the demo again just now, and when I got to the part asking my job, I tabbed to "Developer" again and pressed Enter, and it did the same thing: focused the input box without selecting the "Developer" item. So the behavior is the same

[2016-12-07 14:32] felixnielsen commented on #38
@johndubya I miss-read you! I can re-create. Will fix asap.

[2016-12-07 18:03] #23 closed

[2016-12-08 07:11] #19 closed

[2016-12-08 07:14] #33 closed

[2016-12-08 13:35] hamaff opened #43 "Validation"
**Issue:**
There is no validation of the fields.
Example: email field
When user is writing an invalid email there is no validaiton.
If the server return an invalid message the user must fill all of the fields again.

**Expected behavior:**
 There should be realtime validation or validation on submit with option to edit fields.

[2016-12-08 13:36] m1guelpf commented on #43
+1 for this

[2016-12-08 16:56] felixnielsen commented on #43
@hamaff @m1guelpf please see the readme file, you have multiple options to validate at runtime.

pattern attribute: `<input type="email" pattern="/(\w+)\@(\w+)\.[a-zA-Z]/g"` [link](https://github.com/space10-community/conversational-form#input-pattern-attribute)

or/and `cf-validation`: [link](https://github.com/space10-community/conversational-form#cf-validation)

and you have `submitCallback`: [

[2016-12-08 16:56] #43 closed

[2016-12-11 12:22] christophe77 opened #44 "End the conversation before the end of the form"
I was wondering if it was posible to make the form end prematurely when clicking on an answer.
In case of a customer interview for exemple, if the customer is not in the age range that interests the reviewer then the form needs to end.

[2016-12-11 14:44] Toilal commented on #35
Maybe it could display a message instead of only skipping it.

Also, a form field can be [readonly](http://www.w3schools.com/tags/att_input_readonly.asp), maybe we could have a distinct behaviour between disabled and readonly.

[2016-12-11 17:46] felixnielsen commented on #44
hi @christophe77 you can do this by adding a validation method as described [here](https://github.com/space10-community/conversational-form#cf-validation) then you can check if `value` is what you expect else you can call:
[code]

[2016-12-11 17:46] #44 closed

[2016-12-11 17:49] danielfriis commented on #17
I'm not sure I understand your issue. Conversational Form builds upon a regular form, which means there wouldn't be a case (as it is now), where the bot wouldn't understand the user's answer.

I'm closing this issue. Feel free to reopen and give a more detailed issue description.

[2016-12-11 17:49] #17 closed

[2016-12-12 22:24] hamaff commented on #43
[code]

When I enter "example@email.com" that should be a valid email the validation says that its NOT valid. I think it doesnt work properly.

[2016-12-13 05:41] felixnielsen commented on #43
@hamaff sry, the e-mail regex was just a quick copy-paste from the interwebs. You should find a regex that works for you.
Validation works fine: [jsbin](https://jsbin.com/xodusumala/edit?html,js,output)

[2016-12-13 08:16] m-abisaad commented on #33
it worked,
i had to download conversationaform.min.js and include it in the solution.

[2016-12-13 08:18] felixnielsen commented on #33
@m-abisaad awesome! Please let me know if one can access the implementing at some point.

[2016-12-13 14:00] jadismael commented on #18
tried to use the above solutions with fail.  In my implementation i am asking the user two questions, first is to select his current job  ( student, manager, job seeker), and on the second im asking the user to select his area of expertise ( it, hr, sales). then we're supposed to answer based on the previous 2 answers . for example if job=student and area = it   reply with " you're an it student".

[2016-12-13 15:16] andrewskip opened #45 "Question: how to use textarea as an input"
Awesome job guys! I'm a university student and I'll use your code for a project in computer programming 1 course. My problem is that I can't use a <textarea> instead of an <input> field: in fact I want to ask a longer question to the user. It seems that the code only accepts input fields, the following code doesn't work:

 <div class="form-group">
                      <label for="your-trip">Descr

[2016-12-13 17:01] iamtheream opened #46 "Redirecting to Different URL on Radio Option"
I was wondering how I would go about redirecting the user to a different URL based on their decision on a specific radio input?

**Example Use Case**: I want to start this conversational form out with an option for the guest to go to a more traditional form instead of continuing down the conversational path. By giving the guest 2 radio options in the first input response, I want to redirect to a t

[2016-12-13 19:04] felixnielsen commented on #46
@iamtheream you can do this in two ways:
Here at the "end" of the form tag [setup your own callback]([url](https://github.com/space10-community/conversational-form#parameters-to-pass-the-constructor-of-conversationalform-conversationalformoptions)) via `submitCallback` option.

Alternative, you can use [cf-validation](https://github.com/space10-community/conversational-form#cf-validation)

[2016-12-13 19:04] #46 closed

[2016-12-14 08:26] LeGfrey commented on #18
Hi @jadismael

Did you try using the code of this pull request ? https://github.com/space10-community/conversational-form/pull/42

If so you could find an example of a similar workflow here on this pastebin.
http://pastebin.com/ugYqCA1S

On this workflow I'm using `cf-display-if` to make conditionals display :smiley:

[2016-12-14 08:36] jadismael commented on #18
Hello @LeGfrey I tried your code, but the bot always display the first condition which is Young Boy in your script.

[2016-12-14 08:47] LeGfrey commented on #18
Hi,
Are you sure you built the source of CF using my pull-request ? :cry:

I just tried this and it works don't you forget a step ?
* pull the source code from my PR
* execute gulp to build the js code from ts
* copy paste this code http://pastebin.com/raw/ugYqCA1S to /test/custom-form.html

[2016-12-14 09:50] jadismael commented on #18
@LeGfrey  I've followed your steps, still it always tells me that "young boy" even when you indicate that you're a old girl

[2016-12-14 14:27] LeGfrey commented on #18
@jadismael I uploaded an example online (thanks to surge) if you want to check it.
If it works online, I guess you should compare the different files included on the page (html, js) to know where the different is.

You can find my example right here : http://cf-conditional.surge.sh/ :grinning:

[2016-12-14 16:05] jadismael commented on #18
@LeGfrey  thank you a lot for your help, it works like a charm now. seems like i had a problem with the js.

[2016-12-14 20:35] LeGfrey commented on #18
@jadismael you're welcome :smile:
if you like (or not) my version of conditional display and want to improve it don't hesitate to post your opinion on the PR

[2016-12-16 10:54] LeGfrey commented on #11
If you want, I made a PR which fix this "issue". Don't hesitate to check it and post your feedback :smile:
https://github.com/space10-community/conversational-form/pull/42

[2016-12-17 11:35] felixnielsen commented on #45
@andrewskip great that you have a use for it! atm. it does not accept textarea...
I have added it to version 0.9.0 which will be pushed very soon.

[2016-12-18 17:33] andrewskip commented on #45
Great, thank you!

[2016-12-19 17:54] inthecompanyof commented on #45
I'm also excited to hear that this functionality is being offered. 👍

[2016-12-19 21:02] hamaff commented on #45
it should be great too if you can make cf-questions multiple lines

[2016-12-20 10:18] dstollie opened #47 "Multiple one way data binding values"
Currently I only see support for `{previous-answer}` It would be cool if there is an api to add custom data binding values. For example; currently im looking for a way to get the value of a property of a few inputs ago.

Name
Age
Mood

In mood I want to ask the questions: So you're {age}. Tell me {name} how do you feel today?

[2016-12-20 11:38] smcelhinney commented on #22
Beautiful, I'd like this too. If I can help, let me know.

[2016-12-26 08:22] felixnielsen commented on #45
@hamaff you can just include a </br> tag in the string.

[2016-12-26 14:40] iamtheream commented on #46
@felixnielsen I'm not sure how to use `submitCallback` or `cf-validation` to solve the redirect use case I'm trying to solve for. Any advice?

[2016-12-26 19:28] felixnielsen commented on #46
@iamtheream maybe I am misunderstanding. Let me disect.

1. you want to instantiate the Conversational Form upon a users interaction. ex. choosing a specific radio button.
Here I would use [onchange](http://www.w3schools.com/jsref/event_onchange.asp)
Together with instantiating Conversational Form [manually](https://github.com/space10-community/conversational-form#self-instantiate-with-vanilla-js)

[2016-12-27 05:06] iamtheream commented on #46
Thanks for your help @felixnielsen I was trying `onchange=""();`methods but was not seeing any change. Now I realize that I was not instantiating for form manually.

To call the `$("#formId").conversationalForm();` I should put it in the `head` right?

[2016-12-27 07:15] felixnielsen commented on #46
@iamtheream I would call `$("#formId").conversationalForm();` from within your `onchange` handler, if the user-choice is "correct".

[2016-12-27 15:27] iamtheream commented on #46
I've tried to do so, but when I remove the `cf-form-element` from the `form` HTML element the functionality is gone. Maybe I'm missing a critical step here. Thanks for your support, it's much appreciated [[roxsign]]

[2016-12-29 05:39] iamtheream commented on #46
@felixnielsen in the example [jsbin](https://jsbin.com/canapoluqa/1/edit?html,js,output) you posted a few comments up, I cannot continue without typing "stackoverflow". Is there a way that instead of retuning false, it could skip to the next input questions?

[2016-12-29 06:12] felixnielsen commented on #46
@iamtheream jsbin is using a pattern attribute on the field, you can just remove it (readme file for full feature description) regarding your issue, then please make a jsbin and share it.

[2017-01-02 05:55] muskanup opened #48 "Validation in the form"
I am concerned about how these forms fields would be validated. Please help me out with the same.

[2017-01-02 07:49] felixnielsen commented on #48
hi @muskanup let me know your concerns :) you can use standard pattern [attr](https://github.com/space10-community/conversational-form#input-pattern-attribute) and/or use javascript [validation](https://github.com/space10-community/conversational-form#cf-validation) finally you can validate all the fields via the [submitCallback attribute](https://github.com/space10-community/conversational-form#p

[2017-01-02 07:49] #48 closed

[2017-01-08 09:24] AfaanBilal opened #49 "Question: Change robot image?"
Hi,

You've given a way to change the user image, could you give a way to change the robot image as well?

[2017-01-08 13:12] felixnielsen commented on #49
hi @AfaanBilal yes, this will be apart of the 0.9.0 release next week. Will lose this issue with the 0.9.0 milestone to notify you.

[2017-01-08 13:14] AfaanBilal commented on #49
@felixnielsen Thanks a lot!

[2017-01-09 06:01] JakSat opened #50 "Balnk Screen Area Form Upper side"
First of all, many congratulations for thinking different and better way.

I notice that the form make blank space upper side when size of form is big. Is there anyway the flow of the interaction show the following things as

1. move from top to bottom side
2. the size of form increases as per questions and answer.
3. Also it is shows the existing style of form before showing the conversational fo

[2017-01-09 06:53] felixnielsen commented on #50
hi @JakSat , awesome you can use it.

Conversational Form is made so you are in full control.
1. You are able to inject Conversational Form to a different context (element), see `cf-context` [here](https://github.com/space10-community/conversational-form#optional-attributes)
2. You can easily overwrite styles as you see fit, making it resize to it's context.
3. Conversational has a default look, y

[2017-01-09 06:53] #50 closed

[2017-01-09 15:52] joakimc opened #52 "Is it possible to turn off the human reply dots (…)"
When testing the form on others, someone commented that it looked like someone else was typing while they were typing. I think I agree – there's no reason to visually indicate that the user are typing, and it might be a distraction.

[2017-01-10 07:30] danielfriis commented on #52
@joakimc it's a very valid point. We're considering whether this should be removed for the `1.0.0` release. Until then, you can remove the typing by `cf-chat-reponse thinking{display: none !important;}`

[2017-01-10 08:48] joakimc commented on #52
Thanks! I removed it with `cf-chat-response text[thinking] {display: none !important;}` to hide the bubble is as well while typing.

[2017-01-12 06:11] haktansuren opened #53 "Be very cautious deploying this to your LIVE server..."
We have just got our server flagged as "phishing website" because of the file `test/classic.airbnb.html` (by phishlabs.com in northon + cloudflare)

I suggest the author to remove the file from the repo.

[2017-01-12 06:44] felixnielsen commented on #53
@haktansuren why would you put test/classic.airbnb.html on your server??

[2017-01-12 06:44] #53 closed

[2017-01-12 06:48] felixnielsen commented on #53
And please rename the Title as it is very misleading ...

[2017-01-12 06:53] haktansuren commented on #53
@felixnielsen because I thought this was the repo for the demo here [https://space10-community.github.io/conversational-form/](url)

[2017-01-12 06:54] haktansuren commented on #53
Why would you have the clone of airbnb website on repo @felixnielsen?

[2017-01-12 07:04] felixnielsen commented on #53
@haktansuren for test purpose ... However you illustrated that one should expect people would deploy/publish all code and therefore a disclaimer and howto will be written into the readme, also those test files will be removed to prevent the possibility 👍

For reference; files to be deployed to a server is either in the **/dist** folder or if you build the project yourself from a forked repo, then

[2017-01-12 10:48] rubikdigital opened #55 "How to validate minimum maximum value in text field?"
Currently it supportes validation only for radio and select . I need validation based on my
"<input cf-questions="Question" type="number" class="form-control" name="term" id="term" min="1" max="30">"
currently no errors appearing when I enter more than 30.

[2017-01-12 10:49] #55 closed

[2017-01-12 11:12] ssrgspdkt opened #56 "How to validate minimum maximum value in text field?"
Currently it supportes validation only for radio and select . I need validation based on my
`<input cf-questions="questions" type="number" class="form-control" name="coverage-term" id="coverage_term" min="1" max="30">`
currently no errors appearing when I enter more than 30.

[2017-01-12 11:35] felixnielsen commented on #56
@ssrgspdkt correct, min and max are not implemented.
You can use pattern attribute instead:
[code]

[2017-01-12 11:35] #56 closed

[2017-01-13 07:39] #26 closed

[2017-01-13 07:39] #29 closed

[2017-01-13 07:39] #38 closed

[2017-01-13 07:39] #45 closed

[2017-01-13 13:27] #49 closed

[2017-01-13 13:32] danielfriis opened #57 "Scroll within conversation"
Would be nice to be able to scroll within the conversation and see previous answers, if they're scrolled out the view.

[2017-01-13 13:34] #35 closed

[2017-01-13 13:34] #24 closed

[2017-01-13 13:38] #1 closed

[2017-01-16 10:43] danielfriis opened #58 "Using images as answer options"
For radios and checkboxes, use images. Optional text-description to the images.

[2017-01-17 15:14] alvarengathomas opened #59 "Unit tests"
First of all, thanks for open-source this idea and for the hard work, I'm really excited to use in my projects, but I'm insecure because the source code doesn't have any unit tests.

Is there any forecast for the implementation of the unit tests?

[2017-01-17 15:44] felixnielsen commented on #59
hi @alvarengathomas awesome that you find the project interesting! Yep, unit-tests are apart of the 1.0.0 roadmap. Release date to be announced very soon.

[2017-01-19 12:37] danielfriis opened #60 "Bullets for passwords instead of stars"
Would be great to hide password inputs with bullets (•) instead of stars (*). Both when typing, and in the actual conversation.

http://www.fileformat.info/info/unicode/char/2022/index.htm

[2017-01-26 09:37] danielfriis opened #61 "Deployment tests"

[2017-01-26 09:43] danielfriis commented on #18
Interpreting this as conditional logic jump - i.e. jumping to questions based on previous answers @felixnielsen

[2017-01-26 11:57] tadinski commented on #10
me pleaasee 😀

[2017-01-26 23:22] tadinski opened #62 "Comparing entries"
having the ability to compare a previous entry with the current one would be really helpful.
use case: entering password twice, to make sure they are identical

[2017-01-27 19:27] tadinski opened #63 "delay robot message"
is there a way to add a bit of a delay before the robot sends the next field? I see you in your GIF you have that, with 3 dots as a loader...I was able to replicate it by showing and hiding fields, but isn't there a cleaner way?

[2017-01-28 08:44] felixnielsen commented on #62
@tadinski this will be added explicit to one of the up-coming version, before 1.0.0.

You are however able to do what you want with; `flowStepCallback`, this requires you to instantiate Conversational Form [manually](https://github.com/space10-community/conversational-form#self-instantiate-with-vanilla-js). `flowStepCallback` get's called on every step.

[code]

The dto FlowDTO gives you an array

[2017-01-28 08:46] felixnielsen commented on #63
@tadinski you are able to do this using what I describe [here](https://github.com/space10-community/conversational-form/issues/62)

in `flowStepCallback``

[code]

[2017-01-28 08:46] #63 closed

[2017-02-04 09:30] xerosanyam commented on #41
I am facing the same problem. It appears like following:
![image](https://cloud.githubusercontent.com/assets/3167278/22617405/a47781cc-eaea-11e6-84c7-4da2b93e1b9e.png)

[2017-02-04 10:04] felixnielsen commented on #41
@xerosanyam are you adding the `cf-context` attribute on the element where you want to append conversational form?

[2017-02-04 10:33] xerosanyam commented on #41
I am doing it via `context: document.getElementById("formOuter")` but tried the `cf-context` also, still getting same result.

[2017-02-04 10:55] xerosanyam commented on #63
what will be es5 code for this ? thanks

[2017-02-04 11:12] xerosanyam commented on #13
Not sure how you can use Google sheet. But [mailzen](http://mailzen.io) & [formspree](http://formspree.io) are good alternatives for collecting the form data  on a static site. :smile:

[2017-02-05 07:54] felixnielsen commented on #63
[code]

[2017-02-05 08:05] felixnielsen commented on #41
@xerosanyam `cf-context`you did it like [this?](https://jsfiddle.net/xfufbwo8/)

[2017-02-05 09:17] xerosanyam commented on #41
yes

[2017-02-05 12:29] felixnielsen commented on #41
@xerosanyam ok, please supply more info for me to able to help you out.

[2017-02-06 22:50] Austin-Stephens commented on #13
I agree with @xerosanyam, Formspree is amazing, I am using this combo daily. But if you want to link form directly to Google Sheets you _can_ use this: [](https://github.com/dwyl/web-form-to-google-sheet)

[2017-02-10 14:20] allantorres commented on #18
Well, after a lot of tries, i did it!
The decision is running well! @LeGfrey !!!

[2017-02-10 14:30] allantorres opened #65 "formating the field!"
There is any way to format the field to avoid mistakes?
Like phone number : +55619999-9999
or email, dates?

thanks!

[2017-02-10 14:49] felixnielsen commented on #65
@allantorres use tag attribute standard: [pattern](https://github.com/space10-community/conversational-form#input-pattern-attribute) it takes a regular expression.

[2017-02-10 14:49] #65 closed

[2017-02-15 23:49] fotuzlab commented on #20
@felixnielsen I tried this approach following your example [here](https://jsfiddle.net/xfufbwo8/) and works well. But it keeps on showing the original form at the side. If I try to hide the form by CSS, it goes in infinite loop of submission.
Is there a way to use cf-context to display CoFo in limited area while removing the original form from display?

[2017-02-16 06:24] felixnielsen commented on #20
@fotuzlab sounds like you are able to hide the form as you want? But then it goes into an infinite loop on submission, can you clarify what is happening when you submit, are you catching the response manually through submitCallback?
My tests with submitting the form, manually or through form.submit works just fine.

[2017-02-16 06:40] fotuzlab commented on #20
@felixnielsen I have a submit callback for the form written in PHP. The conversational form works perfectly fine until the original form is hidden using CSS's `display:none;` property. Once hidden, when the user visits the page, the form keeps on submitting itself without any user input.

My problem statement is: I need a way to remove the original form from display while conversation forms are in

[2017-02-16 06:54] felixnielsen commented on #20
@fotuzlab do you have any input or select tags in your form? Sounds like Conversational Form tries to submit it selv immediately, which would indicate an empty form.

[2017-02-16 06:58] fotuzlab commented on #20
Yes. 2 textfields and a radio field.

[2017-02-16 07:00] felixnielsen commented on #20
@fotuzlab can I view this somewhere?

[2017-02-16 08:42] monitoth opened #67 "Datetime support"
Do you plan to support in the future a datetime answer? For example, when you ask for the "Date of birth", in the answer the user should use a datetimepicker control. (Like bootstraps datetimepicker)

[2017-02-16 11:10] felixnielsen commented on #67
@monitoth yes, this will be a part of the bigger rollout of version 1.0.0, stay tuned

[2017-02-16 11:15] felixnielsen opened #68 "Design: Give /examples a design make-over"
Give the examples a brush-up and a landing page

[2017-02-16 11:17] felixnielsen opened #69 "TensorFlow and Natural Language Processing"
Integrate optional [TensorFlow](https://www.tensorflow.org/) to automate user answers.

[2017-02-16 11:48] peimn commented on #67
http://felicegattuso.com/projects/datedropper/

http://felicegattuso.com/projects/timedropper/

These two awesome plugins can be integrated with CF

[2017-02-16 18:11] Austin-Stephens commented on #68
Sorda new to all this, but I'd love to help with this part. I was messing around with your CSS the other day: http://codepen.io/Auzy/pen/ygKmba. Let me know if there is a way I could get involved...and how exactly works best to do that.

[2017-02-21 02:12] scooter7 commented on #18
Hi. Is it possible to use logic so that, instead of using {previous-answer} in a way that only enables inputting the answer to the last question only, I could specify logic using the answer to any previous question that will end up being used in a series of follow-up questions?
For example, let's suppose that I am conducting a study of people who were admitted to Yale University but who chose to e

[2017-02-22 04:09] jamiecounsell commented on #63
I may not understand, but this doesn't seem to work. The timeout fires before the user input is accepted, so it feels like the user's input is being delayed, not the robot's response. Also, this only fires when the field is marked as required.

[2017-02-22 11:51] felixnielsen commented on #63
@jamiecounsell I understand, we will be releasing a minor release today/tmr, will see if I can add something that makes this easier to customise.
_As a reference, then we removed the "thinking" logic/delay we had in the beginning because feedback was that it slowed the form process down._

[2017-02-22 15:04] jamiecounsell commented on #63
Thanks for the quick response. If you don't get to it, I'll see if I can submit a PR this weekend.

[2017-02-22 17:09] nithyanantham opened #71 "Question - Backend Service Integration"
Thanks for bringing up new revolutionary web form. As part of some POC We are trying to integrate rocket.chat with conversational form or We want to control the bot flow based on backend services response maybe using NodeJS rest service or some other service.

Please let me know if there is any feature already exist or if there is any road map to implement such functionalities.

[2017-02-22 19:04] conixit opened #73 "please assist with the build from src"
can someone zip up the entire compiled source, I am trying to use one of the examples and the linked js and css files are nowhere: I'm assuming I have to compile them somehow- I tried to install gulp, bower and node- and failed- I would really like to try some of the advanced features like if "no" then respond x, if "yes" then respond y.

 <link type="text/css" rel="stylesheet" href="../build/cf/c

[2017-02-22 19:16] felixnielsen commented on #73
@conixit here you go: https://dl.dropboxusercontent.com/u/4512798/0.9.1-compiled.zip
This is the version which we will release tmr, please see documentation on [develop branch](https://github.com/space10-community/conversational-form/tree/develop)

[2017-02-22 19:16] #73 closed

[2017-02-22 20:19] conixit commented on #18
Can someone post a compiled version of all the js and css files necessary to run the example file examples/development.html?  All of the files I was able to get off GIT have .ts and .styl extensions, I'm assuming that the "install" using grunt unpacks those files into real .css and .js files.  Here are the directories that I don't have:
                ../build/cf/ui/control-elements/OptionButton.

[2017-02-23 17:55] allantorres opened #75 "A little scroll"
Does any one can help me with this little scroll when the chat hits the top?

http://201.30.147.89/bot/

[2017-02-23 17:57] allantorres commented on #69
how ?

[2017-02-23 18:03] nithyanantham commented on #69
Maybe backend service which will take user input, process it and reply back with response. That will be displayed with in milliseconds by this form

[2017-02-27 11:35] felixnielsen commented on #75
@allantorres you mean inline scroll?

[2017-02-27 11:37] felixnielsen commented on #71
@nithyanantham great you find interesting in Conversational Form!
If I understand correctly, then you want to be able to add a Webservice layer in-between questions and inject new tags (rendered from the server)?

[2017-02-27 13:20] nithyanantham commented on #71
Yes that's correct

[2017-02-27 13:22] #9 closed

[2017-02-27 14:00] felixnielsen commented on #71
@nithyanantham the current version does not support this "out of the box". It would be ok easy to implement. All the logic is there. It would be a combination between exposing a method to add tags at runtime, atm. tags are added initially.
If you want to give it a go yourself, then looking at how the "auto" tag [detection is done ](https://github.com/space10-community/conversational-form/blob/mast

[2017-03-01 09:00] dominatelj opened #80 "Inputs as radio Buttons are not appearing anymore"
The Inputs that appears as radio buttons in the Bot is not appearing anymore please if there is any suggestion let me know

[2017-03-01 09:12] felixnielsen commented on #80
hi @dominatelj can you please direct me to where you experience this.
When I run tests, then it is working as expected.

Two versions are in play:

<script type="text/javascript" src="https://conversational-form-091-0iznjsw.stackpathdns.com/conversational-form.min.js" crossorigin></script>

<script type="text/javascript" src="https://conversational-form-0iznjsw.stackpathdns.com/conversational-form

[2017-03-01 10:21] felixnielsen commented on #75
@allantorres please see version [0.9.1](https://github.com/space10-community/conversational-form/releases/tag/v0.9.1) readme is also updated with [0.9.1](https://github.com/space10-community/conversational-form#getting-started)

[2017-03-01 10:21] #75 closed

[2017-03-01 11:15] dominatelj commented on #80
I am using it on localhost for testing, included the JS and CSS files and everything is running, just the inputs of type radio is not appearing.
Can u provide me with updated JS and CSS files ?
since it's been more that two months i got the source code.
Thanks a lot

[2017-03-01 11:39] felixnielsen commented on #80
@dominatelj you can download 0.9.1 from the [release](https://github.com/space10-community/conversational-form/archive/v0.9.1.zip) use the files in /dist folder.
For build files then check [README](https://github.com/space10-community/conversational-form#build-the-source)
Or let me know and I can zip the files for you.

[2017-03-01 12:41] dominatelj commented on #80
Thank a lot 👍

[2017-03-01 13:27] #80 closed

[2017-03-05 16:12] felixnielsen opened #81 "Could wit.ai be integrated?"
[https://wit.ai/](https://wit.ai/) or similar libraries

[2017-03-05 16:33] rmaspero commented on #81
Would love this. A nice simple conversational UI that you could embed into your site using JS that uses the Wit.ai brains would be so cool.

[2017-03-06 12:45] MediacraftFR commented on #81
100% agree with that, wit.ai or custom API to control next question according to previous answer would be awesome

[2017-03-06 21:35] siliconkibou opened #82 "getFormData empty?"
Hi guys...great concept.  I'm doing a custom AJAX query with submitCallback but I can't seem to get the form data.

The form itself seems to not change (all values are default if I serialize the form), and window.ConversationalForm.getFormData() seems to be empty.

I'm sure I'm missing something really obvious, but I'm at a loss as to what.

Any thoughts?

Thanks,

-Paul

[2017-03-06 22:33] felixnielsen commented on #82
hey @siliconkibou , great you like it.
FormData is an elusive one, normally when values of a FormData is empty, it is because [name-attribute](https://www.w3schools.com/tags/att_input_name.asp) is missing from the tag.

See this working [example](https://jsbin.com/nuxecizogi/1/edit?html,js,output)

[2017-03-06 22:33] #82 closed

[2017-03-06 22:53] siliconkibou commented on #82
Thanks...I'm sure it's something obvious, but that's not it.  Everything has name attributes.

var formData = kvcfform.getFormData() returns undefined.

Here's the essence of my code:

var KvcfForm = new cf.ConversationalForm({
    formEl: document.getElementById('ftrpformnewcf'),
    context: document.getElementById('splashholder'),
    submitCallback: function() {

      var formData = KvcfForm.

[2017-03-06 23:12] felixnielsen commented on #82
@siliconkibou implementation looks fine.
Can you add your form markup?
And let me know which version you include.

[2017-03-08 14:33] eschaefer commented on #22
In the meantime you can point `conversation-form` to your own repo on GH and import that.

[code]

And include a properly formatted `package.json` in your GH repo

[2017-03-08 15:32] felixnielsen opened #83 "Label lookup, edge-case"
Add logic to look for the `for` attribute when meeting specific cases like:

[code]
Where `label` and `input` fields are stacked and not wrapped in an outer element, like shown [here](https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/How_to_structure_an_HTML_form#The_<fieldset>_and_<legend>_elements)

It seem to go against [standards](https://developer.mozilla.org/en-US/docs/Learn/HTML/For

[2017-03-08 15:36] felixnielsen commented on #60
closes w. 43526a3fbc35de48d880157552bcff91a4ffb144

[2017-03-08 15:36] #60 closed

[2017-03-08 15:37] felixnielsen commented on #58
Fixed w. 43526a3fbc35de48d880157552bcff91a4ffb144
Go get latest [release](https://github.com/space10-community/conversational-form/releases)

[2017-03-08 15:37] #58 closed

[2017-03-08 15:37] felixnielsen commented on #57
Fixed w. 43526a3fbc35de48d880157552bcff91a4ffb144
Go get latest [release](https://github.com/space10-community/conversational-form/releases)

[2017-03-08 15:37] #57 closed

[2017-03-08 15:37] felixnielsen commented on #71
@nithyanantham let me know if the above helped.

[2017-03-08 16:38] bduff9 commented on #83
Hi there, I appreciate your work very much and have been lurking watching its progress.  Just a quick question on this comment:
`This goes against standards, but it seem to be common practice.`

I had always understood standards with labels to be to either wrap the input with the label to set up an implicit association or to pass the `for` attribute when not nested to set up an explicit associatio

[2017-03-08 17:36] samail opened #84 "IE browser compatibility"
Hi,

Could you please let us know for which version of Internet Explorer this awesome plugin works ?
Looks like it's not for IE11 (win7 & win8), is this better with Edge ?

Thanks a lot
Best

[2017-03-08 17:37] felixnielsen commented on #83
hi @bduff9, I see my description was to vague (it has been updated), and could easily cause confession.. Conversational Form implements the lookup for the `for` attribute (which is most defiantly a standard), but it does not accommodate the scenario described above, where we have many input and label elements stacked in the same element.

[2017-03-08 17:50] bduff9 commented on #83
Ah, thank you very much for clarifying!  Just wanted to make sure I understood

[2017-03-09 16:02] felixnielsen commented on #84
hi @samail can you please try the latest push to master and update to [v0.9.1](https://github.com/space10-community/conversational-form/releases/tag/v0.9.1)
Tested (and fixed) it in win8 IE11.

[2017-03-09 16:04] samail commented on #84
Hi @felixnielsen,
Thx for the quick reply and the fix
I'll give a try and i let your know asap
Best

[2017-03-10 08:47] samail commented on #84
Hi @felixnielsen,
Seems to be working under win81 IE11
Thx ;)

[2017-03-10 09:07] #84 closed

[2017-03-10 09:21] fotuzlab opened #89 "cf-input-placehoder not working"
This is not working for me. Any clues?

I am using following js to enable CF on my form
`<script type="text/javascript" src="https://conversational-form-091-0iznjsw.stackpathdns.com/conversational-form.min.js" crossorigin></script>`

[2017-03-10 09:34] felixnielsen commented on #89
hi @fotuzlab do you have the `value` attribute set to something else than ""? `value` will overwrite the cf-input-placeholder

See working example [here](https://jsbin.com/wivebenuto/1/edit?html,js,output) that also is illustrates the value scenario.

[2017-03-10 10:17] fotuzlab commented on #89
Thanks @felixnielsen for the promt response and the example. Let me try it.

[2017-03-10 11:24] fotuzlab commented on #89
I checked that value attribute in my form is empty. Hence should not be an issue.
Here is the form markup https://jsbin.com/pojibuxisu/edit?html,js,output
I assume it has to do something with styling looking at the two user input fields in jsbin above.

[2017-03-10 11:45] felixnielsen commented on #89
@fotuzlab when I check out the jsbin `cf-input-placeholder` is working as expected.
see my slightly modified [version](https://jsbin.com/telipozoca/1/edit?html,js,output)
Can you clarify what is not working as expected?

[2017-03-10 11:57] fotuzlab commented on #89
I think the issue is not with the library but my implementation or the theme I am using.
I am trying to create a Drupal module for integration with CF https://github.com/fotuzlab/conversational-forms-drupal . Let me dig into what is going wrong.
I will follow up with my findings.

[2017-03-10 12:00] felixnielsen commented on #89
@fotuzlab ok, looking forward to hearing about your findings w. Drupal integration.

[2017-03-10 12:57] fotuzlab commented on #89
`cf-input-placeholder` works when script is added directly in the Drupal's template file. However, it is not working when added through [drupal_add_js](https://api.drupal.org/api/drupal/includes%21common.inc/function/drupal_add_js/7.x) function.
It's a drupal specific issue :|

Thanks @felixnielsen for help in debugging.

[2017-03-10 13:01] felixnielsen commented on #89
@fotuzlab good to know, please let me know if I can further help debug.

[2017-03-10 13:01] #89 closed

[2017-03-10 14:39] msaidtw commented on #18
The @LeGfrey solution seems to break - updating the CSS file it's pointing at to the latest version mostly fixes things, but still getting a handful of UI errors. Anybody up for updating it (I'm stuck)?

[2017-03-13 09:31] FanaHOVA commented on #22
@felixnielsen Need any help with this? Would be happy to help, but you'll still need to add the package to the npm repo

[2017-03-15 04:35] query-string opened #91 "Make it possible to disable console log output in production"
I think it would be nice to disable console log messages until this option is enabled explicitly.
Otherwise browser log looks too verbose and it is no way to get rid of unnecessary messages unless all console.log statements removed from the source code manually.
![image](https://cloud.githubusercontent.com/assets/160712/23933780/61d360f0-0973-11e7-8396-ddb34162c183.png)

[2017-03-15 06:47] felixnielsen commented on #91
@query-string yes! It is on it's way. Will be shipped with release this week.

[2017-03-15 14:24] Nonor2188 commented on #10
Hey there!
I'm building a WordPress plugin to use CF! I'll let you know when ready for testing :-)

[2017-03-15 15:18] danielfriis commented on #10
@Nonor2188 Super excited to hear that! Let me know if we can support :)

[2017-03-20 14:15] kalinchernev opened #93 "Can you publish to npm?"
Hi guys,
Thanks for your work on this project and providing it for free under MIT!
Do you have any plans of providing the package on npm?
Thanks!

[2017-03-20 21:32] #15 closed

[2017-03-20 21:32] #91 closed

[2017-03-20 21:56] #93 closed

[2017-03-20 21:56] felixnielsen commented on #93
@kalinchernev check [release v0.9.2](https://github.com/space10-community/conversational-form/releases/tag/v0.9.2)

[2017-03-20 21:57] felixnielsen commented on #22
@kalinchernev check [release v0.9.2](https://github.com/space10-community/conversational-form/releases/tag/v0.9.2)

[2017-03-20 21:57] #22 closed

[2017-03-20 22:11] kalinchernev commented on #93
Thanks @felixnielsen !

[2017-03-22 15:18] uffou commented on #81
+1

[2017-03-26 16:35] AfaanBilal opened #98 "Bug: Checkbox values set to "1" or "0"."
On selecting or unselecting checkboxes, CF sets the values to 1 or 0. This wouldn't be a problem with single checkboxes but when using multiple checkboxes with the same `name` field (eg `name=field1[]`), it becomes impossible to get which checkboxes were selected. Please fix!

[2017-03-26 17:44] felixnielsen commented on #98
hi @AfaanBilal hotfix pushed to v0.9.2 + cdn is updated as well. Let me know if hotfix is sufficient.

[2017-03-26 17:50] AfaanBilal commented on #98
Hey @felixnielsen It's working! Thanks a lot for the quick fix!

[2017-03-26 17:57] felixnielsen commented on #98
@AfaanBilal great, no problem!

[2017-03-26 17:57] #98 closed

[2017-03-31 08:18] felixnielsen opened #100 "Add input/output API"
API to listen for user input and react upon this input by hooking into autocomplete, suggestive etc. web-services and input data back into Conversational Form.

[2017-04-01 23:34] sull commented on #71
Would this essentially be dynamic forms on-the-fly based on responses and CF would adapt?

[2017-04-02 12:37] MadhuNandi opened #101 "upload image via text input."
Now a days most of the forms are asking to upload images. Would like to know, Is this option already included ?

[2017-04-03 08:15] arnaudpaul21 commented on #10
Hey there @danielfriis , @steveraffner , @poondq , @tadinski , @laxmin .

Just released first version of the Wordpress plugin here: https://github.com/arnaudpaul21/conversational-form-wordpress-plugin

Enjoy and feel free to feedback :-)

[2017-04-03 08:56] felixnielsen commented on #101
hi @MadhuNandi please see this [jsbin](https://jsbin.com/zewubedono/edit?html,js,output) for file upload. It is using `<input type="file" ..`

[2017-04-03 08:56] #101 closed

[2017-04-03 08:59] felixnielsen commented on #71
@sull yes! We are working on a formless Conversational Form as we speak. Will be shipped this week. @nithyanantham fyi

[2017-04-03 14:27] sull commented on #71
Very cool. Could you summarize the "formless" feature according to how it has been designed and developed? Look forward to checking it out.

[2017-04-04 18:00] c316 opened #102 "Syntax"
I don't understand this syntax.

[code]

Primarily I'm not familiar with this ```<ConversationalFormOptions>```

Can you point to some resource that explain what you mean here?

Thanks

[2017-04-05 16:37] felixnielsen commented on #102
@c316 it's a data type reference (to navigate the readme). See what the data type includes [here](https://github.com/space10-community/conversational-form#self-instantiate-with-vanilla-js)
This will be removed in next release as it, as you point out, confuses more that it benefits.

jQuery example: [/examples/jquery](https://github.com/space10-community/conversational-form/blob/master/examples/jqu

[2017-04-05 16:37] #102 closed

[2017-04-05 19:09] c316 commented on #102
Thanks

On Wed, Apr 5, 2017 at 11:37 AM, Felix Nielsen <notifications@github.com>
wrote:

--
Joshua Bechard
--
Learn to do right! Seek justice, encourage the oppressed.
Defend the cause of the fatherless,
plead the case of the widow.
Isaiah 1:17
--

[2017-04-08 11:50] felixnielsen commented on #71
@sull sure, formless is a feature that allow us to build the Conversational Form without an actual form element in the DOM.

So your input is instead a JSON object (which is 1:1 with html tag attributes):
[code]
This allow us to build a tool that can build a Conversational Form. Also, we will add logic that allows you to inject tags at "runtime", ex. communicating with a web-service that returns a

[2017-04-10 04:09] felixnielsen commented on #10
@arnaudpaul21 very nice! Please see latest PR merged into [develop](https://github.com/space10-community/conversational-form/tree/develop) it contains the formless feature, which could have interest for your Wordpress plugin. It's basically a way to build and instantiate Conversational Form without a `<form>` element, JSON only. See the [formless example](https://github.com/space10-community/conve

[2017-04-10 04:15] felixnielsen commented on #71
@sull @nithyanantham please see latest code on develop
[examples/formless.html](https://github.com/space10-community/conversational-form/blob/develop/examples/formless.html#L314) <- injects new tags at runtime

uses [JSON file](https://github.com/space10-community/conversational-form/blob/develop/examples/files/formless.json) to init Conversational Form without a form tag

[2017-04-10 15:07] sull commented on #71
interesting. i'll take a deeper look today.

[2017-04-13 22:17] sull opened #106 "Dynamic Ordering and Flow of Fields/Questions"
Has this been discussed at all? Essentially a way to control which question is asked next based on previous answers... jumps and paths a user can take.... Like how some services such as typeform can do.

[2017-04-14 01:36] sull commented on #106
Apologies, found related [discussion on work being done](https://github.com/space10-community/conversational-form/pull/42#issuecomment-293249590)

[2017-04-14 01:36] #106 closed

[2017-04-14 18:24] sull opened #107 "form displays briefly before overlay initiates"
I was adding a `display:none` to the form which worked but now when trying the conditional branch,  this fails due to inability to "focus". Removing the `display:none` form style resolves the issue but the form is displayed for a second before the CF UI overlays.

Thoughts?

[2017-04-14 20:25] sull commented on #107
seems to be ok when using build files as opposed to dist files.

[2017-04-14 20:40] sull commented on #71
@felixnielsen I am testing now. Actually using the conditional-flow branch.
I'm about to generate a custom dynamic json to build a form from a backend system I had previously setup to do this exact task. The initial test works, though has some lag after each user response (attached video).

[cf-formless-lag.mp4.zip](https://github.com/space10-community/conversational-form/files/922920/cf-formless-

[2017-04-14 22:18] sull commented on #106
[cf-jump](https://github.com/space10-community/conversational-form/pull/42#issuecomment-294245398) idea

[2017-04-14 22:20] sull commented on #18
see [cf-jump](https://github.com/space10-community/conversational-form/pull/42#issuecomment-294245398) idea

[2017-04-15 19:01] willwalker opened #108 "Update user image after gender choice"
I'm trying to change the user image according to the genre chosen. If a man is an image and a woman is another image. Can someone help me?

[2017-04-16 06:39] felixnielsen commented on #71
hi @sull - the “lag” is that not caused by your API calls? I see that dev.php is going from status “pending" to “200”, ex. from second 5 to 8 in your video, taking approx 2-3 seconds to do the API call to **dev.php**

[2017-04-16 06:56] felixnielsen commented on #108
hi @willwalker please see this [jsbin](https://jsbin.com/tohewanika/1/edit?html,js,output) it shows how to update a user-image from an uploaded image, you should not have to change much to accommodate your scenario.

[2017-04-16 06:56] #108 closed

[2017-04-16 08:59] willwalker commented on #108
I did it differently.

I looked at the plugin until I found where it takes the values. I added a condition and a variable to change the user's image like this:

`n.prototype.onClick = function(t) {
this.onChoose();
if(this.el.innerText.trim() == 'Masculino') {
$('.user thumb').css({ 'background-image' : 'url(images/boy.png)' });
CustomImageUser = 'images/boy.png';
}else if(this.el.innerText.trim()

[2017-04-17 03:38] tipcircle opened #109 "A few UI things"
Hello, I've been playing around with this for a couple days and it's brilliant, really great idea.

Just a few UI things from a user standpoint (my own at least.)

Don't show the user's bubble until they make a choice or type input.
Don't show the input bar unless the answer requires textual input.
Some sort of indication the data is being sent at the end.

If you take a look at https://azumbrunne

[2017-04-18 06:13] MediacraftFR opened #110 "Multiple lines by typing enter"
Hi,

Once again : Great work espacialy for the 0.9.3 pre release and the form less feature.

I saw few weeks ago that multilines feature was added but it's not obvious for our users to add new lines by typings shit + enter. I would like to type just enter when it's a multiline input to add line and of course to keep passing to new question by typing enter when it's a simple input.

In some case it

[2017-04-18 07:03] abhinav118 opened #111 "API call and redirect to cf-form with previous chat history"
Firstly @felixnielsen and team, Kudos on your effort and the overall product. 🙌👍

I am finding it hard to add an API redirect to that point in chat where we left off from the cf-form, based on a click event.

To give you an example we are trying to add Facebook login to cf-form , something like this [example/manual-start.html](https://github.com/space10-community/conversational-form/blob/master/ex

[2017-04-19 03:13] willwalker opened #112 "Remove auto focus"
I need to remove auto focus. Because on cell phones it is bad to read the text because every time the keyboard goes up. I want to remove auto focus every time the user responds. Can someone help me?

[2017-04-19 06:14] felixnielsen commented on #112
hi @willwalker you can apply `cf-prevent-autofocus` to your form tag, like so: `<form id="my-form-element" cf-form cf-prevent-autofocus>`

[2017-04-19 06:15] felixnielsen commented on #112
you also want to remove when the user jumps to the next question?

[2017-04-19 10:05] felixnielsen commented on #47
@dstollie you think this should only be based on the previous answer or should it apply to all previous answers?

ex.: "Hello {firstname}, people taller than {height}, seem to be taller.."

[2017-04-19 10:06] danielfriis commented on #47
I see this as a duplicate of the piping part of https://github.com/space10-community/conversational-form/issues/11

[2017-04-19 11:08] willwalker commented on #112
Exact!

[2017-04-19 12:53] danielfriis commented on #110
Hi @MediacraftFR,

Thanks for the comment and valid consideration. However, I would argue the the prevalent approach in chat-interfaces is for a shit-enter to equal new line. Just noticed that Facebook Messenger discontinued the ability to choose and only allows shit-enter for new lines.

[2017-04-19 13:07] MediacraftFR commented on #110
Hi @danielfriis ,

That's correct for messenger and you're right it's the better approach for a good chat experience.

But the problem is if a user want to say severals things he types a first sentence and type Enter (not shift+enter) the bot will continue to the next question without letting the user finish to answer completely to the previous question. I know the user can update by clicking on a

[2017-04-19 15:11] felixnielsen commented on #112
@willwalker and you tried `cf-prevent-autofocus`? Just had a look at the code-base and it does check for this at every flow update.

[2017-04-19 15:14] willwalker commented on #112
The form has this attribute and only prevents focus when it starts, but when I answer the question it selects the field again.

[2017-04-21 03:16] abhinav118 commented on #108
@willwalker please can you share a jsbin. I'm looking into the same issue

[2017-04-21 05:12] willwalker commented on #108
Sure you can download here: https://mega.nz/#!mMwy1a7B

[2017-04-22 09:41] felixnielsen commented on #112
@willwalker fix coming up

[2017-04-22 10:08] felixnielsen commented on #111
hi @abhinav118 thanks! :) I understand you correctly that the user opens a different window, for the facebook flow or do you redirect to user from cf, login and back to cf?

[2017-04-22 11:04] #83 closed

[2017-04-22 11:04] #112 closed

[2017-04-22 13:03] danielfriis commented on #110
Get you point 100%. But I will still argue that the prevalent UX is to have shift + enter do the new line. This is also the approach that Typeform takes. Also, if this wasn't the case, all inputs except multiline would have submit by enter, which I believe would be counterintuitive.

However, we will definitely keep you suggestion in mind and consider adding an option to do the reverse.

[2017-04-22 13:50] danielfriis commented on #112
Did this remove auto focus altogether? I think it's great for desktop that the user doesn't have to select the input field again everytime they've answered a question.

[2017-04-22 14:22] willwalker commented on #112
But on cell phone it's not cool and you can choose whether you want that autofocus or not. Just add the attribute or not.

[2017-04-22 14:24] danielfriis commented on #112
Yes got it. Nice fix 👍

[2017-04-22 14:42] MediacraftFR commented on #110
Ok i agree ...
However there is a "bug" to fix in your CF when you edit a multilines user answer.

Imagine you type multilines input with shift+enter like :
"qwer
ty

yolo"

when you edit this answer you will get on the input :
"qwertyyolo"

The lines breaks arent't kept :/

Can you fix this ?

Thanks

[2017-04-22 15:28] #107 closed

[2017-04-25 00:43] tipcircle opened #114 "Remove the input bar when text input is not required"
How would I remove the input bar when text input isn't required?

It doesn't seem to make sense to have it along with input buttons.

If I type in an answer instead of clicking a button and make a typo like "seveloper" instead of "developer", there is no correction mechanism and the only way to go back is to click the previous answer, which isn't very apparent.

Make sense?

Thanks

[2017-04-25 07:04] MediacraftFR commented on #114
Hi,

+1 I agree with you. I was looking for the same feature.

Regards

[2017-04-26 08:47] maringerov opened #115 "Adding a robot message based on user input (not a form question)"
Hey, I want to have a robot message appear in the middle of a flow of questions which is triggered based on a user's response to the previous question. Here is an example I tried to illustrate:

- Q: Are you a robot?
- A: No -> Proceed to next question
- A: Yes -> Robot (custom message): Please find a human -> then proceeds to next question in flow
- Next question...

I looked at the examples and

[2017-04-27 00:50] abhinav118 commented on #111
yeah.. we could do it may hacking and redirecting to new html with previous questions and answers..
Any easier method is much appreciated.

[2017-04-27 03:59] amaranter commented on #115
I was looking for that, I would also like to know how to work with conditional flows.

[2017-04-27 05:42] felixnielsen commented on #111
@abhinav118 jsbin and facebook API does not play nicely together, but this [example](https://jsbin.com/mahureloco/1/edit?html,js,output) should get you all the way in a none iframe solution. Let me know how it goes.

[2017-04-27 05:46] felixnielsen commented on #115
hi @maringerov as I read your question, then you would like for "A: Yes -> Robot (cus..." to show a message before continuing the flow.
So both `No` and `Yes` ends up at {Next question} (so no conditional flow), is that correctly understood?

Or should `No` go to {next question **A**} and `Yes` to {next question **B**}?

[2017-04-27 05:51] felixnielsen commented on #114
@tipcircle input buttons, you mean radio and check buttons? If yes, then how are you able to submit "seveloper"?

[2017-04-27 05:59] felixnielsen commented on #109
@tipcircle thanks for your feedback! Thoughts on your feedback.
1. We had logic before as you described, but it seemed to static as you only had the "thumbnail" showing before typing anything. So we need some kind of indication, we are up for suggestions.
2. This one as you mention in the other issue is related to filtering of input buttons, but I will implement some logic that removes input bar i

[2017-04-27 06:02] felixnielsen commented on #71
Closing, API integration is possible from [v0.9.3](https://github.com/space10-community/conversational-form/releases/tag/v0.9.3) and @sull the lag seems to be related to the dev.php call, let me know.

[2017-04-27 06:02] #71 closed

[2017-04-27 06:04] felixnielsen commented on #62
`cf-value-equal={other-input-id}`

[2017-04-27 14:13] tipcircle commented on #114
Yes, if there are radio/check buttons to tap for the input/answer, then maybe not allow text input along with them. Don't have 2 different ways to enter the same data.  Hope that make sense.

[2017-04-27 18:10] amaranter commented on #115
@felixnielsen; Your commit about [Conditional Flow](https://github.com/space10-community/conversational-form/pull/105) are available in master branch? Do you have any example using conditional?

[2017-04-27 18:33] tipcircle commented on #114
Here's an interesting implementation where they don't hide the input bar, but disable it when buttons are available. http://lucasbassetti.com.br/react-simple-chatbot/#/docs/form

[2017-04-28 07:54] maringerov commented on #115
Hi @felixnielsen yes, you understood correctly - there is no need for a conditional flow - no matter the answer the user is redirected to the next question. Only in one case (if 'yes') I would like to add a cutom robot message before the question is loaded.

[2017-04-28 08:17] maringerov commented on #115
Hi @amaranter, there is an example here https://github.com/space10-community/conversational-form/wiki/Conditional-Flow

[2017-04-28 09:44] ok-MicroTech opened #116 "Enable HTML in questions"
Hello

Is it possible to use HTML in the questions or at least allow styling (bold, underline etc.)

[2017-04-28 13:58] PieterO commented on #69
An interesting one to have a look at is the use of [NLP Compromise](https://github.com/nlp-compromise/compromise) which might be enough to do basic enough NLP to extract entities and match words inside sentences.

It certainly won't be as good as a full TF/NLP but is much more lightweight and runs in browser.

[2017-04-28 18:00] sull commented on #71
Yeah probably, sorry for assuming it was the CF code.

[2017-04-29 01:13] tipcircle commented on #116
There is this example in click-edit-previous-answer.html

`<input type="text" cf-questions="Input field, once you submitted your answer, you can click your input to <strong>change</strong> it" name="text" value="">`

[2017-04-30 10:27] MediacraftFR commented on #110
Hello conversational form team :)

Have you reproduced my issue ?

Regards

[2017-05-05 12:43] rimx opened #117 "Conditional Flow : does it work in formless version?"
Hi,
I was just wondering if the conditional workflow works in formless version too?
I have tried the following and looks like the condition was not applied..
[code]
anyone tried this before?

[2017-05-07 21:13] felixnielsen commented on #117
@rimx not yet, conditional will be rolled out this week. We encountered a small issue with it when going back to edit previous answers. But to answer your question, then, Yes, conditional and formless will work together.

[2017-05-08 04:49] felixnielsen commented on #69
@PieterO love that library!
In the ideal world one would have a library that would allow for
`nlp().input("name").sentence() = "What is your name?";`

We are playing with the idea of letting Conversational Form apply that kind of logic. Basically making a public database with inputs and cf-questions, to find a pattern that can be used to setup a form without any configuration.

[2017-05-08 08:53] danielfriis commented on #110
@felixnielsen can you take a look?

[2017-05-11 20:33] AfaanBilal commented on #84
Hi,
On Windows 10, IE 11, the chat area doesn't scroll so the input box as well as the option inputs are inaccessible.
Any fix?
Thanks!

[2017-05-12 02:46] FranckSCTV opened #118 "Chaining questions from a single input tag?"
Hi,
I see that you can shuffle between several questions by using the pipe separator but I would also like to split questions into several chunks so that one question can use several bubbles. Is that possible? This would increase readability for long questions and make the whole experience a little bit more human-like.
Thanks in advance!

[2017-05-12 05:18] AfaanBilal opened #119 "Weird IE behaviour"
Hi,

On Windows 10, IE 11, the chat area doesn't scroll so the input box as well as the option inputs are hidden after the first two questions.

Update: The input boxes and the options do show up (the upper half of them anyway) but after a wait time of about 45 seconds!

Any fix?
Thanks!

[2017-05-12 06:02] felixnielsen commented on #118
@FranckSCTV I like this idea!
Maybe **&&** could work for this?

`cf-questions="Hello there&&Please choose an option|Hello&&Those choices"`

Would result in two robot speech bubbles.

What do you think?

[2017-05-12 06:05] FranckSCTV commented on #118
@felixnielsen , GREAT, this is exactly what I had in mind :)

[2017-05-12 06:08] felixnielsen commented on #116
@ok-MicroTech jsbin https://jsbin.com/namobububu/1/edit?html,js,output showing tags and how you can apply your own styling.

[2017-05-12 06:08] #116 closed

[2017-05-12 06:16] felixnielsen commented on #115
@maringerov i this what you are after? https://jsbin.com/yihujuneha/edit?html,js,output

[2017-05-12 06:24] felixnielsen commented on #111
@abhinav118 if above code-example did not work for you, then you are also able to setup the facebook callback url to contain a querystring that you can read and exclude the field in the form when the user returns, all in all it will require some custom code (client or server).

[2017-05-12 06:24] #111 closed

[2017-05-12 07:42] felixnielsen commented on #119
@AfaanBilal flex-box and IE11, especially using flex-end, will see if I cannot make a hack to make IE11 align a bit better.

Regarding your wait time, then I just did a test with 300 input items here, https://jsbin.com/xumubariju/1/edit?html,output it's running instant for me. Can you please elaborate on your setup and what you are trying to archive?

[2017-05-12 15:58] AfaanBilal commented on #119
Hi @felixnielsen
I tried your form and I'm facing the same issue again. Please see the attached screenshot. Notice how there is no input box.
![ie](https://cloud.githubusercontent.com/assets/1507671/26006426/f2d2e346-3759-11e7-9c45-2379ed78d937.jpg)

[2017-05-15 00:13] tipcircle opened #122 "Form inputs remain on page"
Can anyone tell me what I might be doing wrong here?

I am getting the conversational form, but the regular form elements are still on the page behind the cf form.

This is in a Wordpress site.

I'm calling the script in the head like this:
`<script type="text/javascript" src="https://cf-4053.kxcdn.com/conversational-form/0.9.4/conversational-form.min.js" crossorigin></script>`

Here is the form c

[2017-05-15 06:22] felixnielsen commented on #122
hi @tipcircle you need to define the context element when instantiating Conversational Form. the Context element allow you to control where CF will be injected and how it will look (like placing it on top of your <form>)

[2017-05-15 11:27] felixnielsen commented on #117
@rimx please have a look at latest release, conditional flow and formless are now under the latest release tag [0.9.4](https://github.com/space10-community/conversational-form/tree/v0.9.4)

[2017-05-15 11:27] #117 closed

[2017-05-15 12:17] tipcircle commented on #122
Hi @felixnielsen I think I tried that before so I tried again like this

`<script>
	(function(){
		var conversationalForm = new cf.ConversationalForm({
			formEl: document.getElementById("survey-bot"),
                       context: document.getElementById("cf-context"),
		});
	})();
</script>`

And:
`<div id="cf-context" role="cf-context" cf-context></div>`

But I'm still seeing the same results

[2017-05-15 12:39] felixnielsen commented on #122
@tipcircle CF will not replace your old form. You need to hide/remove that your self.

[2017-05-15 13:07] tipcircle commented on #122
Ahhh, thank you.

[2017-05-15 13:07] #122 closed

[2017-05-15 13:43] rimx commented on #119
@AfaanBilal,
i was facing the same issue in IE11(WIN7) and found out IE can't handle the
[code]
If you set the height to a fixed height i.e. 300px the scrollbar and the input box stays at the screen. Please give it a try and see if it works for you. If you got any better workaround please share that as well.

[2017-05-15 14:11] AfaanBilal commented on #119
Hi @rimx ,
The fix worked for me (not perfect but pretty well).
Thanks a lot for this!

[2017-05-16 08:29] rimx opened #123 "Windows 7 Safari 5.1 wont render the conversational form"
conversational form (latest version) won't render in safari (latest version - win7). Looking at the console, the exact issue is :
`TypeError: 'undefined' is not an object (evaluating 'attr.name.indexOf')`

Looking at =>
[line 2034](https://github.com/space10-community/conversational-form/blob/master/dist/conversational-form.js) , I see we are trying to read the domElements attributes and for some

[2017-05-16 08:40] felixnielsen commented on #123
hi @rimx just ran through conditional flow in safari here https://space10-community.github.io/conversational-form-docs/conditional-flow.html and it works fine.
Can you let me know details of your use-case and cf setup?

[2017-05-16 08:47] rimx commented on #117
@felixnielsen - thank you very much for the update. I have just tested the conditional flow and its working perfect (y).

[2017-05-16 08:49] aeroxy opened #124 "Newer version of conversational-form lost support for older android (4.x) and ios (9.x) devices"
Will not render, showing an empty page.

[2017-05-16 09:08] felixnielsen commented on #18
Please see latest [release](https://github.com/space10-community/conversational-form/releases/tag/v0.9.4) and [Conditional Flow example](https://space10-community.github.io/conversational-form-docs/conditional-flow.html)

And [Wiki](https://github.com/space10-community/conversational-form/wiki/Conditional-Flow) on conditional flow feature

@scooter7 please see [value piping](https://space10-commun

[2017-05-16 09:08] #18 closed

[2017-05-16 09:11] felixnielsen commented on #47
@dstollie please see latest [release](https://github.com/space10-community/conversational-form/releases/tag/v0.9.4) and example [value-piping](https://space10-community.github.io/conversational-form-docs/value-piping.html)

[2017-05-16 09:11] #47 closed

[2017-05-16 09:12] felixnielsen commented on #11
Please see latest [release](https://github.com/space10-community/conversational-form/releases/tag/v0.9.4) with Conditional Flow and example [value-piping](https://space10-community.github.io/conversational-form-docs/conditional-flow.html)

[2017-05-16 09:12] #11 closed

[2017-05-16 17:29] rimx commented on #123
Hi @felixnielsen - yes Im on Win7 safari 5.1*. I have tried your link and can see the same issue. I am attaching a screenshot.
![safari](https://cloud.githubusercontent.com/assets/413091/26119593/062b2d7e-3a6e-11e7-89fd-9dae89821fa0.jpg)

[2017-05-16 18:42] felixnielsen commented on #123
@rimx Win 7 Safari 5.1 what is the use percentage of that? Seems it is from 2010-2011

[2017-05-16 21:38] felixnielsen commented on #115
@amaranter @maringerov maybe conditional flow can help as well, latest [release](https://github.com/space10-community/conversational-form/releases/tag/v0.9.4) see this [example](https://space10-community.github.io/conversational-form-docs/conditional-flow.html)

[2017-05-16 21:38] #115 closed

[2017-05-16 21:41] felixnielsen commented on #100
See [formless](https://space10-community.github.io/conversational-form-docs/formless.html) example on how this could be done.

[2017-05-16 21:41] #100 closed

[2017-05-16 22:06] rimx commented on #123
@felixnielsen ..you are right. probably the browser share is not that huge...but if anyone is using safari in windows that's probably the latest version they got.
Unfortunately, when it comes to corps and gov. they are not always up to date:(

[2017-05-17 06:43] felixnielsen commented on #123
@rimx if anyone should be up2date then it should be corps and gov, such a problematic tendency.
I will check it, just to make sure it is not small "feature" that's making it break, will let you know if any improvements. Closing this for now.

[2017-05-17 06:43] #123 closed

[2017-05-17 17:48] scooter7 commented on #18
Thanks!

*James Vineburgh, Jr., PhD* | 319-899-6620
[image: LinkedIn] <http://www.linkedin.com/in/scootervineburgh>

On Tue, May 16, 2017 at 3:08 AM, Felix Nielsen <notifications@github.com>
wrote:

[2017-05-18 09:52] danielfriis commented on #109
1. Agree. Up for suggestions :)
2. It's important that a user is able to complete a CF form without having to remove your hands from the keyboard. Could be optional though.
3. We could look at more obvious indicators. Up for suggestions.

[2017-05-18 09:55] #68 closed

[2017-05-18 13:25] tipcircle commented on #109
1: I guess I see this like FB Messenger bots. No bubble or user thumb until user sends a message. There are either answer buttons or text input, when the user sends, the bubble and thumb show. I think it depends on what the user is used to and most users have FB messenger and use it.

2: Optional would be cool.

3: Maybe a typing indicator then a "finished" or "thank you" message?

Again, this is

[2017-05-22 12:17] rimx opened #125 "cf-input-button wont show up if cf-error is thrown"
How to reproduce:
1. if an input field is required, try submitting is by pressing enter/clicking on the button (up arrow )
2. cf-error message would show up, adding class loading to cf-input-button, which actually hides the button
3. wait a while or delete the error message - the input button won't show up anymore

at desktops, it's not an issue but for mobile devices..user ends up with no option

[2017-05-22 12:24] rimx commented on #125
@felixnielsen - I have solved the issue by removing the loading class from input button:
[code]
If it's the right fix..would be great if you could add it to next release.

[2017-05-22 15:18] cfvlxtrd opened #126 "Picture in questions"
Can I add a picture in a question?

[2017-05-23 01:17] tipcircle commented on #126
Check out image-answers.html in examples.

[2017-05-23 01:22] tipcircle commented on #109
Another thing I wonder about is why not start the conversation at the top of the form container?

[2017-05-23 05:14] felixnielsen commented on #109
@tipcircle use [`cf-context`](https://github.com/space10-community/conversational-form#optional-attributes) for the form element if you wan't to append it into the form element.

[2017-05-23 12:50] tipcircle commented on #109
Right, I mean have the "bot" opening message start at the top of whatever container it's in. Probably just a css thing?

[2017-05-24 08:46] Remi-Leclercq-Blondel opened #128 "Overwriting style"
Hi, i'm trying to overwrite the style in /dist/styles but when I reload the page, the style is still the same.
There is anything to change ?
Thanks !

[2017-05-24 09:41] Remi-Leclercq-Blondel commented on #128
I found a solution.

[2017-05-24 13:56] felixnielsen commented on #128
great @Remi-Leclercq-Blondel, let me know if I can help.

[2017-05-24 13:56] #128 closed

[2017-05-24 13:57] felixnielsen commented on #126
@cfvlxtrd as @tipcircle mentioned, the file [here](https://github.com/space10-community/conversational-form/blob/master/docs/image-answers.html) shows how to use images.

[2017-05-24 13:57] #126 closed

[2017-05-24 20:56] #125 closed

[2017-05-24 21:00] felixnielsen commented on #125
@rimx great find, fix is pushed to latest master + v.0.9.4 release. I will also push it cdn tmr.

[2017-05-25 06:23] felixnielsen commented on #110
@MediacraftFR @danielfriis I had a look at this, and input tag does not natively support multiline, this is the core problem. See [example](https://jsbin.com/binohudapo/edit?html,js,output) first element is a <textarea, here you can add multi lines, submit and re-edit multilines, but this is not the case with the second field which is a <input field.

From my side the issue seem to be that <input

[2017-05-26 17:02] AfaanBilal opened #130 "Numeric Keypad?"
Hi,

Can we have the numeric keypad pop-up on mobile phones when the input type is specified as "number"?

Thanks!

[2017-05-28 13:35] #130 closed

[2017-05-28 13:40] #110 closed

[2017-05-28 13:41] felixnielsen commented on #110
should prevent multiline when reference tag is of type `input`

[2017-05-29 12:00] cfvlxtrd opened #131 "In Safari 8.0.8 it doesn't work"
In safari 8.0.8 the conversational form doesn't work.

It return "TypeError: undefined is not an object (evaluating 'n.name.indexOf')"

[2017-05-29 16:51] Shauneoo opened #132 "Compatibility with React Native"
Hi All, is there any plans to adapt this for an React Native implementation?

[2017-05-29 17:03] JonathanWbn opened #133 "Usage with react"
I am trying to implement this package in my react app. However I haven't really found a way of how to do this, since working with react and the DOM is always a little tricky for me.

Could someone maybe give an idea or maybe even add documentation on how to implement the form in react? And do I need to add jQuery?

I'm also happy to write the react documentation myself, once I got the hang of it.

[2017-05-29 18:29] TLevesque commented on #133
A basic example of implementation with react will be really great!

[2017-05-30 06:41] felixnielsen commented on #133
@JonathanWbn @TLevesque sure thing, I will add this tomorrow.

[2017-05-30 07:39] maringerov commented on #115
Thanks @felixnielsen the JS Bin is exactly the behaviour I was trying to get :) +1

[2017-05-30 14:35] MediacraftFR opened #134 "Maxsteps not update after addtags on formless feature"
Hello,

We tried formless feature and we noticed that the maxsteps variable is not updated after addtags method. So if we start the conversation with 1 tag the submit callback function is fired after we add a tag on step callback and the conversion stop.

We have found a trick, we set the maxsteps to 1000 just after the startconversation but it's not very clean.

Regards

[2017-05-30 17:09] #134 closed

[2017-05-30 17:09] felixnielsen commented on #134
@MediacraftFR thanks for the report, i've pushed a fix to master

[2017-05-30 17:14] felixnielsen commented on #132
@Shauneoo let me look into what it takes to make it compatible to React Native. Will get back asap

[2017-05-30 20:41] Shauneoo commented on #132
@felixnielsen cheers for taking the time to look into that!

[2017-05-31 11:36] WeTurkstra opened #135 "Is it possible to show input after radiobutton choice"
Is it possible to show a input immediately after a user has selected a radiobutton option?

Example:
Which color do you like?
 - red
 - green
 - blue
 - else: [input]

This would be really nice

Edit: Its not needed to show the input in the radiobutton option.
Just when the option is choosen to immediately jump to a input field.

[2017-06-03 07:46] AfaanBilal opened #137 "Conditional-Flow Multiple OR'd conditions?"
Hi,

Can we have multiple conditions but the logic OR instead of AND?
[code]
The above example question will only be shown when BOTH the conditions:
- cfc-hello="world" and
- cfc-world="hello"
are met.

Is there a way to make it so that even if only one of the multiple conditions is met, the question is still shown?

Thanks!

[2017-06-03 15:34] AfaanBilal commented on #135
Hi @WeTurkstra

I'm not one of the developers of CF but I think that you can achieve the required effect by using conditional flow.

For example, if your radio options are:
[code]

Then, you could have your input field as:
[code]

The above input box would only show if the "other" radio button was selected by the user.

Hope it helps!

[2017-06-04 11:47] devingray opened #138 "How to contain the form inside a div?"
I have a form that I have taken from an example and want to have it display inside of a div element.

I am using bootsrap. So I have an element that looks like this

[code]

Which will display like this.

<img width="830" alt="Basic Element" src="https://cloud.githubusercontent.com/assets/11573528/26761212/85025e9e-492b-11e7-81fa-e03ecf193c14.png">

So now I add my form inside the element like so.

[2017-06-04 13:57] felixnielsen commented on #138
hi @devingray as per design, when you init Conversational Form manually as you do, then you have to define a context. See the correct format [here](https://github.com/space10-community/conversational-form#full-list-of-initialise-parameters-es6typescript-syntax)

[2017-06-04 13:57] #138 closed

[2017-06-04 14:06] felixnielsen commented on #135
thanks @AfaanBilal that could most defiantly work. @WeTurkstra the alternative to @AfaanBilal's proposal is to build a new ControlElements UI, so for simplicity then the [conditional flow](https://github.com/space10-community/conversational-form/wiki/Conditional-Flow) should get you far.

[2017-06-04 14:06] #135 closed

[2017-06-04 19:39] devingray commented on #138
thank you, silly mistake for not reading

[2017-06-07 02:18] martinyung commented on #133
I am having trouble implementing it in my react app too. A documentation on this will be greatly appreciated.

[2017-06-07 06:40] felixnielsen commented on #137
@AfaanBilal would this work: `cf-conditional-cfc-hello="||world"` here the conditional would go through if "no value" and value "world". I can add it tomorrow.

[2017-06-07 12:45] AfaanBilal commented on #137
@felixnielsen Thanks for responding!
Wouldn't this go through if both `cfc-hello` and `cfc-world` are left blank?
I need at least one of them to have the required value.

[2017-06-07 14:39] Shauneoo commented on #132
Hi @felixnielsen, did you get a chance to scoping this?

[2017-06-08 10:15] torresf commented on #34
Hi, I have the same problem using formless. In the DOM I don't have any <form> element as my form is instantiate by the line `document.getElementById("cf-context").appendChild(conversationalForm.el);` How and where should I set the attribute `cf-prevent-autofocus` ?

[2017-06-08 10:21] felixnielsen commented on #132
hi @Shauneoo, I just had a look at it.
I have no hands-on experience with React Native, but from what I can read, then it requires of the external Library (like Conversational Form) to align with the require load pattern? I have an example here locally that enables the require load pattern. I can push this to develop for you to try. Also the way Conversational Form is rendered, then from what I ca

[2017-06-08 10:31] Shauneoo commented on #132
@felixnielsen thanks for looking into that! Yes, would you mind pushing that to the develop branch and I'll see what I can do.

[2017-06-08 11:41] #133 closed

[2017-06-08 11:41] felixnielsen commented on #133
@JonathanWbn @TLevesque @martinyung [check ](https://github.com/space10-community/conversational-form/commit/d55564d1317b7bcb19db1aab6113b7869c3f195a)

[2017-06-08 12:36] felixnielsen commented on #34
@torresf i've added an optional attribute `preventAutoFocus` (boolean) to the constructor options. Check develop branch.

[2017-06-08 12:37] felixnielsen commented on #132
@Shauneoo great! I've just pushed latest to develop branch

[2017-06-08 12:47] danielfriis commented on #137
@AfaanBilal Interesting case. Do you have any suggestions for how you'd like a solution to work?

[2017-06-09 06:29] AfaanBilal commented on #137
@danielfriis Maybe something like this could be done:
[code]
The `cf-or-conditional` could be evaluated in the same way as the existing `cf-conditional` except that multiple `cf-or-conditional` should be joined with an OR `||` instead of an AND `&&`.

Would that be possible?

Thanks!

[2017-06-11 16:17] EtgolWalkor opened #139 "Select tags don't render children using addTags in formless mode"
I tested formless and found that using addTags that select tags fail to render child options.

Example JSON:

	var tags = [
		{
			"tag": "select",
			"name": "country",
			"cf-questions": "Test question",
			"cf-input-placeholder": "Some copy",
			"multiple": false,
			"children":[
				{
					"tag": "option",
					"cf-label": "USA",
					"value": "usa"
				},
				{
					"tag": "option",
					"cf-

[2017-06-11 22:00] EtgolWalkor opened #140 "Editing behaves differently in formless than in non formless"
Clicking on a previous answer in formless leaves the robot tags after the tag being edited in place. This is not the case in non formless.

[2017-06-13 16:35] sidrabhatti opened #141 "Multiple Robot responses and skipping questions"
Is it possible to have the robot say/ask multiple things before the user responds? Is it it also possible to insert images into the form?

[2017-06-15 10:22] jenny299 opened #142 "Google recaptcha support"
Do you plan to support for google re-captcha questions in the future? Ex: After users answer all questions, google re-captcha will be showed up and wait users to complete. After users done re-captcha it will do something...

[2017-06-16 07:51] danieltome commented on #124
Re: Safari the issue is #131 - I assume it's the same issue on android devices.

[2017-06-18 00:31] def-mycroft opened #143 "Missing File?"
I'm trying to run some of the examples in the docs folder, and I keep running into an issue with the file at this url:

[code]

The min.js file is there, and the min.js file tries to reference the min.css file at the above url and throws a ERR_FILE_NOT_FOUND.

[2017-06-18 19:08] def-mycroft commented on #114
+1 - it confuses users when there is a text box but there are a set of choices.

[2017-06-20 09:27] #143 closed

[2017-06-20 09:27] felixnielsen commented on #143
hi @def-mycroft this issue seems to be related to if you run examples straight from your file system.
I would recommend you to run it on a local server, like MAMP etc.

I have also updated the protocol target on master branch, but this fix will not be pushed to cdn before next version.

[2017-06-20 09:46] felixnielsen commented on #142
hi @jenny299 you can implement RECAPTCHA now, please see this [jsbin](https://jsbin.com/tapixiqoci/edit?html,js,output). Let me know if any questions.

[2017-06-20 09:46] #142 closed

[2017-06-20 09:47] felixnielsen commented on #132
hi @Shauneoo let me know if you had progress.

[2017-06-20 09:53] felixnielsen commented on #109
@tipcircle correct, you can align elements to top by setting:
`.. .conversational-form-inner{
    justify-content: flex-start;
}
`

[2017-06-20 09:56] felixnielsen commented on #141
@sidrabhatti please see [manuel-start example](https://space10-community.github.io/conversational-form/manual-start.html) and [image example](https://space10-community.github.io/conversational-form/image-answers.html)
Let me know if they meet your needs.

[2017-06-20 09:56] #141 closed

[2017-06-20 11:04] #139 closed

[2017-06-20 12:14] felixnielsen commented on #140
hi @EtgolWalkor this behaviour is for conditional-flow. Are you sure that you don't have any conditions active in your form?

[2017-06-20 15:47] EtgolWalkor commented on #140
Thanks for the follow up. Why would this behave differently for conditional-flow vs. not? And if I wanted conditional-flow to act the same as non conditional, how would go about that?

[2017-06-20 15:52] felixnielsen commented on #140
@EtgolWalkor reason for the different edit-behaviour, is that when you are editing a tag that is part of a conditional flow, then you are making changes to the conditions of already filled out tags, therefore it resets to the tag you choose to edit. Do you have a specific scenario at hand where this is counter-intuitive?

[2017-06-21 06:52] EtgolWalkor commented on #140
Sorry my last reply was back to front. How it works in conditional flow is logical. How it works without conditional flow is not. As a user I expect the form to reset to the point clicked, regardless of implementation type.

[2017-06-26 20:47] ismk opened #144 "Disable Editing Previous Answers"
Hello!
Is there any way we could disable editing previous answers ?

[2017-06-27 06:29] felixnielsen commented on #144
hi @ismk you can add a styling rule from your side and overwrite standard behaviour:

[code]

[2017-06-27 06:29] #144 closed

[2017-06-27 10:13] EtgolWalkor commented on #118
+1 for this. Any chance of moving it up the queue?

[2017-06-27 15:59] ismk commented on #144
Awesome! Thank you!

[2017-06-29 09:50] arete99 opened #145 "Why is cf-validation not activated by a radio input?"
I use cf-validation to get the value entered by the user and to check that the text value fits. Yet the function is not called by the cf-validation in a input type="radio".  How could I get the option checked by the user in a radio input?

Thank you in advance for your answer

[2017-06-29 10:36] arete99 commented on #145
window.ConversationalForm.getFormData(true); solved my problem

[2017-06-29 10:37] #145 closed

[2017-06-30 20:02] alsuga opened #146 "Error on import for /requirejs/amd plugin"
Unable to resolve some modules:

  "conversationalform" in
/opt/app/node_modules/conversational-form/dist/conversational-form.js
(web.browser)

The require for requirejs and amd plugin search for conversationalform instead of conversational-form
[here](https://github.com/space10-community/conversational-form/blob/master/src/scripts/cf/ConversationalForm.plugin.js#L30) and [here](https://github.com

[2017-07-03 15:54] bellamystudio commented on #118
+1 for this as well. Multiple bot speech bubbles would be great for conversational flow

[2017-07-03 17:15] bellamystudio opened #148 "Limiting select options"
Hi - if I want to limit the number of options in a multi select field, should I observe the select element (like I was validating a normal form) or is there another way I should do this using cf- tags? Essentially I want the visitor to be able to select a maximum of two options on a question, and for the response to be sent on the second selection (like they'd hit return). The conversational form

[2017-07-03 19:15] felixnielsen commented on #148
hi @bellamystudio there is no direct API for this behaviour, but using the Conversational Form [Event system](https://github.com/space10-community/conversational-form/wiki/Events) with a bit of manual work and you can get it to work as you describe, see this [jsbin](https://jsbin.com/cotedejoha/edit?html,js,output)

[2017-07-04 09:59] Shauneoo commented on #132
Hi @felixnielsen, sadly due to time constraints I didn't have time to port this over. I'll let you know if I can do this further down the road. Thanks for your help!

[2017-07-04 15:13] bellamystudio commented on #148
Fantastic! Thank you @felixnielsen 👍  I've noticed that this approach removes one-way data binding - is there an option in the conversationalForm function that I should enable?

[2017-07-06 10:32] alok108 commented on #107
I added opacity: 0; to the form instead. This seems to be a better solution.

[2017-07-06 10:49] felixnielsen commented on #148
@bellamystudio is that with {previous-answer} or actual element ID you experience this?

[2017-07-06 10:52] felixnielsen commented on #146
Fixed with [PR](https://github.com/space10-community/conversational-form/commit/12ca38264b985cd9e1ba400d3a57232b0b7fbc23)

[2017-07-06 10:52] #146 closed

[2017-07-06 10:54] bellamystudio commented on #148
{previous-answer} works fine, so I've adopted that instead. I had been referring to input names of previous answers in {} tags to display as part of the bot responses questions, but it stopped working when I added the multi-select code and I couldn't figure out why it would affect that functionality.

eg I had an input called 'like_reading', which I would then refer to in a cf-question="{like_read

[2017-07-06 11:08] felixnielsen commented on #148
@bellamystudio thx for the outline, will investigate.

[2017-07-06 11:42] danielfriis commented on #118
:+1

[2017-07-07 15:06] #118 closed

[2017-07-08 13:49] #124 closed

[2017-07-08 14:13] felixnielsen commented on #131
https://github.com/space10-community/conversational-form/commit/c2bdb74b158f3e55477c665c1121307fa0c1c746 fixes this

[2017-07-08 14:13] #131 closed

[2017-07-10 19:15] ccwdude opened #149 "Multiple bot responses without user response."
Is there a way for the bot to have multiple responses before requiring a user input when using json?

[2017-07-11 06:00] felixnielsen commented on #149
hi @ccwdude you mean something like [this](https://jsbin.com/sasulesetu/1) where we prevent auto start and use a static json to init the Conversation.

[2017-07-11 16:02] ccwdude commented on #149
@felixnielsen Id like to be able to go from my bot asking a user a question and then the bot being able to have multiple responses without user inputs. Then I will be asking questions again after a few messages.

[2017-07-13 12:00] NathAston commented on #149
I'm trying to do something similar. I would like the bot to greet the user on the 1st line, then proceed to asking a question.

Example

Bot - Text 1: Hello (No response required)
Bot - Text 2:  How are you today? (Response Required)

[2017-07-13 16:30] felixnielsen opened #150 "Google Forms integration"
Add a layer that allows for Conversational Form to work with [Google Forms](https://www.google.com/forms/about/)
[Google Forms API](https://developers.google.com/apps-script/reference/forms/) or any custom form builder.

[2017-07-14 10:13] felixnielsen commented on #7
See [release](https://github.com/space10-community/conversational-form/releases/tag/v0.9.5)

[2017-07-14 10:13] #7 closed

[2017-07-14 10:17] felixnielsen commented on #149
@ccwdude please highlight the flow, then I can try and mimic it in a jsbin.
@NathAston you can use the double ampersand (&&) in cf-questions. Please see latest [commit](https://github.com/space10-community/conversational-form/commit/08fa3574a817972ddff06e9e4ed5c3bf5971df7d) to develop branch, this will be released next week.

[2017-07-18 13:23] IvanBashkirov opened #151 "Importing conversational-form with npm."
Hello,

When I `npm install` the module and `import cf from 'conversational-form'` I get an error:

Module not found: Can't resolve 'conversationalform' in '/Users/user/Desktop/app_name/node_modules/conversational-form/dist'

It seems like it's coming from this line in the source
`define(["conversationalform"], function(conversationalform)`
where `conversationalform` should be `conversational-form

[2017-07-18 15:06] felixnielsen commented on #151
@IvanBashkirov I did not notice that the current package was not updated on NPM, just published a fix for NPM.

[2017-07-18 15:06] #151 closed

[2017-07-18 15:21] IvanBashkirov commented on #151
Thanks a lot, keep up the good work.

[2017-07-18 16:04] IvanBashkirov commented on #151
The name resolves but still having trouble using it. Could you point me in the right direction? I tried this but that doesn't work. Much appreciated.

`import cf from 'conversational-form';
new cf.ConversationalForm({elForm: myForm})`

[2017-07-18 16:28] felixnielsen commented on #151
hi @IvanBashkirov the object you are passing should be {**formEl**: myForm} and not {**elForm**: myForm}, let me know if this solves your issue. Also make sure myForm is defined.

[2017-07-18 16:53] IvanBashkirov commented on #151
Yes, my bad, I am using `formEl`. Form is defined. The error I get is

[code]

if I `console.log()` `cf` itself then I get this function.

[code]

 Not sure what to do with it.

[2017-07-18 23:25] felixnielsen commented on #151
@IvanBashkirov please let me know which bundler are you using.
I see that ex. [rollup](https://github.com/rollup/rollup) has issues with top level references to `this`, which causes a problem depending on your project structure.

With rollup I get it to work like this:
[code]

[2017-07-18 23:50] IvanBashkirov commented on #151
I am creating a react app with `create-react-app` util which uses webpack. There may be something going on with the way the project is bundled, I'll keep looking into it.

[2017-07-19 08:25] felixnielsen commented on #151
@IvanBashkirov just did a test with webpack to and found the [problem](https://github.com/space10-community/conversational-form/commit/5d5f4b641f2de0a60be9f5f9b6573903404008e2), please update to latest NPM version (0.9.51).

For reference:
Webpack:
[code]

Rollup:
[code]

Let me know if this works.

[2017-07-19 10:22] IvanBashkirov commented on #151
@felixnielsen works like a charm! And I don't even need to specify the path, simply this works.

[code]

Thanks again for taking your time to figure this out.

[2017-07-19 10:54] felixnielsen commented on #151
thanks for the report @IvanBashkirov ! You can exclude the `new` as cf.startTheConversation will return an instance to you.

[2017-07-20 07:04] khaalidm opened #152 "Unable to attach event to specific Button(radio button) change"
Hi @felixnielsen ,

Is there a way to attach an event to a specific action i.e a radio button ?
I've noticed that the form doesn't build out the id attributes in run time.
So I am unable to target the specific event.

Regards

[2017-07-20 11:06] felixnielsen commented on #152
hi @khaalidm you highlight a good thing, I will add id attributes to the fields.
What you can do now is listen to `cf.UserInputEvents.CONTROL_ELEMENTS_ADDED` event and then you can get the buttons there and attach your events.
I will also add an event that will get exposed through the event dispatcher for these buttons. Added in next release.

[2017-07-20 12:41] khaalidm commented on #152
hi @felixnielsen

Thank you for the speedy response,

I am using the `cf.ControlElementEvents.SUBMIT_VALUE` event  to listen for radio-button clicks,
I have steps with multiple options(radio buttons), so I do not think that `cf.UserInputEvents.CONTROL_ELEMENTS_ADDED` would help, since I cannot target the specific button click. so I won't be able to attach an event.

If I have the id attribute from

[2017-07-20 14:47] felixnielsen commented on #152
@khaalidm thx :)
As you are using a radio button, can you then not use flowCallback?
Like this example: https://jsbin.com/ponibimeka/edit?html,js,output

[2017-07-21 06:50] khaalidm commented on #152
@felixnielsen ahh I see,

apologies, I didn't understand what you said previously.
Thanks a million for the help =D

[2017-07-21 07:49] #152 closed

[2017-07-21 08:36] felixnielsen commented on #149
@ccwdude @NathAston let me know if your issues have been resolved, closing until further feedback.

[2017-07-21 08:36] #149 closed

[2017-07-22 15:33] lucaydaniel opened #153 "Required checkbox is accepting unchecked as a value"
Hey guys...it's the first issue that I am submitting in my whole history (ok had to share this...it's a big moment for me 😄)

I have tried making a checkbox required but the user can just press enter and go to the next question.

The use case is the following: our users should accept the privacy policy or else they cannot have the conversation. A similar one could be accepting Terms and conditions

[2017-07-22 15:41] lucaydaniel commented on #81
+1 seriously needed for real-world scenarios! (e.g. I am placing an order at the restaurant thorugh the chat interface)

[2017-07-22 17:51] felixnielsen commented on #153
thanks for the report @lucaydaniel the required attribute on a `type=checkbox`should be valid. I will implement asap.
In the meantime then you can do [this](https://jsbin.com/larezixege/1/edit?html,js,output)

[2017-07-24 07:11] pvdyck opened #154 "Any plan to add type definition .d.ts in the project root ?"
https://www.triplet.fi/blog/three-ways-to-provide-typescript-type-definitions-to-3rd-party-libraries/

[2017-07-24 17:30] EtgolWalkor opened #155 "addTags and radio buttons"
How do I construct radio button tags for the addTags array? I'm struggling to make it work.

[2017-07-25 14:35] felixnielsen commented on #154
@pvdyck thinking about it yes, help is always appreciated.

[2017-07-25 14:44] felixnielsen commented on #155
hi @EtgolWalkor please see this [jsbin](https://jsbin.com/tuhufewaze/1/edit?html,js,output) hope it helps.

[2017-07-25 14:44] #155 closed

[2017-07-26 08:19] pvdyck commented on #154
looks like you just have to specify where your .d.ts file is in the "typings" => https://stackoverflow.com/questions/38909692/what-is-the-proper-way-to-include-typescript-typings-for-js-packages-which-will

[2017-07-26 08:41] felixnielsen commented on #154
Yep, before that, the index.d.ts file should be setup manually, a moderated version, or use a gulp [library](https://github.com/ivogabe/gulp-typescript) to automatically build the index.d.ts file.

[2017-07-26 09:15] pvdyck commented on #154
You can either use tsc --declaration fileName.ts like Ryan describes, or
you can specify declaration: true under compilerOptionsin your
tsconfig.json assuming
you've already had a tsconfig.json under your project.

Then specify typings in package.json

On Wed, 26 Jul 2017 at 10:41 Felix Nielsen <notifications@github.com> wrote:

[2017-07-26 14:08] felixnielsen commented on #148
hi @bellamystudio just had a look at the issue again, and I am not able to re-create, or maybe I am misunderstanding.
Could it be because you are missing an **s**? In `cf-question="{like_reading}`, it should be cf-questions.

[2017-07-27 21:42] psicotropicos commented on #132
@felixnielsen

I was planning on working on a solution to this. [Here](https://github.com/psicotropicos/react-native-conversational-form)

But if you create a repository in your account I'll be happy to contribute

[2017-07-28 11:33] felixnielsen commented on #132
@psicotropicos you rock! I've added a [branch](https://github.com/space10-community/conversational-form/tree/react-native) that you can submit PRs to.

[2017-07-30 07:17] mfaizanshaikh opened #156 "Attachments integration"
Hi all, any chance we can support attachments too ?

[2017-07-30 07:58] felixnielsen commented on #156
hi @mfaizanshaikh Conversational Form supports [input[type=file]](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file) here is a [jsbin](https://jsbin.com/tulezoliya/1/edit?html,js,output) to illustrate the support.

[2017-07-30 10:45] mfaizanshaikh commented on #156
thanks for the jsbin @felixnielsen

[2017-07-30 10:45] #156 closed

[2017-07-31 14:34] ivanguimam commented on #119
Guys, I faced the same issue, and the solution I've found is set the height of scrollable tag, and use "vh" to make this.

`scrollable { height: 79vh; }`

Hope it helps

[2017-08-01 07:00] felixnielsen commented on #119
@ivanguimam next release, hopefully released today, will fix this.

[2017-08-01 12:36] Vaelrium opened #157 "Help : Required prevent submit even if cf-conditional isn't respected"
I've several forms merged in a single one.

I want to prevent empty input without using the required tag. Any work-around ?

[2017-08-01 14:55] Vaelrium commented on #157
It'll do the trick, thx. Maybe adding some "cf-required" stuff could be useful tho.

[2017-08-01 15:35] #52 closed

[2017-08-01 15:35] #109 closed

[2017-08-01 15:35] #114 closed

[2017-08-01 15:35] #119 closed

[2017-08-01 15:35] #153 closed

[2017-08-01 15:35] #59 closed

[2017-08-01 17:01] felixnielsen commented on #157
@Vaelrium I see your point, it does go against embracing standards as much as possible. You are also able to use `flowStepCallback`, like this [example](https://jsbin.com/kedixewami/edit?html,js,output)

[2017-08-01 19:49] JoergVistra opened #158 "Help: combobox filled dynamically keeps the old values"
I have a form where a combobox is filled dynamically via Javascript. My ConversationalForm shows only the old value from page load. How can I refesh the values in ConversationalForm after populating the combobox?
Thank you.

[2017-08-01 22:56] patrickcoombe commented on #10
am also willing to beta test this, contribute to back end code or write documentation

[2017-08-02 08:40] felixnielsen commented on #158
hi @JoergVistra for this I would suggest you to manually start Conversational Form. So await the value-filling of the combobox and then initiate Conversational Form, like this [jsbin](https://jsbin.com/suruseyetu/1/edit?html,js,output)

[2017-08-02 10:33] JoergVistra commented on #158
Hi, thank you for the fast answer.
I need a way to update the values in the combobox during the chat, because they depend a previous answer.
The user picks a date from a datepicker and after that the combobox is filled with available timeslots for this day.
Could it be done with remapTagsAndStartFrom?

[2017-08-02 13:55] Vaelrium commented on #157
It's okay with the pattern stuff tbh.

Now i'm trying to go a different path depending on the first select value.
I could change the action attribute of the form with jquery, but it seems like the action is stored at the beginning of the chat loading. Problem is I can't find where.

[2017-08-02 15:45] #157 closed

[2017-08-02 16:52] maxart2007 opened #159 "Bower release differs from github one"
It's really disappointing to see chaos in docs and repositories. Do something about it.
Good idea with poor implementation.

[2017-08-02 18:11] felixnielsen commented on #159
@maxart2007 can you please elaborate.

[2017-08-02 18:17] maxart2007 commented on #159
I used same code for bower release and it worked for me with bugs (wrong order of responses if added via API, but it's not the case). When I replaced bower release with the one downloaded from github everything just worked without any additional actions. And an additional <p> tag appeared in response block.

[2017-08-02 18:24] felixnielsen commented on #159
@maxart2007 I just did a comparison of the latest bower package and the code from the latest [release](https://github.com/space10-community/conversational-form/releases/tag/v0.9.6), there is no differences between the files, checked both min and none-min.
Could it be that you used a older version before updating bower?

Please also elaborate on chaos in docs and the responses via API issue you are

[2017-08-02 18:43] felixnielsen commented on #158
@JoergVistra let me take a look at how to handle runtime removing/adding elements of fieldset and select tags, will get back to you tomorrow afternoon with an update.

[2017-08-02 19:56] felixnielsen commented on #159
@maxart2007 closing this, as it is inconclusive. Please re-open if you are able to elaborate on the precise issue.

[2017-08-02 19:56] #159 closed

[2017-08-03 11:36] felixnielsen commented on #158
@JoergVistra i've been looking in to this now, currently, removing an element from the original `form` tag is not something that is taken care of. But modifying `remapTagsAndStartFrom` to accommodate for removing tags would be an easy-fix. Alternatively an API to remove á tag would also be beneficial, where the parameter would just be the original tag to be removed, this could both be a group (sel

[2017-08-03 12:27] karthikradhakrishnan96 opened #160 "Prevent user from editing previous answers"
Hey. I'd like to prevent the user from clicking on his previous answers and changing them. Is there an option to do it?

[2017-08-03 12:46] felixnielsen commented on #160
hi @karthikradhakrishnan96 — you can overwrite this behaviour through css.

[code]

[2017-08-03 13:16] karthikradhakrishnan96 commented on #160
Thank you! : )

[2017-08-03 13:16] #160 closed

[2017-08-04 12:13] al2spark opened #161 "addTags not working"
Hi, the addTags method doesn't work when trying to add new tags with addAfterCurrentStep option.

Indeed, there is a bug in the code on line 5262 where

`this.tags.concat(tags);`

should be

`this.tags = this.tags.concat(tags);`

Thanks

[2017-08-04 12:21] #161 closed

[2017-08-04 12:22] felixnielsen commented on #161
@al2spark thanks for the report. I will update NPM, Bower, CDN asap, can you use the source from master for now?

[2017-08-04 12:24] al2spark commented on #161
Yep, no problem. Thanks

[2017-08-05 13:57] JoergVistra commented on #158
sorry the late response. Went with the API solution. Only delete the tag from tags and add it again. Works great, thank you.
And really great work that you are doing with this project.

[2017-08-05 16:31] #158 closed

[2017-08-06 10:43] felixnielsen commented on #148
Closing this as I am not able to recreate.

[2017-08-06 10:43] #148 closed

[2017-08-06 10:44] felixnielsen commented on #61
Unit tests added from release [0.9.6 ](https://github.com/space10-community/conversational-form/releases)

[2017-08-06 10:44] #61 closed

[2017-08-06 11:53] pvdyck opened #162 "hideUserInputOnNoneTextInput and mobile problem"
Hi,

thanks for the hideUserInputOnNoneTextInput toggle, it is very efficient, especially on mobile.

Still, when you display checkboxes, there is not way to send your answer anymore.

I mean, when you can select 2 in 5 choices, the only way is to press "enter"... something you can't find on mobile ;-)

Any UI design idea to allow to send the answer ?

Thanks,

Philippe

[2017-08-06 11:56] pvdyck opened #163 "Display answer list on more than two lines"
Hi,

I have a lot of answers to a specific question (around 15 checkboxes) and they are then displayed on two lines.

On narrow screens (like mobile) it does not work very well.

Any plan to display the list on 3 or 4 lines ? Or simply fill the space on the screen ?

Thanks,

Philippe

[2017-08-07 18:05] felixnielsen commented on #162
@pvdyck that is a problem :) what do you say @danielfriis ?

[2017-08-07 18:07] felixnielsen commented on #163
@pvdyck would be nice with a alternative view for lists with many items @danielfriis what do you say here?

[2017-08-07 19:07] danielfriis commented on #163
I agree. Let's think about a good solution. Happy to hear inputs or see examples of best practise.

[2017-08-07 19:08] danielfriis commented on #162
That is indeed a problem :) I don't have any great solutions from the top of my head. What about you @pvdyck and @felixnielsen ?

[2017-08-07 21:03] pvdyck commented on #162
Actually, we are missing a simple button to just send the answer.
Maybe the input box, without the input part would suffice ?
I am really not an UI expert, sorry ...

[2017-08-07 21:04] pvdyck commented on #163
Actually, simply increasing the number one lines might do it.
It's a poor man's solution, but it's a solution.

[2017-08-09 07:28] felixnielsen commented on #163
How about a solution that shows an CTA that will open the iOS native list UI?

[2017-08-09 07:30] felixnielsen commented on #162
@pvdyck was thinking the same thing. UI-wise it would look a bit wierd maybe, but let me take a look at it and see if it works.

[2017-08-09 11:30] danielfriis commented on #163
On really long list that could be an option. Was just checking how Facebook handles long lists. They seem to have a limit on 12, but one line.

@pvdyck how come it doesn't work on narrow screens? Maybe padding on the options could be decreased to allow for more options being displayed at once?

[2017-08-09 11:32] danielfriis commented on #162
Also my thinking, but not sure if it would work design wise ... But then again, I think that's the only option. Perhaps have the "send" button float bottom right?

[2017-08-09 12:42] pvdyck commented on #162
Could these case be applied to other situations ?

[2017-08-09 12:45] pvdyck commented on #163
@felixnielsen ideally the solution should be platform neutral and propose its own l&f
@danielfriis it works but if I count the number of 'actions' to see & select some answers, it is not efficient at all ...

[2017-08-09 14:20] michieloosterling opened #164 "Treat textareas differently from text fields"
For usability reasons it would most likely be a good idea to have the input for a textarea turn into a multiline field when encountered. The current method of just showing an input area one line high is not very inviting to entering longer pieces of text. Thoughts?
If this is already possible, I apologise, although I can't find it anywhere in the docs or examples.

[2017-08-09 14:30] felixnielsen commented on #164
hi @michieloosterling you should be able to use `shift + enter` to make a new line, like this [jsbin](https://jsbin.com/sahawohevo/edit?html,output), here you can make [new lines](https://www.dropbox.com/s/ir48fm6kmynd6m0/Screenshot%202017-08-09%2015.27.48.png?dl=0) using `shift`

[2017-08-09 14:38] michieloosterling commented on #164
Hi @felixnielsen, thanks for the reply. I understand the behaviour you describe, however during testing our test audience doesn't get it. Their comments came down to expecting a multiline input field when a question clearly demanding a longer answer was shown. Note that the test audience is not internet savvy per se, but represent your average internet user.

Would this be something that's relativ

[2017-08-09 14:47] felixnielsen commented on #164
@michieloosterling gotcha, I could implement something like an attribute: `cf-multiline` that would allow for just pressing enter, so then you would have to press the submit button. Would that work?

[2017-08-09 14:48] felixnielsen commented on #164
@michieloosterling gotcha, I could implement something like an attribute: `cf-multiline` that would allow for just pressing enter, so then you would have to press the submit button. Would that work?

[2017-08-09 15:07] danielfriis commented on #164
If we are to implement this, I would make an option as you suggest @felixnielsen on the tag itself or in the instantialization. Naming it something like `cf-alt-newline-on-multiline` or `altNewlineOnMultiline`

[2017-08-09 15:25] michieloosterling commented on #164
I think that would be a good start. I'd suggest if possible that in the case a textarea field is seen with (for instance) a tag like cf-textarea-multiline, the input field automatically visually changes to 2 or 3 lines. Perhaps the default size (height?) could be overridden if the cf-textarea-multiline has an optional number along with it, so for instance in the following example the user input fi

[2017-08-12 21:12] TimTdev opened #165 "hideUserInputOnNoneTextInput with input type="file" failure"
Hi,

I have hideUserInputOnNoneTextInput enabled on my form.

But when arriving at the input type="file" the _choose file_ button disappears (because it is not a type="text" of course).
This means you can not select a file and thus not continue...

A solution, I think, might be to only involve any input type that NOT text OR file.
Any other suggestions are welcome of course.

Thanks,

Tim

[2017-08-14 13:55] nuFaqtz opened #166 "Tag.prototype.setTagValueAndIsValid, min and max is not minLength, maxLength"
Hi,

In the method Tag.prototype.setTagValueAndIsValid the value of the input is validated against its length.
But the min and max attributes are actually values:

see: [https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/number](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/number)

Or when the actual length is intended change the attributes to minlength and maxlengt

[2017-08-14 15:27] nuFaqtz opened #167 "Conditional on select (array) and regex"
Hi,

In Tag.testConditions when the tagvalue is an array (from a select?) the condition is not checked against a provided regex.
I solved this by doing:

[code]
But I'm not sure about the 'var value = tagValue[0];' part.
In my situation this works perfect but is the value to check against always a single item?
Then [0] is valid...

Best regards,
JamBo

[2017-08-16 08:03] felixnielsen commented on #166
@nuFaqtz Thanks for the outline, I will switch max and min to maxlength and minlength asap.

[2017-08-16 08:08] felixnielsen commented on #167
@nuFaqtz I have added it on my list, will make some test scenarios for select. Expect something from me tomorrow.

[2017-08-17 10:31] felixnielsen commented on #167
@nuFaqtz can you have a re-check of your issue with the version I just pushed to develop? thanks :)

[2017-08-18 12:19] felixnielsen commented on #164
@michieloosterling should we maybe do a combo;
`<input cf-textarea-multiline`would allow for pressing enter without submitting.
but you can also use `cf-textarea-multiline="3"` to set the height of the input as well as limit the lines, so pressing enter >= 3rd times would submit but < 3rd would create a new line. Let me know.

[2017-08-21 06:55] vikasr111 commented on #128
@felixnielsen Can you please guide me through the process of overriding the styles.
I'm trying to get the UI similar to https://github.com/space10-community/conversational-form/blob/master/docs/src/styles/cf/cf-theming.styl

I have already compiled this CSS and added in my html page but the UI is not changing.

[2017-08-22 06:42] karthikradhakrishnan96 opened #168 "cf-list on one-row instead of two-row"
Hey have a list of radio buttons showing up in two rows(css class two-row). I see a class 'one-row' in your code. Can I configure the radio buttons to show up in a single scrollable row always?

[2017-08-22 12:49] felixnielsen commented on #168
hi @karthikradhakrishnan96 this is not an option atm. UI limitation, you can request an alternative UI (let me know how that could work) or let me know if this should be a feature-request from your side.

[2017-08-22 12:51] felixnielsen commented on #128
@vikasr111 make sure that you include your styles after the initial cf styling, also make sure your css rules are the same selector depths as the styles you are trying to overwrite.

[2017-08-22 15:30] nuFaqtz commented on #167
@felixnielsen Validated & working as expected,
thnx

[2017-08-23 05:36] felixnielsen commented on #167
@nuFaqtz great, will push a release later today with these micro fixes.

[2017-08-24 07:31] xblix opened #169 "Long Form"
i have a form with 1200 input.
Work like a charm.

But all input is showing outside the chat white main box. So i scroll down and down over 1200 input.

Any way to make chat 100% fluid and 100% width and height for hidding completely all input down after chat window and in the same times, disavke scroll down of all input after chat window

[2017-08-24 07:32] xblix opened #170 "Long Form"
i have a form with 1200 input.
Work like a charm.

But all input is showing outside the chat white main box. So i scroll down and down over 1200 input.

Any way to make chat 100% fluid and 100% width and height for hidding completely all input down after chat window and in the same times, disable scroll down of all input after chat window

[2017-08-24 07:33] #169 closed

[2017-08-24 16:21] nuFaqtz opened #171 "attributes are returned in lowercase (at least in chrome) which breaks conditionals"
Hi,

In chrome, and possible others, the domElement.atrributes are all returned in lowercase.
This breaks the cf-conditional checks if the user has different casing for element names.

Changing the code at FlowManager.prototype.areConditionsInFlowFullfilled from:
[code]

 to:
[code]
fixes the issue. Probably also documentation about conditionals should be updated.

mzZzl,
JamBo

[2017-08-24 16:43] nuFaqtz opened #172 "cf-image and embedded content (base-64/svg) breaks answer html"
Hi,

When using embedded content for the src of the image (like base64 or svg) where, in most cases, single quotes are used within the attribute, rendering the answer for the user results in invalid html.
Changing:
[code]
to
[code]
fixes this.

I have also experimented with image sizes and implemented two additional properties, cf-image-width and cf-image-height. When using radios with longer text

[2017-08-24 17:52] nuFaqtz opened #173 "Re-introduce spans around InnerTextOfElement"
Hi,

In the code using a span around the InnerTextOfElement is commented out in the image property code.
Also I would suggest also to add the spans in other locations where a label is rendered:

[code]
and
[code]

Using a span around the element text provides better styling options.

This way radio buttons with and without text can be styled better.
Using inline-block and margin:0 auto makes the d

[2017-08-25 04:40] xblix commented on #170
error on mycside. no issue

[2017-08-28 09:10] felixnielsen commented on #173
good call @nuFaqtz

[2017-08-28 09:24] felixnielsen commented on #172
@nuFaqtz thanks for submitting the invalid html fix. Regarding image size, then atm. it is set to max-width of 180px. But I do see the use-case for cf-image-width+height, so I've added it to the roadmap.

[2017-08-29 02:58] xblix commented on #170
i confirm
long form with many inputs make a very long height of entire form and blank space for.
its could be great if the size of global chat be dynamic depending how much input you have. svrolling is there anyway...no need to show entire history (and blank more than 2680px on my page)

[2017-08-29 03:01] xblix commented on #170
or if we can set a max-height in entire fkrm...but keep scroling of history. The oroblem is when yiu have 1200 input....the form make space for all chat allready. how we can keep a chat of 600px by example, and hide history and use scrolling as he's

[2017-08-30 18:25] xblix commented on #112
Anyway to keep autofocus on some input and remove on others.
That's be great if we can have a full setting for autofocus or not any input separated
cf-no inputfocus on input field by example :)

[2017-08-31 07:52] nuFaqtz commented on #171
Hi Felix,

I would like to suggest using a little more defensive implementation in this case.
When the tag is invalid, par example an empty option tag, the current implementation will break as the tag name will be null.
With defensive programming the tag would be ignored.
[code]
mzZzl,
JamBo

[2017-09-04 04:19] karthikradhakrishnan96 commented on #168
Maybe chage cf.ControlElements.prototype.resize function and take another parameter in options?
Something like
[code]

[2017-09-04 04:19] #168 closed

[2017-09-04 04:21] karthikradhakrishnan96 opened #174 "Add user response and thinking robot before flowstep callback"
In your formless example, flowstepcallback is used to fetch content from server, but in the case where the server is slow, it seems more intuitive to add the user response to the chat list and set the robot to thinking till the success function is called. Could you please let me know if that's possible?
Thank you

[2017-09-05 08:51] nuFaqtz opened #175 "hideUserInputOnNoneTextInput with checkboxes failure"
Hi Felix,

I'm having the same trouble as #165 with a checkbox group.
If you change the code for:
[code]
to
[code]
and modify the css for the cf-input-button to:
[code]
Then in those cases you're left with only the button on the right, which works well (enough).
One could argue that maybe centring the button (with label) would be even better, but for now this works.

***Edit***
Have to figure some

[2017-09-05 14:59] nuFaqtz commented on #175
Hi again,

Created a solution for the error messages.
This works generically and will allow for longer (multi-line) error messages.
Its easy to style (colour, size etc.), change:
[code]
to:
[code]
and add the following css:
[code]
Works at my end; tested with several controls and messages (lengths).
I increased the ERROR_TIME to 5000 so the user has some time to read, click/tap on the bubble will

[2017-09-06 06:28] 1beb opened #176 "How does this handle prefilled lists?"
Let's say I have a form with a prefilled list that is rather long, is there a way to get this to show the respondent options based on what they started typing. (Think like google does in the search box, like autofill)

[2017-09-06 09:58] felixnielsen commented on #176
hi @1beb you mean when the list is showing? Currently if you type in the input field it filters the list.

[2017-09-06 13:57] nukeourlimo commented on #176
@1beb you can hide the list using css, I went with
`[tag-type="select"] cf-input-control-elements.two-row {
					display: none;
				}`
You will still get a list of filtered options when user starts typing, although maybe restricted to one line (not tested)
Its a bit dirty but works a treat for my use-case.

[2017-09-08 06:23] felixnielsen commented on #176
@1beb let me know if your issue got resolved.

[2017-09-08 06:23] #176 closed

[2017-09-08 06:24] felixnielsen commented on #175
@nuFaqtz sounds great, do you have a working example of this?

[2017-09-08 06:25] felixnielsen commented on #174
@karthikradhakrishnan96 makes sense, I will implement in the coming days.

[2017-09-08 07:46] Chenzilla opened #177 "Manipulating piped values"
Wondering if there's a way to manipulate piped values, specifically piped integers. Tried parseInt('{id}') when setting the cf-question attribute (I'm working in React), and the question keeps rendering as NaN.

[2017-09-11 13:40] nuFaqtz commented on #175
Felix,

I do.
How to get to you?

What I did was getting the latest dev zip.
Taking the validation example, making all file refs local. Modified according to changes above.
And replaced the gender radio buttons into checkboxes.
But I'm happy to get a zip to you.

Let me know
mzZzl,
JamBo

[2017-09-14 10:41] SebastianKempf opened #178 "Text input with suggestions"
I might be missing something but is there a input with suggestions for the answer?
What I mean is a simple text input with a list of options from which I might choose one but does not have to and instead be able to wright my own. Something like a radio input but with an "other" option.

[2017-09-15 17:49] shaolinjr opened #179 "How to add new value to prefilled list of checkboxes or radios"
Hello @felixnielsen ! I wonder if there's a way of adding a user's text into the list of checkboxes or radio buttons. Here's an example: "I have a list of skills as checkboxes, the user types a skill that I don't have in my json". Can I add the user input to the list of values for that question? The user shouldn't skip to next question after he added the new skill, because he might want to add ano

[2017-09-15 19:07] shaolinjr commented on #178
@SebastianKempf  If you have a question that has more than one option such as an checkbox or radio, when you type in the textInput, it will filter the list to match your search! Is this what you were asking?

[2017-09-17 12:17] LinusEkenstam commented on #19
You could head over to the new https://developers.typeform.com website and check out the new API's @epleplepl @felixnielsen

[2017-09-18 08:20] SebastianKempf commented on #178
Thanks for your reply. It's not quite what I mean. Maybe the following example helps to understand my case:

The Question would be:
"What do you want to talk about?"

Now, I what to give three suggestions (e.g.: "the weather", "everything and anything" and "the godfather") but also I want the user to be able to ignore these suggestions and type in the topic of his or her choice instead which does

[2017-09-18 16:16] shaolinjr commented on #178
@SebastianKempf You have the SAME problem I have, I need the users to try to choose some items from the list, but if a item he seeks is not there, I wish he could add that. I currently achieved the action of adding another item into the list, but it has a LOT of bugs, I'm even considering not using this framework at all because of this. This feature is a MUST HAVE for the type of flow my platform

[2017-09-18 18:53] felixnielsen commented on #178
@SebastianKempf @shaolinjr this is a limitation of the UI, I would suggest building a new UI that accommodate your requirements. Adding a new type of UI is very easy, just ping me if you want to get the info on how. PRs are welcome.

[2017-09-18 18:57] shaolinjr commented on #178
Hey @felixnielsen I would love to know how hehe! I needed to use the .js, because I could not compile the .ts, can you help me with both? Building this new UI component and compiling the .ts (the Tag class somehow was compiling after all dependencies, even with the ///)

[2017-09-18 19:01] felixnielsen commented on #178
@shaolinjr sure, let me know the errors you are getting when compiling the .ts files.

[2017-09-18 19:02] shaolinjr commented on #178
@felixnielsen  it says that I had used the class Tag.ts before it was implemented, and I've just cloned the repository...

[2017-09-18 19:06] felixnielsen commented on #178
@shaolinjr can you send me the output?

[2017-09-18 19:07] felixnielsen commented on #170
@xblix it sounds like you need to define cf-context and control the height of that element.

[2017-09-18 19:07] #170 closed

[2017-09-18 19:09] shaolinjr commented on #178
@felixnielsen Course! Give my a sec'

[2017-09-18 19:11] felixnielsen commented on #177
@Chenzilla that would be a great addition, to tunnel values through global or app specific functions. You are welcome to do a PR, I've also added it to the scope.

[2017-09-18 19:11] shaolinjr commented on #178
<img width="1280" alt="captura de tela 2017-09-18 as 16 10 58" src="https://user-images.githubusercontent.com/8459735/30559735-03d505ba-9c8c-11e7-86d6-9377631a5033.png">

[2017-09-18 19:18] felixnielsen commented on #178
@shaolinjr did you do a `$ bower update`  from ./ ? I think it is the es6-promise polyfill that disrupt the compiling and not an issue with Tag.ts

[2017-09-18 19:24] shaolinjr commented on #178
@frederikchristensen  Oww.. I didn't do that! I will try it now!

[2017-09-18 19:28] shaolinjr commented on #178
@felixnielsen Should I do anything else than bower update in root folder? It didn't work...

[2017-09-18 19:28] felixnielsen commented on #178
@shaolinjr please also do the `$ typings install`

[2017-09-18 19:32] shaolinjr commented on #178
<img width="483" alt="captura de tela 2017-09-18 as 16 32 31" src="https://user-images.githubusercontent.com/8459735/30560668-045e25fe-9c8f-11e7-995b-7ac38bc214b8.png">

[2017-09-18 20:05] felixnielsen commented on #178
@shaolinjr can you try and run `$ gulp build`?

[2017-09-19 01:10] xblix commented on #170
cf-context style="height:300px;visibility:hidden;overflow:hidden" works like a charm!

[2017-09-19 07:50] SebastianKempf commented on #178
Hey @felixnielsen thx for the reply would love to know how to build a new UI.

[2017-09-28 05:21] pallaviMN opened #180 "How can we go back to previous questions?"

[2017-10-04 13:43] tlenclos commented on #69
Hello all,
I implemented a similar interface with https://api.ai/ in one of my project but since conversational-form is using a traditional html form, using only the NLP part of the software makes sense as @PieterO mentioned.

IMO this lib should provide an interface to plug any natural language processor. I'm thinking of https://github.com/nlp-compromise/compromise for local processing or https:/

[2017-10-11 07:53] tvequaud opened #181 "loadExternalStyleSheet doesn't work and global conception issue"
`$("form").conversationalForm({ 'loadExternalStyleSheet': false });`

This option doesn't work. A default remote stylesheet is called everytime I instantiate the conversationalForm object... Worst good idea ever.

As for bootstrap, jquery... etc. We should add a call from HTML to a default CSS if the user wants it. And that's easier if we want to customize the styles. Here, I cannot create a conve

[2017-10-11 08:24] felixnielsen commented on #181
@tvequaud hard to dissect the problem you are having, but it seems to be rooted elsewhere in your code, please be more problem oriented in your issue description.
these jsfiddles showcases the options usage is working as expected:
[This one DOES load external stylesheet](https://jsfiddle.net/c0vq6h1b/1/)
[This one DOES NOT load external stylesheet][https://jsfiddle.net/c0vq6h1b/2/]

I would recomm

[2017-10-11 08:24] #181 closed

[2017-10-12 01:24] danieltome commented on #178
Hi @shaolinjr I think what they need, and actually I also need is a way to use ajax autocomplete.
Eg. The question from chatbot: Which location did this happen at?
And when they start typing an address, we can call ajax, and return autocomplete.

Is there a way to trigger this for a specific question?

Another question, related. Could we use a datepicker for specific questions.

thanks,
Dan

[2017-10-14 01:45] xblix commented on #112
Any way to disable autofocus for first question and back autofocus for all other ones? :)

[2017-10-15 21:16] erogol opened #182 "How can I export formless conversation to server?"
#After all the conversation I like to pass it to server.However, since I generate it in formless way, I cannot serialize it by using the form. Is there nay way to export all the conversation as json or in any other format?

[2017-10-15 21:44] erogol commented on #182
Currently what I've done is I switched to load all form by javascript and then init the conversational form. In this way, I am able to serialize the form after the whole session.

It is not possible in formless version (conversation is created by JS) since each update only adds content to 'cf-context' not to the form.

If there is any other way to export the conversation in the formless case, plea

[2017-10-16 05:14] felixnielsen commented on #182
@erogol form you form instance use [getFormData](https://github.com/space10-community/conversational-form#getformdata)
[code]

[2017-10-16 05:14] #182 closed

[2017-10-16 07:10] Sireini opened #183 "Usage with vuejs"
I am trying to implement this package in my vuejs app. However I haven't really found a way of how to do this, since implementing the library.

Could someone provide me an example of implementing this library in vuejs. I allready saw an reactjs implementation but this differs from the vuejs.

I would like to implement the formless conversational-form.

[2017-10-17 08:46] dilshantharaka opened #184 "how to get user informations via email ?"
how to get user informations (name, phone, email) via email ???

[2017-10-18 13:32] m4n3z40 opened #185 "Will the latest version be released on NPM?"
NPM package version is not up to date (still at `0.9.51`). Is there a plan to release the `0.9.6` version on NPM?

[2017-10-19 02:46] m4n3z40 opened #186 "Exception after trying to edit last user's input"
I'm trying to integrate version `0.9.6` with a react app I'm building, but every time I try to edit the last user input, I get an error when submitting it.

#### Steps to Reproduce
1. Open [formless example](https://space10-community.github.io/conversational-form/formless.html) (Or any other example)
2. Add a response to a robot question
3. After robot asks another question, click last user input

[2017-10-19 15:19] manweCZ opened #187 "Prevent input being inactive after submit"
Hello, Im trying to figure out how is it possible to keep the user input active and be able to "submit" the form multiple times.

I want to create a chatbot that will first inquire user for some question to "fill the form", and then the Conversational Form would act as a chat (I can append messages from chat already). My only problem is that when I submit the form, the userinput becomes inactive,

[2017-10-20 16:48] erogol opened #189 "Cannot edit the posted user response on Chromioum"
I observe that I can edit my response on Firefox but not on Chromium. I don't know if it is about my browser specifically, but I like to let you know.

[2017-10-22 10:12] beanHead opened #190 "Integration to a native app"
Wanted to use the conversational interface form in a native app (android/iOS) . Any way to do so. It would be great to utilize this intelligent interface with in an app.

[2017-10-22 19:08] hossamElfar opened #191 "Angular 2 & 4 support"
I am trying to use your awesome package in an angular 2 app. I was able to render the view but When I add ngModel to the form input the ngModel wasn't updated after submitting the form and I was not able to get the data by calling the public API method that you are providing

[2017-10-23 14:01] alexgurr opened #192 "console.log in several places"
I seem to be seeing several debug logs. Not sure if they are supposed to be there - I would presume not.

Running 0.9.6 using the direct <script> injection in my HTML file.

Screen here: https://puu.sh/y59zh/cd4ddc2d0b.png

[2017-10-26 21:28] danieltome commented on #67
Hi, just wanted to check if there was any progress with this?
I would love to help.

[2017-10-27 17:42] alexgurr commented on #185
I too am wondering this. Including the script directly in my HTML isn't ideal.

[2017-10-30 14:22] renatodeleao commented on #56
@felixnielsen, can't validate a number between 1-10 using standard HTML5 min max, or pattern attribute, or mix of both on `<input type="number" />`
[demo](http://jsfiddle.net/tg3fpjgk/)
Is this expected or should i move this kind of validation to the `flowStepCallback`?

[2017-11-01 11:08] nukeourlimo opened #194 "Multiple answers for one question"
Hi!

I am prototyping a project where we have several answers for a free text question using regex.  For instance "answer 1" would be true if "hello" is entered, "answer 2" would be true if "world" is entered.  However if "hello world" is entered then both answers would be required to be displayed.

At present, after showing the first answer and entering a blank response(ie " ") the second answer

[2017-11-01 11:26] alexdeclamp opened #195 "/docs/voice-input-output.html returns Audio input not supported"

[2017-11-01 11:57] nukeourlimo commented on #180
I'm not part of the team but, there are at least two ways I know of to accomplish this: you can either click on the previous user input or use: window.ConversationalForm.remapTagsAndStartFrom function provided in wiki docs. Thanks!

[2017-11-01 12:00] nukeourlimo commented on #184
Not part of the team, but you will need to post the form data to a function that links into a mail service either written by yourself(server-side presumably) or you could potentially send the data to a service like Campaign Monitor or MailChimp using JS.  Cheers

[2017-11-01 17:07] alexgurr commented on #133
I've built a react wrapper for this (work in progress). You can see it [here](https://github.com/alexgurr/react-conversation-form)

[2017-11-03 01:54] mhinc14 opened #196 "Questions do not show up"
Hi everyone,

This conversational form looks great but unfortunately I can't seem to get it to work properly.

For some reasons the questions don't show up on the screen.

Hopefully it's an easy fix and someone can point out my mistake.

Thanks

<img width="1144" alt="screen shot 2017-11-03 at 01 50 31" src="https://user-images.githubusercontent.com/14908278/32358017-ea8a843c-c039-11e7-8f22-9e204c

[2017-11-03 07:47] alexgurr commented on #196
Can you show us your code?

[2017-11-03 08:04] felixnielsen commented on #196
@mhinc14 you cf-questions contains an problematic characters: https://www.dropbox.com/s/lrsgpje7unh5854/Screenshot%202017-11-03%2009.03.46.png?dl=0

[2017-11-03 08:04] #196 closed

[2017-11-03 11:10] mhinc14 commented on #196
@felixnielsen thanks for pointing that out. Even with the problematic character resolved I get the same issue.
@alexgurr here is example code of how i've been trying it

As shown in the picture in my original post, the text input field appears but none of the questions appear.

Im using chrome on mac and am up to date.

`<html lang="en">
<script type="text/javascript" src="https://cf-4053.kxcdn.co

[2017-11-03 12:40] alexgurr commented on #196
Try changing

[code]
to

[code]

[2017-11-03 14:28] mhinc14 commented on #196
@alexgurr thanks for trying. I've copied your code across and it still isn't working.

I am building a static website and I wanted to use a conversational form instead of a normal one.

** silly question alert ** - should i be bundling / creating a build file of the website for it to work?

Is there any other things you can thing of that could be preventing it from working?

[2017-11-03 14:29] alexgurr commented on #196
You don't need to do any of that stuff if it's a static site of HTML pages. I literally have just copied that code above into a foo.html file, opened it in chrome, and it loads fine.

[2017-11-03 17:47] mhinc14 commented on #196
@alexgurr I can confirm i am on the latest chrome version.

I get the same issue when i launch it in firefox too.

I just have an 'index.html' with the code you suggested above in it. But I see the following when I open it in the browser or launch a local server.

<img width="1435" alt="screen shot 2017-11-03 at 17 43 54" src="https://user-images.githubusercontent.com/14908278/32388212-e122b358-c0

[2017-11-03 18:03] mhinc14 commented on #196
I've also just tried it on another computer and its the same issue.

here's the code for the entire index file

`<!doctype html>

<html>

<head>
  <script type="text/javascript" src="https://cf-4053.kxcdn.com/conversational-form/0.9.6/conversational-form.min.js" crossorigin></script>
</head>
<form id="contact" method="post" action="" cf-form-element>
  <fieldset>

    <input type="text" pattern="^

[2017-11-03 18:04] alexgurr commented on #196
Try putting the script inside a <head> tag.

[2017-11-03 18:12] alexgurr commented on #196
If it's the one in your repository - you don't need to wrap the <script> inside a div - that might be what's breaking it..

[2017-11-03 18:15] mhinc14 commented on #196
Thanks for the quick replies and pointing out how to include the code.

It is the one i have just added to my repos.

Even without the div tags around the script....same issue.

When i open the file without serving....same issue.

chrome console shows
<img width="1439" alt="screen shot 2017-11-03 at 17 44 07" src="https://user-images.githubusercontent.com/14908278/32389549-ddec2fa8-c0c2-11e7-8b6c-

[2017-11-03 18:19] alexgurr commented on #196
Have you tried removing the extra HTML tag?

[2017-11-03 18:22] mhinc14 commented on #196
@alexgurr You legend! That has done it. It's working now. Thanks again!

[2017-11-03 18:24] alexgurr commented on #196
You're welcome :)

[2017-11-06 15:06] jenssogaard commented on #184
@nukeourlimo Thanks for taking the time to answer. Spot on!

@dilshantharaka Have a look at the [submitCallback-option](https://github.com/space10-community/conversational-form/blob/master/docs/submit-callback.html). From the submit-callback, you could execute an AJAX request to your server, and then let your server handle login/create/email and that type of stuff. I'll go ahead and close this iss

[2017-11-06 15:06] #184 closed

[2017-11-06 16:57] jenssogaard commented on #195
Hi @alexdeclamp. Can elaborate on this issue? Browser, CF version?

[2017-11-06 17:43] jenssogaard commented on #185
@m4n3z40 @alexgurr I've just published 0.9.6 to NPM. Let me know if you run in to any issues.

[2017-11-06 20:17] jenssogaard commented on #187
Hi @manweCZ

This is not exactly straight forward, but I have mocked an example here where I after first input inject a select for a couple of times before continuing to the last input element.

https://github.com/space10-community/conversational-form/blob/master/docs/dynamic-questions.html

One gotcha, if the user has completed the form it is not possible to use addTags() so keep that in mind. Th

[2017-11-06 20:32] jenssogaard commented on #190
Hi @beanHead. Currently you best option would be to do a webview and render your Conversational Form inside it.

[2017-11-06 20:38] jenssogaard commented on #189
@erogol Thanks for letting us know. I am not aware of any issues. Can you provide console log message or the a link to where I can try it out for myself?

[2017-11-07 12:02] sajadshafizadeh opened #197 "Conditional Answers"
As far as I understood, there is just **one** route for every kind of answers. I want to implement four different reactions based on each option of a radio button _(or select-option button)_. Can I do such a thing with this library?

[2017-11-07 12:48] jenssogaard commented on #197
Hi @sajadshafizadeh. Did you check the [Conditional-section of the Wiki](https://github.com/space10-community/conversational-form/wiki/Conditional-Flow)? You can also use the events to do some [custom logic after each answer/user input](https://github.com/space10-community/conversational-form/blob/master/docs/dynamic-questions.html).

[2017-11-09 02:51] jenssogaard commented on #192
Hi @alexgurr. I'll build in an option to suppress console.log messages in the next minor version release.

[2017-11-10 06:56] yarnball opened #198 "Passing a custom response/answer"
Hi,

Firstly- awesome work on this!

I'm customizing it a bit- I've created a drag/drop list so users can "order" their answers. It works/looks great- but it can't pass CF form the answers.

Basically I need to pass values form another component to CF Form.

I tried:

1. Changing the value of `dto` (`dto.text`)- however it does not see the "state" value.

2. Doing `<input value={this.state.answer}

[2017-11-12 07:17] sajadshafizadeh commented on #197
I see, thanks for the links you provided.
And my last question is: Can the bot send  a message? Only a message
(without expecting any answer). Something like this:

bot: hello
bot: what's your name?
user: {waiting for the user's answer}

See? "hello" is a message without waiting for the response. Can I do such a
thing?
thx

On Tue, Nov 7, 2017 at 4:18 PM, Jens Soegaard <notifications@github.com>
w

[2017-11-13 01:15] pierlon commented on #185
@jenssogaard I still get the `0.9.51` version. My guess is that this still happens since `51` is greater than `6`.

[2017-11-13 15:05] jenssogaard commented on #197
@sajadshafizadeh You can chain cf-question value by seperating cf-questions value with **&&** to allow for chained questions.
[code]

[2017-11-13 15:17] jenssogaard commented on #185
@pierlon you are right. That is absolutely not ideal. You'll have to hold out for a new release with proper version number before that is fixed. I'm sorry :unamused:

[2017-11-13 15:56] #195 closed

[2017-11-13 15:57] #190 closed

[2017-11-13 15:58] #189 closed

[2017-11-13 16:28] jenssogaard commented on #198
Hi @yarnball. Thanks for your interest in Conversational Forms. As I read your title you want to do a custom chat robot response after the user answers a question (eg. selects X or Y?), right? That can be done using `conversationalForm.addRobotChatResponse("Great answer!");` But as I read further on that is not the real issue you are having.
#2 I would think this doesn't work since you have alread

[2017-11-13 16:28] #180 closed

[2017-11-13 22:05] yarnball commented on #198
Thanks for the reply.

What do you mean by instantiated? Would you be able to show me an example? I pushed to a repo for detail: https://github.com/yarnball/ConversationalReactForm

[2017-11-13 22:14] #185 closed

[2017-11-14 00:34] jenssogaard commented on #198
Thanks for the example code. So you want to do a custom response depending on what the user selects (ABC, XYZ), correct?

[2017-11-14 00:48] yarnball commented on #198
Yes that's correct- I want to be able to pass the value from another component

[2017-11-14 13:42] sajadshafizadeh commented on #197
Look, all I'm trying to do is implementing a nested conditional radio. Here is my code:

[code]

The expected result is asking always two questions. While sadly my code always asks those three questions. So that condition seems useless. Any idea how can I handle that?

[2017-11-18 08:29] sajadshafizadeh commented on #197
Ok, thank you ..!

Just one thing, as you know there is a option that you can use the answer of previous question in the next question. Good.

Now I need to do the same, but I don't want to use of the whole previous answer. For example:

[code]

The question above is a `radio`. Now I need to set a attribute for each case. For example I need to set `"Photographer"` for the first case and  `"Musicia

[2017-11-20 13:48] jenssogaard commented on #197
If your flow is static (you do not need to get questions and answer from your server after each user response) then you should be able to accomplish this just using conditionals. See these two links:
https://github.com/space10-community/conversational-form/wiki/Conditional-Flow
https://space10-community.github.io/conversational-form/conditional-flow.html

[2017-11-20 13:51] jenssogaard commented on #194
Hi @nukeourlimo. I'll be happy to help. Any chance that you can provide a codepen/jsfiddle example so we can see your code?

[2017-11-20 16:42] MatteoPieroni opened #199 "Specific class on robot response"
Hi guys,
first of all great work! I used Conversational Forms on a couple of sites and I just managed to get it working on Modx as well :-).

I would like to know if there is any way to change the color of the Robot Responses (using addRobotChatResponse). I have tried for a specific class or something to pass to the function but so far I had no success.

Can you help me?

[2017-11-20 17:11] jenssogaard commented on #199
Hi @MatteoPieroni. Thank you for your interest in this project. No, you can only pass the message to addRobotChatResponse. But maybe you could do something like this? https://codepen.io/jenssog/pen/aVqVyY

[2017-11-22 04:02] kandebonfim opened #200 "A simpler way to add reactions to some response"
First of all, I'm in love with this project! Thanks for building this awesome library.

I'm building a form and a want to add some quick reactions to a user's response, for example:

[code]

The problem is that when the reaction appears, the user has to type something to move to the next question. It would be good to pass an attribute like `cf-input-skip` to automatically move to next step.

I kno

[2017-11-22 07:14] sajadshafizadeh commented on #197
Nice .. thank you.

Recently I've faced with something which is like a bug. When I use conversational-form in my website (I initialize it to an element in the end of my site), and when I load my website, surprisingly my website scrolls to the bottom of it and stops when that element comes in the screen.

The strangest part of it is: the mentioned behavior happens sometimes, not always. And sometim

[2017-11-22 17:07] kandebonfim opened #201 "Randomic responses inside chained questions"
It would be great to be able to do something like:

[code]

The way it is now, the second message "Please tell me your name." is shown only when the "What's up?" is used.

[2017-11-23 01:35] jenssogaard commented on #200
@kandebonfim We are happy to hear that you like the project! I totally understand what you are looking for and especially when mentioning that you would like to do accomplish this sans javascript. I'll discuss this with the team to see if we can squeeze this in to an upcoming release.

[2017-11-23 01:41] jenssogaard commented on #197
@sajadshafizadeh Maybe try this option:
preventAutoFocus: false

Described here: https://github.com/space10-community/conversational-form#self-instantiate-with-vanilla-javascript

[2017-11-23 01:44] jenssogaard commented on #201
@kandebonfim That makes good sense. I'll discuss this with the team. Also, please do not hesitate to fork and do a Pull Request as it might speed up the process 😎

[2017-11-23 09:56] sajadshafizadeh commented on #197
Yes, `preventAutoFocus: true` resolves the problem. Thank you. Also answering our feedback is nice of you.

[2017-11-23 14:21] jenssogaard commented on #197
@sajadshafizadeh great! I'll close this issue now. Feel free to open a new one if you have more questions.

[2017-11-23 14:21] #197 closed

[2017-11-23 15:03] kandebonfim commented on #200
@jenssogaard sounds good! Let me know if you need any help, ok? I'm interested in contributing to this repo.

[2017-11-27 16:46] MikeSwider opened #202 "cf-input-placeholder doesn't work on radio buttons"
looks like you can add/change the placeholder on radio buttons using the formless option but not by adding an attribute to the question.

[2017-11-29 15:31] al2spark opened #203 "Emojis"
Hi there, I'd like to know if it is possible to add and display emojis in children tags (answers).

I tried many times (via cf-label) but didn't work...

Thanks :)

[2017-11-29 17:53] marcelopc opened #205 "Uncaught TypeError: Cannot read property 'offsetHeight' of null"
![error](https://user-images.githubusercontent.com/29096180/33390448-0c86c148-d51d-11e7-8647-b7d5d0816611.jpg)

[2017-11-30 16:48] maisnamraju commented on #205
Running into the same issue here, I tried the exact code mentioned in the submit callback

[2017-12-04 14:53] jenssogaard commented on #203
Hi @al2spark. I'll be happy to help you. Can you provide a code example? Here's to vanilla CF-examples that might speed up a code example: https://codepen.io/jenssog/pen/mqXMQW, https://jsfiddle.net/Jenssog/nq4z68hw/

[2017-12-04 14:55] MatteoPieroni commented on #199
Hi @jenssogaard unfortunately that cannot solve my problem, since I would have to change css every time I add or remove a question. Thanks a lot anyway, for now I solved by going for a green text! It could be an interesting feature to think of implementing though, for UI purposes. :-) Again thanks for the great work!

[2017-12-04 15:02] jenssogaard commented on #202
Hi @MikeSwider. I'm not exactly sure what you are asking about or what I would like to accomplish. Can you provide a simple code example? Here are a couple of clean CF examples that might be helpful: https://codepen.io/jenssog/pen/mqXMQW, https://jsfiddle.net/Jenssog/nq4z68hw/

[2017-12-04 15:05] jenssogaard commented on #199
@MatteoPieroni I see. So your idea would be to be able to pass a class name addRobotChatResponse(), correct? Eg. addRobotChatResponse("Thank you.", "green")

[2017-12-04 15:49] MatteoPieroni commented on #199
That could be great for compliance with any used frameworks like bootstrap or else.
For me any preset class would be more than enough to target via css. Eg. <cf-chat-response class="robot peak-thumb show robot-response">

[2017-12-05 12:22] slowflyer commented on #43
I'm struggling with the same problem, no matter what pattern I tried, validation never succeed.

[2017-12-05 12:39] felixnielsen commented on #43
@slowflyer @hamaff  please see this [jsbin](https://jsbin.com/zepelihece/1/edit?html,js,output)

@hamaff you need to exclude the modifier /g and starting forward slash.
[valid regex](https://regex101.com/r/zckq85/1/)
[not valid regex](https://regex101.com/r/qHai7g/1)

[2017-12-05 12:45] slowflyer commented on #43
:+1: got it! Thanks!

[2017-12-05 17:52] #187 closed

[2017-12-26 06:28] KannaDinesh opened #207 "emojify.min.js file not found"
emojify.min.js file not found in conversational form
![conversationalform](https://user-images.githubusercontent.com/19591721/34348988-5e62e2f4-ea34-11e7-8043-9db740e40817.jpg)

[2017-12-26 22:44] jenssogaard commented on #207
Hi @KannaDinesh. I just checked and the file loads fine here: cdnjs.cloudflare.com/ajax/libs/emojify.js/1.1.0/js/emojify.min.js

Could maybe have been a minor outage that was out of our control. Before New Year we will release a minor update where Emojify will be removed as well as a bunch of other improvements regarding styling (SCSS, useful variables).

[2017-12-31 00:59] #166 closed

[2017-12-31 00:59] #167 closed

[2017-12-31 00:59] #171 closed

[2017-12-31 00:59] #172 closed

[2017-12-31 00:59] #173 closed

[2017-12-31 00:59] #202 closed

[2018-01-03 18:18] jenssogaard commented on #207
@KannaDinesh The [latest release](https://github.com/space10-community/conversational-form/releases/tag/v0.9.70) has removed emojify support which might be of interest to you.

[2018-01-03 18:20] jenssogaard commented on #192
@alexgurr by default log messages are disabled in the [latest release](https://github.com/space10-community/conversational-form/releases/tag/v0.9.70).

[2018-01-03 18:20] #192 closed

[2018-01-03 18:20] #203 closed

[2018-01-03 18:23] #207 closed

[2018-01-04 02:05] KannaDinesh commented on #207
Tanq 😇

On Jan 3, 2018 11:48 PM, "Jens Soegaard" <notifications@github.com> wrote:

@KannaDinesh <https://github.com/kannadinesh> The latest release
<https://github.com/space10-community/conversational-form/releases/tag/v0.9.70>
has removed emojify support which might be of interest to you.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https

[2018-01-05 00:15] winadv opened #209 "How do I submit form via PHPmailer?"
I am trying to send the form data to my email address via PHPmailer but I am not able to in any way would like a help how to send using PHPmailer or via javascript to my email address.
Thank you.

[2018-01-07 02:22] jenssogaard commented on #209
Hi @winadv. You need to use the [submit callback](https://space10-community.github.io/conversational-form/docs/0.9.70/functionality/submit-callback/) method and do an AJAX request to your server with the form data.

[2018-01-07 06:57] sajadshafizadeh opened #210 "How can I control the speed of showing messages?"
I have multiple *(three)* messages which show right after each other:

    <input name="your_opinion" type="text" cf-questions="Ok!&&So what's your opinion about it?&&Thanks." cf-conditional-idea="yes" />

Those three messages (which are chained with `&&`) will be shown faster than what I need. I mean, that speed destroys a real-chat feeling. *(actually I want to see that "is typing" expression fo

[2018-01-07 09:25] sajadshafizadeh commented on #137
Has someone found any solution to do OR on multiple conditions?

[2018-01-07 15:43] jenssogaard commented on #210
Hi @sajadshafizadeh. Default values are defined in [this interface](https://github.com/space10-community/conversational-form/blob/develop/src/scripts/cf/interfaces/IUserInterfaceOptions.ts). Which is also a good place to get a feeling of parameters.

`conversationalForm = window.cf.ConversationalForm.startTheConversation({
	userInterfaceOptions:{
		controlElementsInAnimationDelay: 250,
	        ro

[2018-01-07 15:55] sajadshafizadeh commented on #210
Great .. thank you .. it worked exactly as expected.
Just do you know how can I activate "is typing ..." feature? I see it in the demo, but not in what I implemented.

[2018-01-08 02:55] winadv commented on #209
@jenssogaard
Thank you I managed to do the integration with SMTP using AJAX, to send to my email now I'm having just one more problem regarding the integration of MailChimp this always appears this message in my console of errors.
`Failed to load https://space10.us12.list-manage.com/subscribe/post-json?u=a168b507fc8033ce61a467329&amp;id=c6f366f53b&FNAME=XXXX&LNAME=XXXX&EMAIL=test@email.com: No 'Ac

[2018-01-08 13:17] jenssogaard commented on #209
@winadv I'm glad to hear. Right, that is a cross-origin issue since we are posting to a different domain. You need to implement **JSONP**. See this jQuery example below of a JSONP request:
`$.ajax({
        url: 'YOUR URL',
        type: 'GET',
        data: $('#your-form').serialize(),
        dataType: 'jsonp',
        contentType: "application/json; charset=utf-8",
        success: function (da

[2018-01-08 14:33] jenssogaard commented on #209
EDIT: @winadv I just updated the mailchimp example with a better jQuery example: https://codepen.io/space10/pen/mpPvaW

[2018-01-08 15:53] jenssogaard commented on #210
@sajadshafizadeh Try this:
`user:{
    // to show thinking state or not, defaults to false;
    showThinking: false
}`

[2018-01-08 18:31] winadv commented on #209
@jenssogaard Everything worked.
I just needed to make some changes.
For who needs it is below the code that I used.

[code]
Thank you

[2018-01-08 23:36] #209 closed

[2018-01-09 06:27] sajadshafizadeh commented on #210
Great .. thank you.
As my last question, is it possible to write HTML tags as the value of messages? For example I need to give a download link as the answer. Here is my code:

    <input name="d" type="text" cf-questions="Click <a href="./path">here</a> to download your invoice." cf-conditional-dw="yes" />

But that `<a>` tag will be removed. Why? Do you use strip_tags in your code? Anyway is the

[2018-01-09 16:40] jenssogaard commented on #210
You are using " inside a value defined by "" which is your problem. Try this:
`cf-questions="Click <a href='./path'>here</a> to download your invoice."`

[2018-01-10 15:30] adantoscano opened #211 "Broken link in readme"
[code]
This link goes to nowhere

[2018-01-10 17:52] jenssogaard commented on #211
Thank you for noticing @adantoscano. This has been fixed and the link is now forward to the latest version of the documentation: https://space10-community.github.io/conversational-form/docs/

Cheers

[2018-01-10 18:05] adantoscano commented on #211
Thank you for this awesome project.

[2018-01-10 18:05] #211 closed

[2018-01-21 00:08] johnnyMick opened #213 "Restart or Reset after Form Submit"
Hello,
is their a way to restart or reset the conversation after Submit Callback ? currently i refresh the page but looking if their is a better way to restart the form again from start .

[2018-01-21 01:49] nyc2phx opened #214 "How can I edit (pick out parts of) user responses for robot use?"
Hello, trying to figure out if there is a way to remove common words from a response for use by the robot.

E.G..

Robot: Hello what is your name?
User: Hi! My name is John Smith
Robot: Hello John Smith, what is your email address?

I've got a common words database that would remove the extra "Hi! My name is " part, but can't seem to implement it in the response.

Any help would greatly be appreci

[2018-01-22 22:41] nyc2phx commented on #214
Hi everyone, I figured out this workaround but to me its a bit ugly. Any way it can be cleaned up?

[code]

[2018-01-24 01:58] tstkenny commented on #213
You may just call the following api:

window.ConversationalForm.remapTagsAndStartFrom(0, 0, 1);

https://space10-community.github.io/conversational-form/docs/0.9.70/public-api/

[2018-01-24 12:09] #213 closed

[2018-01-24 13:06] jenssogaard commented on #213
@tstkenny Thanks for helping @johnnyMick with his question 🔥

[2018-01-24 18:01] jenssogaard commented on #214
Hi @nyc2phx. It's an exciting challenge you are presenting and it is something that is on our radar. I think the best way to go about it would be to implement a NLP API like [this one from Google](https://cloud.google.com/natural-language/). Makes sense?

[2018-01-29 01:34] bharuma opened #215 "Conditional form on select not working"
I'm trying to show a fieldset based on the value of Select value. For e.g.

[code]
However, the fieldset is shown irrespective of the select value. Maybe select values need to be checked differently? Any help is appreciated

[2018-01-29 02:54] jenssogaard commented on #215
Hi @bharuma. I put together a [simple form here demonstrating the selected option](https://codepen.io/space10/pen/ZrzNeM). Is that of help to you?

[2018-01-29 12:52] bharuma commented on #215
thank you @jenssogaard for your quick response.

I updated the original question with the code (I forgot to wrap it inside <code>)

Select works great, no problems with that. However, I'm trying to show a fieldset based on a specific value from select (selected option from select dropdown).

- can conditional be applied on fieldset?
- can 'selected option' be used in conditional value?

[2018-01-30 02:22] jenssogaard commented on #214
Hi @nyc2phx. Any thoughts or should we close this issue?

[2018-01-30 02:29] jenssogaard commented on #215
No, adding them on fieldset does not work [per the documentation](https://space10-community.github.io/conversational-form/docs/0.9.70/functionality/conditionals-and-branching/).

I've extended [the example](https://codepen.io/space10/pen/ZrzNeM) a bit to reflect select value used in conditional

[2018-01-30 16:19] #210 closed

[2018-02-02 00:43] jenssogaard opened #216 "Travis CI build errors - npm install errors"
https://travis-ci.org/space10-community/conversational-form/builds/330853072?utm_source=github_status&utm_medium=notification

[2018-02-02 02:04] jenssogaard commented on #137
Hi @AfaanBilal I have been testing your PR and playing around with it. However, I do see an issue when we start combining cf-conditional (&&) with the cf-or-conditional (||). As I see it any cf-conditionals on the same tag as cf-or-conditional will be ignored, correct? Do you have any ideas as to how we could solve that?
[code]

[2018-02-02 03:37] AfaanBilal commented on #137
Hi @jenssogaard Yes, you're right.
So, the behavior that we desire should be that all ````cf-conditional```` tags must evaluate to ````TRUE```` and at least one of the ````cf-or-conditional```` tags must evaluate to ````TRUE```` for the form tag to be shown, right?

[2018-02-02 05:22] AfaanBilal commented on #137
Hi @jenssogaard I've pushed a new commit to the pull request that solves this issue implementing the logic as in my comment above.

Thanks!

[2018-02-04 02:24] igormoviic opened #217 "problem with an appearance change"
I do not know where I instantiate loadExternalStyleSheet to accept my formatting

[2018-02-06 15:40] #215 closed

[2018-02-06 15:40] #214 closed

[2018-02-06 15:45] jenssogaard commented on #217
Hi @igormoviic. The docs does not describe this option correctly. It's a boolean, so if you set it to true when instantiating your CF then the default CF CSS will just not be loaded.
[code]

[2018-02-06 16:36] jenssogaard commented on #199
Hi @MatteoPieroni. I have discussed this with the team and we do not believe that there currently is a strong enough case for this discussed feature. Thank you for suggesting and you are always welcome to [do a PR](https://space10-community.github.io/conversational-form/docs/0.9.70/build-the-source/) if you feel the need for a feature. That can sometimes increase the chances of it being adopted in

[2018-02-06 16:36] #199 closed

[2018-02-06 19:37] jenssogaard commented on #216
Solved by incrementing node version: https://github.com/space10-community/conversational-form/commit/2e56c3dc1dea1801523584c28fe49c13e6c1950d

[2018-02-06 19:37] #216 closed

[2018-02-06 19:49] #194 closed

[2018-02-06 19:57] jenssogaard commented on #201
Hi @kandebonfim. Since this can be accomplished with a bit of redundant text we will not move forward with this feature. You are more than welcome to do a [PR](https://github.com/space10-community/conversational-form#contributing) for this feature as that will greatly increase the chances of it being included in the next release :)

[2018-02-06 19:57] #201 closed

[2018-02-06 20:06] jenssogaard commented on #200
@kandebonfim still interested in doing this? We think your suggestion is a good idea and we intend on making a `cf-robot-response`-tag that takes `cf-questions`-attribute.

Ideally it will also accept `cf-conditional` (and maybe a few more that I forgot).

Example use:
[code]

[2018-02-08 14:35] kandebonfim commented on #200
Loved the idea! I'll try to run the dev environment on my machine to implement it.

[2018-02-08 15:11] jenssogaard commented on #200
@kandebonfim I've already implemented it in this branch: https://github.com/space10-community/conversational-form/tree/CfRobotMessage

And here is a CodePen: https://codepen.io/space10/pen/zRNKwE

Feedback is appreciated.

[2018-02-09 17:26] jorditarrida opened #218 "Cannot create new cf.EventDispatcher() when loading with ES6 Module Bundler"
Hi,
I am trying to replicate the [voice examples](https://space10-community.github.io/conversational-form/docs/0.9.71/functionality/voice/) on your website. I am loading `conversational-form` using Webpack on my project with `import cf from 'conversational-form'`. When I try to instantiate a `new cf.EventDispatcher()` I get the following error `__WEBPACK_IMPORTED_MODULE_0_conversational_form___def

[2018-02-09 17:40] jenssogaard commented on #218
Hi @jorditarrida. I'm not exactly sure if you hit a bug or what the problem might be. Let me have a look in the coming days and report back.

[2018-02-09 17:44] jorditarrida opened #219 "Include !default on your SASS variables and include main .scss file"
Hi,
I have a project where I imported `conversational-forms` using NPM and the Webpack module bundler. I would like to customize the appearance by customizing the SASS variables, importing your project's SASS files into my codebase and setting `loadExternalStyleSheet` to `false`. However, there is a big problem with your SASS files. I cannot overwrite the variables because they are loaded via an `

[2018-02-09 17:51] jenssogaard commented on #219
Hi @jorditarrida. You are absolutely right. I converted existing Stylus to SASS but didn't spend enough time on the issues you are referring to. Do you want to do a [PR](https://github.com/space10-community/conversational-form#contributing) for this? (might speed up the process a bit 👍)

[2018-02-09 18:00] jorditarrida commented on #219
@jenssogaard I will try to do the PR next week, cannot guarantee it tho :)

[2018-02-10 13:54] smacbca opened #220 "How to submit the post/send the form data to mail.php"
sir your forms are grate and its nice but i have one problem i am using simple contact form which post the data to mail.php page to submit the data but the conventional form is not submitting the data please help...

Sample code of my form:
`<form role="form" action="mail.php" method="POST" id="my-form-element" cf-form>
 <label for="name">Name</label>
 <input type="text" placeholder="" name="name"

[2018-02-19 10:19] jorditarrida commented on #219
Hi,
I submitted a pull request fixin this issue last week, can you merge it?
Thanks,
Jordi

[2018-02-19 12:30] jenssogaard commented on #219
Hi @jorditarrida. I'll test the PR Wednesday. I would appreciate if you could clean up the PR a bit:
- Do not change package.json, gitignore, package-lock.json (Might be valid changes but should not be included in this PR)

Thanks

[2018-02-19 13:12] MatteoPieroni commented on #199
Hi @jenssogaard, thank you very much for taking the time to discuss this! I hope it will be addressed in the future if the case for its use will grow stronger. In the meantime keep up the great work!
If you would like to include cases of real use on the web in the docs I have some... :-)

[2018-02-20 10:06] bubesh03 opened #222 "Does it support in mobile android chrome? Error "audio input not supported""
I have tried your conversational form which works in desktop chrome whereas the same doesn't work in mobile devices, i have tried multiple devices like Iphone and android devices(tried in android version 7, 7.1, 8).
Once the page loads it speaks the first question and after that it shows <strong>"audio input not supported"</strong> and still the notification bar shows the message that <strong>"chr

[2018-02-20 13:15] jenssogaard commented on #222
Hi @bubesh03. Have you used the voice support example? If that is the case you must load your page over https.

[2018-02-20 14:05] bubesh03 commented on #222
@jenssogaard I even tried opening your example link "[voice input](https://space10-community.github.io/conversational-form/landingpage/voice-input-output.html)" in mobile, it shows the same error message after speaking the first question and yes I am loading the page over https.

[2018-02-20 14:51] jorditarrida commented on #219
Hi @jenssogaard,
Just pushed another commit which fixes the changes in package.json and .gitignore. Sorry about being so clumsy :)
Hope you can integrate the PR with these changes :)
Thanks for your time,
Jordi

[2018-02-20 14:52] jenssogaard commented on #222
@bubesh03 It is somewhat experimental so there is a chance that it will not work. Can you share a link? It's hard for me to help you without any code to test/look at.

[2018-02-20 15:22] Hotaquet opened #223 ""Custom submit callback reached, removing Conversational Form, see markup of this file""
Hello!
 I'm trying to configure a conversational-form for my contact page, i have an issue when submitting the form (Searched quite a lot on the internet but couldn't manage to figure it out, (for now!)).
So the thing is that i would like the form to be submitted by Formspree(that's possible right?)
I already have a classic form working (Post method to Formspree) on **the same** page (i want the u

[2018-02-21 06:29] bubesh03 commented on #222
@jenssogaard here is the codepen [link](https://codepen.io/webstuff/full/BYxKEd/)

[2018-02-21 16:18] jenssogaard commented on #223
@Hotaquet Have you tried removing the below from your CF-instance?

`submitCallback: function() {
    alert(
      "Custom submit callback reached, removing Conversational Form, see markup of this file"
    );
  }`

[2018-02-21 16:18] jenssogaard commented on #219
@jorditarrida great, I'll take a look at it now.

[2018-02-21 16:32] Hotaquet commented on #223
@jenssogaard  I just did it, everything working, Thanks a lot!

[2018-02-21 16:49] jenssogaard commented on #223
@Hotaquet Your are welcome. I'm glad it worked out :)

[2018-02-21 16:50] jenssogaard commented on #218
@jorditarrida did you ever figure this out?

[2018-02-21 16:50] #223 closed

[2018-02-21 16:51] #217 closed

[2018-02-21 16:53] jenssogaard commented on #220
@smacbca Have a look at issue #223 which also relates to form submitting. If you need more help please submit a code example including JS - preferably on GitHub or CodePen.

[2018-02-21 17:07] jorditarrida commented on #218
@jenssogaard nope, if you could check on it that'd be great :)

[2018-02-21 17:40] jenssogaard commented on #218
@jorditarrida alright, I'll have a look.

[2018-02-23 09:47] tonyyb commented on #218
I've got the same issue !

[2018-02-23 13:21] jenssogaard commented on #218
@jorditarrida @tonyyb I experience the same issue. I'll try to debug and figure out what is wrong.

[2018-02-23 14:20] menteora opened #224 "[question] prevent every answer keyboard open/close on mobile"
Hi, thank you for your library, it's a great idea!

I've tried your sample on mobile (https://codepen.io/jenssog/pen/mqXMQW), it's possible prevent keyboard open/close for every answer?
If we want emulate chat, the keyboard remain open for the entire conversation.

Here a sample:

![keyboard](https://user-images.githubusercontent.com/3657745/36598147-7f8c0816-18ab-11e8-8373-549fb2e049e6.gif)

[2018-02-27 07:09] sohelamin opened #225 "Help required"
Can I add a custom response to downloadable URL?

Can I use datepicker input or calendar?

[2018-02-28 03:12] jenssogaard commented on #225
@sohelamin datepicker, no. We are working on implementing a natural language parser for dates.
I do not understand your first question.

[2018-02-28 03:25] sohelamin commented on #225
@jenssogaard I meant, I need to show the user a custom downloadable link based on their answers.
How can I achieve this?

[2018-02-28 15:50] jenssogaard commented on #225
@sohelamin alright, first look at conditional logic i [the docs](https://space10-community.github.io/conversational-form/docs/0.9.71/functionality/conditionals-and-branching/).
For the download link you can do:
`<input type="text" cf-questions="Click <a href='./path/to/some/file.pdf'>here</a> to download your invoice." />`

[2018-02-28 15:56] jenssogaard commented on #222
I do not have an Android handset to test on at the moment. But given it's a fairly bleeding edge implementation it is like to not work on some devices: [see the docs](https://space10-community.github.io/conversational-form/docs/0.9.71/functionality/voice/).

[2018-02-28 18:33] #219 closed

[2018-03-01 04:28] sohelamin commented on #225
@jenssogaard Thanks for the help.
But how can I use a default answer to that question to complete the conversation?

[2018-03-01 16:36] menteora commented on #224
Sorry for my english @jenssogaard, I mean that once the conversation has started it's a bit annoying to see the keyboard going up and down every time the field change. It could be better to leave the keypad always open until the form ends.

[2018-03-01 19:31] #220 closed

[2018-03-01 19:32] jenssogaard commented on #225
@sohelamin in yesterdays release we have added <cf-robot-message> tag that can do that for you:

https://space10-community.github.io/conversational-form/docs/0.9.80/functionality/cf-robot-message/

[2018-03-01 19:34] jenssogaard commented on #224
@menteora I totally understand what you mean. And it might be something that I can look into.

[2018-03-01 19:36] sohelamin commented on #225
Thank you @jenssogaard, very much appreciated 😃

[2018-03-01 19:36] #225 closed

[2018-03-05 05:08] suvarnaR commented on #178
is there a way to autocomplete the user input like in android while user type it gets suggestions..something similar in conversational form

[2018-03-05 11:23] mdelantes opened #226 "[question] how to inject a tag and render it not in the flowStepCallback"
Hello,

i am working with a formless conversational form.

Using the flowStepCallBack i can inject and render a tag but i need to inject and render a tag when the user click on a previous answer.

I have add the tag successfully but i can not render it.
What method should i call like the `success()` method to render the tag ?

Thanks you.

[2018-03-05 13:45] jenssogaard commented on #178
@Rchanger When you add a select field you can type and then options will be filtered.

[2018-03-05 14:18] Rchanger commented on #178
@jenssogaard thanks for your reply, thats all with select,radio and checkboxes. I'm trying with normal text inputs

[2018-03-05 14:32] jenssogaard commented on #178
@Rchanger I see. It is not something we support currently. I can't really see a use case where that feature is needed, but if you can convince me it is something we might implement.

[2018-03-05 15:01] jenssogaard commented on #226
Hi @mdelantes. Have you tried playing around with `remapTagsAndStartFrom`?
Also if you could post a Codepen that would make it much easier for me to help you.

[2018-03-05 15:52] mdelantes commented on #226
@jenssogaard I have try to play with `remapTagsAndStartFrom` .

It fails as the tag has never been render before.

It is difficult to post a codePen as the code is a bit complicated but i will try to do one.

What i don't understand with a formless conversation is how to render a tag without using the `flowStepCallBack` (and it's magic function `success()` ).

using `addTags()` is not enough. In t

[2018-03-06 04:48] Rchanger commented on #178
sometimes some of the address and words are to big if user gets suggestions that makes it is and if we have to give same input again and again in that case getting suggestions makes it is.

[2018-03-06 13:26] jenssogaard commented on #178
I see the use case for autosuggestions when typing in your address. That makes sense. What that would look like in CF would probably be:
- event for handling user input changes ([We already have that](https://space10-community.github.io/conversational-form/docs/0.9.80/events/))
- method for presenting suggestions returned by e.g. Google Maps Api

I'll discuss with the team but right now I do not t

[2018-03-06 15:14] Rchanger commented on #178
@jenssogaard That's great ,but actually I have done that only i have made ajax call on key change and given suggestions but problem is thàt EventDispatcher giving error in vuejs that its not a constructor....it works fine with JavaScript

[2018-03-07 03:17] berniebetgcarpio commented on #67
it seems like these 2 datepicker won't work?

http://felicegattuso.com/projects/datedropper/

http://felicegattuso.com/projects/timedropper/

[2018-03-07 13:59] jenssogaard commented on #222
@bubesh03 I'll close this issue for now. If you figure it out or want to do a different implementation that works then please let me know.

[2018-03-07 13:59] #222 closed

[2018-03-08 03:24] dolanb12 opened #227 "Form Submit functionality issue. Should be a simple fix. : )"
Hello and thank you for the wonderful application!

I've set this up with formspree.io to receive automatic emails with the form data. However, I'm only able to submit the form correctly when typing and sending an additional message after all the fieldsets are completed. I basically just need to understand how to correctly submit the form, and then afterward give some conclusion text to the user.

[2018-03-09 09:25] Rchanger commented on #218
I've got the same issue ,any updates on it

[2018-03-09 15:55] jenssogaard commented on #218
@Rchanger no solution yet. I'm still trying to figure it out.

[2018-03-11 23:31] dolanb12 commented on #227
Anyone able to help? Thanks much. : )

[2018-03-12 00:20] jenssogaard commented on #227
Hi @dolanb12. Great that you are using Conversational Form. A few ideas to can improve your implementation.

1. Using an AJAX request to submit data to formspring so the user is not redirected. This requires that you use a [custom submit callback](https://space10-community.github.io/conversational-form/docs/0.9.80/functionality/submit-callback/) and here is [someones method for posting to formspri

[2018-03-24 15:09] BenRacicot opened #228 "Improve validation for native HTML5 input field types"
Hey team! Just wanted to say how awesome this project is. I do believe this to be the future of forms. I would like to recommend a feature request for more simple *native* validation.

  - description of the actual behavior
Validation is unnecessarily complex. I have not successfully validated an `<input name='' type='email'>` with `flowStepCallback`.

Examples for each input type would get the co

[2018-03-24 15:47] jonasaurus commented on #205
Having this issue when requiring conversational-form from NPM and bundling.

[2018-03-25 08:15] diedea opened #229 "trigger action after specific user input"
Hey there,
I was wondering if there is a way to trigger an action in an event listener after a specific user input (e.g. the second in a list of radio buttons)?
Mind you, I'm not a professional, so maybe I've overlooked something.
Any help is appreciated, love the project!